<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>云沃客简介</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body id="report">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% if user %}
            {% include "header.html" %}
          {% else%}
            {% include "header-nologin.html" %}
          {% endif%}
        </div>
      </nav>
    </header>
    <div class="container yzj-top-distance50">
      <div class="col-xs-3 clear-left yzj-size-16">
        <span class="yzj-right-distance15"><img src="/static/images/aboutus-icon01.png"></span>
        <span class="text-muted yzj-size-18">关于我们</span>
        <p class="line"></p>
        <p class="yzj-left-distance35"><a href="/about" class="active">云沃客简介</a></p>
        <p class="yzj-left-distance35 yzj-top-distance15"><a href="/joinus">加入我们</a></p>
        <p class="yzj-left-distance35 yzj-top-distance15"><a href="/concatus">联系我们</a></p>
        <p class="yzj-left-distance35 yzj-top-distance15"><a href="/legal/privacy">注册协议</a></p>
        <p class="yzj-left-distance35 yzj-top-distance15"><a href="/legal">用户协议</a></p>
      </div>
      <div class="col-xs-9 clear-both">
         <h4 class="text-muted"><strong>云沃客简介</strong></h4>
  <div class="yzj-box yzj-top-distance30">
      <h4 class="yzj-top-distance20 text-muted">了解我们</h4>
      <div class="yzj-top-distance50">
        <div class="pull-left yzj-size-14 yzj-height28 yzj-width410 text-info">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京云族佳科技有限公司旗下的云沃客软件开发众包平台，
是中国专业的IT软件众包服务平台，利用众包的模式，让企业和开
发者之间都能得到实惠。<br/>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在云沃客软件开发众包平台上，有大量的IT专业人才为您提供
服务，涵盖IT技术的各个领域，包括：设计、软件开发、移动开发、
网站开发、游戏开发、测试等…..<br/>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在云沃客软件开发众包平台上，借助需求方和开发者之间的双
向选择，需求方企业能够有效地提升工作效率，淘汰冗员；同时，
又能让一些以IT服务为主要盈利模式的供应方可以不断持续发展。
        </div>
        <div class="pull-right">
          <img src="/static/images/aboutywk-img01.png">
        </div>
        <div class="clearfix"></div>
        <div class="text-info yzj-height28 yzj-size-14">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          通过众包的服务模式，结合互联网、大数据和移动信息技术，软件服务行业在“互联网+”的触发下，正着力发展成为行业创新的一
个新趋势。在这种新趋势下，软件服务行业采用共享和分享模式，将在中国构建起一个新的产业形态。
        </div>
      </div>
      <div class="yzj-top-distance30 text-center">
        <img src="/static/images/aboutywk-text-icon.png"/>
        <p class="yzj-size-14 yzj-top-distance10 text-info">为实现众包业务在中国落地而奋斗，为解决全球程序员的境遇而奋斗。</p>
        <div class="line02"></div>
      </div>
      <div class="yzj-top-distance50">
        <h4 class="yzj-top-distance20 text-muted">在这里遇见云沃客</h4>
        <p class="yzj-top-distance20 yzj-height28 yzj-size-14 text-info">
          人才，一直是制约一个企业发展的核心问题，正所谓千军易得，一将难求。<br/>
作机会，自由职业，对于开发者来说，又很难得到相关行业的用人信息….<br/>
正是基于此，北京云族佳科技有限公司秉承合作、共享的理念，倾力打造了专注于众包形式的软件开发服务平台---云沃客。为远隔千里
的需求方和开发者之间能够达到快速匹配。<br/>
无论您需要设计师还是程序员，都可以通过我们为您寻得；无论您需要从事哪方面的开发工作，我们都可以为您推送相关项目。<br/>
快来这里，跟云沃客相遇吧~<br/>
        </p>
        <div class="row yzj-top-distance30">
          <div class="col-xs-2 text-center">
          <img src="/static/images/aboutywk-icon01.png">
          <p class="yzj-size-12 yzj-height30 yzj-top-distance10">任务在线协同<br/>管理系统</p>
          </div>
          <div class="col-xs-2 text-center">
          <img src="/static/images/aboutywk-icon02.png">
          <p class="yzj-size-12 yzj-height30 yzj-top-distance10">智能精准匹配<br/>推送系统</p>
          </div>
          <div class="col-xs-2 text-center">
          <img src="/static/images/aboutywk-icon03.png">
          <p class="yzj-size-12 yzj-height30 yzj-top-distance10">众包流程监控与<br/>监理服务</p>
          </div>
          <div class="col-xs-2 text-center">
          <img src="/static/images/aboutywk-icon04.png">
          <p class="yzj-size-12 yzj-height30 yzj-top-distance10">众包拆分PM<br/>咨询服务</p>
          </div>
          <div class="col-xs-2 text-center">
          <img src="/static/images/aboutywk-icon05.png">
          <p class="yzj-size-12 yzj-height30 yzj-top-distance10">远程可视化开发<br/>测试理念</p>
          </div>
          <div class="col-xs-2 text-center">
          <img src="/static/images/aboutywk-icon06.png">
          <p class="yzj-size-12 yzj-height30 yzj-top-distance10">Git代码远程共享<br/>协作系统</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="yzj-top-distance40"></div>
      </div>
      <div class="line02"></div>
      <div class="yzj-top-distance50">
        <h4 class="yzj-top-distance20 text-muted">创造共享和自由</h4>
        <p class="yzj-top-distance20 yzj-height28 yzj-size-14 text-info">
          打破传统的工作模式，跟朝九晚五的工作说再见，您可以摆脱时间的束缚，抛开空间的概念，随时随地接收适合自己的工作任务邀请，
远程协同完成模块化软件任务的开发，获得相应的报酬。
平台为软件开发者和项目需求者量身打造契合软件众包开发的流程服务与辅助工具，助力“云沃客”一族轻松实现自由自在的工作风格，
掌控自己的自由人生。
        </p>
      </div>
       <div class="clearfix"></div>
        <div class="yzj-top-distance40"></div>
      <div class="line02"></div>
      <div class="yzj-top-distance50">
        <h4 class="yzj-top-distance20 text-muted">引领机会与价值</h4>
        <p class="yzj-top-distance20 yzj-height28 yzj-size-14 text-info">
          云沃客平台同时为开发方和需求方提供了更加便捷的软件开发众包流程服务，需求者可以将自己的项目通过众包的方式选贤任能，寻找那
个最合 适的开发人员，高效率、低成本的完成开发任务，解决招人难，成本高的行业痛点。开发者可以在这里找到更多的工作机会。
云沃客秉承为用户创造价值的理念，将长期坚持不懈地为实现用户的价值而奋斗。
        </p>
      </div>
       <div class="clearfix"></div>
        <div class="yzj-top-distance40"></div>
      <div class="line02"></div>
      <div class="yzj-top-distance50">
        <h4 class="yzj-top-distance20 text-muted">发展理念</h4>
        <p class="yzj-top-distance20 yzj-height28 yzj-size-14 text-info">
专业——基于云计算理念和技术的平台架构与流程设计<br/>
专注——专注于互联网的特色，专注于众包形式的云工作实现<br/>
极致——极致的云工作用户体验，以核心价值的打造为策略中心<br/>
口碑——从用户价值出发，为用户价值服务，无用户，不口碑！<br/>
        </p>
      </div>
  </div>
  
      </div>
    </div>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/notice.js"></script>
</body>
</html>
