<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>个人资料</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <!--引用百度地图API-->
  <style type="text/css">
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
  </style>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body id="report">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% if user %}
            {% include "header.html" %}
          {% else%}
            {% include "header-nologin.html" %}
          {% endif%}
        </div>
      </nav>
    </header>

    <div class="container yzj-top-distance50">
      <div class="col-xs-3 clear-left yzj-size-16">
        <span class="yzj-right-distance15"><img src="/static/images/aboutus-icon01.png"></span>
        <span class="text-muted yzj-size-18">关于我们</span>
        <p class="line"></p>
        <p class="yzj-left-distance35">
          <a href="/about">云沃客简介</a>
        </p>
        <p class="yzj-left-distance35 yzj-top-distance15">
          <a href="/joinus">加入我们</a>
        </p>
        <p class="yzj-left-distance35 yzj-top-distance15">
          <a href="/concatus" class="active">联系我们</a>
        </p>
        <p class="yzj-left-distance35 yzj-top-distance15">
          <a href="/legal/privacy">注册协议</a>
        </p>
        <p class="yzj-left-distance35 yzj-top-distance15">
          <a href="/legal">用户协议</a>
        </p>
      </div>
      <div class="col-xs-9 clear-both contactus">
        <h2>联系我们</h2>
        <div class="contactus-body">
          <div class="map" id="dituContent" style="width:100%;height:344px;border:#ccc solid 1px;"></div>
          <ul class="info clearfix">
            <li class="icon-adress">
              <h4>地址</h4>
              <p>北京市朝阳区北苑路金泉广场1-2522</p>
            </li>
            <li class="icon-phone">
              <h4>联系电话</h4>
              <p>010-53800751</p>
            </li>
            <li class="icon-servers">
              <h4>客服QQ</h4>
              <p>QQ:2330853761 周一至周五9:30-18:30</p>
            </li>
            <li class="icon-mail">
              <h4>邮箱</h4>
              <p>北京市朝阳区北苑路金泉广场1-2522</p>
            </li>
          </ul>
          <ul class="adress clearfix">
            <li>
              <h4>厦门分公司</h4>
              <p>电话：028-85138468<br>地址：福建省厦门市思明区软件园
              <br>二期望海路67号1603室</p>
            </li>
            <li>
              <h4>广州分公司</h4>
              <p>电话：020-38351256<br>地址：广东广州市天河区华南师范大学<br>广州天河北路906号高科大厦A栋1806室</p>
            </li>
            <li>
              <h4>西安分公司</h4>
              <p>电话：029-81100577<br>地址：陕西省西安市高新区<br>锦业一路56号研祥城市广场A座1505</p>
            </li>
            <li>
              <h4>深圳分公司</h4>
              <p>电话：0755-86665480<br>地址：深圳市南山区铜鼓路<br>大冲商务中心1栋2号楼702单元</p>
            </li>
            <li>
              <h4>成都分公司</h4>
              <p>电话：028-85138468<br>地址：成都市高新区天府三街福年广场T1</p>
            </li>
          </ul>  
        </div> 
      </div>
    </div>
    
    {% include "footer.html" %}
  <script src="/static/production/aboutus.min.js"></script>
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/notice.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
  <script src="/static/js/baidumap.js"></script>
</body>
</html>
