<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>帮助中心-详情页</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% if user %}
          {% include "header.html" %}
          {% else %}
          {% include "header-nologin.html" %}
          {% endif %}
        </div>
      </nav>
    </header>
  </div>
  <div class="help-page" id="body"  v-cloak>
    <div class="banner">
      <input type="search" placeholder="输入您要查找的问题..." @keyup.enter="onEnter">
    </div>
    <div class="main container">
      <div class="slider-left">
        <h2>帮助中心</h2>
        <ul class="help-menu">
          <li class="active">关于云沃客</li>
          {% for x in topics %}
          <li><a href="/help/topic/{{x.id}}">{{ x.name }}</a></li>
          {% endfor %}
          <li>帐号管理</li>
        </ul>
      </div>
      <div class="body"> 
        <ul class="bread-crumbs">
          <li>帮助中心</li>
          <li>关于云沃客</li>
        </ul>
        <div class="article">
          <p class="article_title">{{ title }}</p>
          <p class="article_content">{{ answer }}</p>
        </div>  
      </div>
    </div>
  </div>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/vue-directive.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/notice.js"></script>
  <script src="/static/production/help.min.js"></script>
</body>
</html>
