<div id="allproject" class="allproject" ng-controller="allproject">
    <div class="title-panel">
        <div class="title">
            <p id="allpro">查看全部项目</p>
        </div>
    </div>
    <div class="">
        <table class="allproject-table">
            <thead>
                <tr>
                    <th>项目名称</th>
                    <th>参与人员</th>
                    <th>最新时间</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" ng-repeat="project in AllProject">
                    <td ng-bind="project.name"></td>
                    <td></td>
                    <td ng-bind="project.update_at | date:'yyyy/MM/dd'"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
