<div id="chatrecord" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        聊天记录
    </div>
    <div class="image content">
        <div class="im_history_messages_peer">
            <div class="im_history_wrap">
              <!-- scroller -->
                <div class="im_dialogs_col">
                    <div id="chatrecord-bar"  onscroll="angular.element(this).scope().$root.reloadHistory(event);" class="right-content">
                            <!-- track by $index -->
                            <div ng-repeat="history in chatrecordlist | filter:search_record" ng-attr-id="msg{{history.msgid}}">
                                <div class="{{history.belong}} msg msg-col">
                                    <span class="head-img"><img ng-src="{{history.avatar}}" alt=""/></span>
                                    <div class="msg" ng-bind-html="history.message | message"></div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui icon input">
            <input type="text" placeholder="搜索内容" ng-model="search_record">
            <i class="search link icon"></i>
        </div>
        <button class="ui teal basic button">搜索</button>
    </div>
</div>
