<div id="chatroom" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        创建讨论组
    </div>
    <div class="image content">
        <ul class="modal-ul">
            <li>
                <div class="ui icon input">
                    <i class="search link icon"></i>
                    <input type="text" placeholder="搜索联系人" ng-model="query">
                </div>
            </li>
            <li>
                <table class="ui very basic table">
                    <tbody>
                        <tr ng-repeat="member in members | filter:query">
                            <td><img class="dialog_photo" ng-src="{{member.avatar}}" alt="" /></td>
                            <td ng-bind="member.name"></td>
                            <td>
                                <div class="ui checkbox">
                                    <input type="checkbox" ng-model="member.checked" ng-click="chk(member.id)" name="example">
                                    <label></label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>

    </div>
    <div class="actions">
        <!-- <button class="ui primary button" ng-click="CreateGroup()">Save</button>
        <button class="ui button">Discard</button> -->
        <div class="ui black deny button" ng-click="CreateGroup()">确定</div>
        <div class="ui positive right labeled icon button">取消</div>
    </div>
</div>
