<div>
    <ul class="nav-stacked">
        <div class="group_title">
            <p>
                洽谈中的项目
            </p>
        </div>
        <div class="nano interview-group-list">
            <div class="nano-content">
                <li class="im_dialog_wrap" ng-repeat="ginfo in interview_info_list | filter:search" ng-dblclick="DbClickGroup(ginfo)">
                    <a dialog class="im_dialog">
                        <div class="im_dialog_time">
                            <span class="im_dialog_date ng-binding"></span>
                        </div>
                        <div class="im_dialog_photo" ng-bind-html="ginfo.group_avatar | filter_img"></div>
                        <div class="im_dialog_message_wrap">
                            <div class="im_dialog_name im_dialog_peer">
                                <span ng-bind="ginfo.group_name"></span>
                            </div>
                            <div class="im_dialog_message im_dialog_peer">
                                <span></span>
                            </div>
                        </div>
                    </a>
                </li>
                <div class="">
                    <a id="allpro" href="" class="all-pro">查看全部项目</a>
                </div>
            </div>
        </div>
    </ul>

    <ul id="chatrooms" class="nav-stacked">
        <div class="group_title">
            <p>
                聊天室
            </p>
        </div>
        <div class="group-chat-room nano group-list">
            <div class="nano-content">
                <li class="im_dialog_wrap" ng-repeat="ginfo in group_info_list | filter:search" ng-dblclick="DbClickGroup(ginfo)" ng-if="ginfo.interview == false">
                    <a dialog class="im_dialog">
                        <div class="im_dialog_time">
                            <span class="im_dialog_date ng-binding"></span>
                        </div>
                        <div class="im_dialog_photo" ng-bind-html="ginfo.group_avatar | filter_img"></div>
                        <div class="im_dialog_message_wrap">
                            <div class="im_dialog_name im_dialog_peer">
                                <span ng-bind="ginfo.group_name"></span>
                            </div>
                            <div class="im_dialog_message im_dialog_peer">
                                <span></span>
                            </div>
                        </div>
                    </a>
                </li>
            </div>
        </div>
    </ul>
</div>
