<!-- <div class="top">
    <div class="log">
        <img src="img/log.png" alt=""/>
    </div>
    <div class="head_peer_title_wrap">
        <div class="nav-title">
            <span class="item" ng-repeat="item in item_list">
                <a href="" ng-bind="item"></a>
            </span>
        </div>
    </div>
    <div class="function-bar">
        <span class="icon-img"><img src="img/search.png" alt=""/></span>
        <span class="icon-img"><img src="img/marks.png" alt=""/></span>
        <span class="icon-img"><img src="img/bell.png" alt=""/></span>
        <span class="head"><img src="img/noaway.jpg" alt=""/></span>
    </div>
</div> -->
<!-- <navbar></navbar> -->
<iframe src="/nav/header" width="1250" frameborder="0" scrolling="no" seamless="seamless" height="300"></iframe>

<div id="loading" class="ui active inverted dimmer">
    <div class="ui text loader">Loading</div>
</div>

<div id="main" init class="main" ng-controller="InitController">
    <div class="tool-bar">
        <ul>
            <li ng-class="{true:'toolbar-active'}[session_record]" ng-click="session()"><img src="img/session.png"></li>
            <li ng-class="{true:'toolbar-active'}[group_record]" ng-click="group()"><img src="img/temp_group.png"></li>
            <li ng-class="{true:'toolbar-active'}[contacts_record]" ng-click="contacts()"><img src="img/contact.png"></li>
        </ul>
    </div>

    <div class="ui-control">
        <div class="left">
            <div class="im_dialogs_panel">
                <div class="panel-col">
                    <div class="panel-content">
                        <div class="panel-avatar">
                            <img ng-src="{{profile.avatar}}" alt=""/>
                        </div>
                        <span class="panel-title" ng-bind="profile.name"></span>
                    </div>

                    <div id="add" class="ui dropdown">
                        <span class="dropdown"><img src="img/add.png" alt=""/></span>
                        <div class="menu">
                            <div id="create_chatroom" class="item" data-value="male" ng-controller="CreateChatroom">创建聊天室
                                <chatroom></chatroom>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt search-input" type="text" placeholder="搜索联系人、项目、聊天室" ng-model="search">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>

            </div>
            <div class="im_dialogs_col">
                <div id="left-scroll" class="left-content" ng-controller="DialogRecordController">
                    <session ng-show="session_record"></session>
                    <group ng-show="group_record"></group>
                    <contacts ng-show="contacts_record"></contacts>
                </div>
            </div>
        </div>

        <div class="right" ng-show="session_record" ng-controller="HistoryMessagesController">
            <div class="title-panel">
                <div class="title">
                    <p ng-bind="dialog_title"></p>
                </div>
                <div class="right-tool-bar">
                    <!-- <a href="" class="t1"></a> -->

                    <div id="creategroup" class="ui floating labeled icon dropdown">
                        <a href="" class="t2"></a>
                        <div class="menu">
                            <div ng-click="CreateUserGroup()" class="item">
                                <span class="text">创建讨论组</span>
                            </div>
                        </div>
                    </div>

                    <a href="{{offer_url}}" class="t3" ng-show="offer">发送offer</a>
                </div>
            </div>

            <div class="im_history_messages_peer">
                <div class="im_history_wrap">
                    <div scroller class="im_dialogs_col">
                        <div id="right-scrollbar" class="nano right-content">
                            <div class="nano-content content">
                                <div ng-repeat="history in historys" ng-attr-id="msg{{history.msgid}}">
                                    <div class="{{history.belong}} msg msg-col">
                                        <span class="head-img"><img ng-src="{{history.avatar}}" alt=""/></span>
                                        <div class="msg" ng-bind-html="history.message | message"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="im_bottom_panel_wrap">
                <div class="function-panel">
                    <a class="emoji-btn"></a>
                    <div class="upload">
                        <input type="file" onchange="angular.element(this).scope().FileChanged()" id="file-input" class="im_media_attach_input" size="15" multiple="multiple" accept="image/*, video/*, audio/*" title="发送媒体">
                        <span>上传</span>
                    </div>
                    <a href="" id="history" class="history" ng-click="chatrecord(dialog_info)">聊天记录</a>
                    <chatrecord></chatrecord>
                </div>
                <div sendmsg class="im_input">
                    <textarea rows="5" id="msg-input" class="emojis-wysiwyg" style="display: none;" ng-model="textarea"></textarea>
                    <botton class="ui button" ng-click="send(dialog_info)">发送</botton>
                </div>
            </div>

        </div>

        <!-- allproject start-->
        <allproject ng-show="all_project"></allproject>
        <!-- allproject end -->
    </div>
    <pop></pop>
</div>
