<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="img/yzj_logo.png" height="52" width="171">
            </a>
        </div>

        <ul class="Top-center pull-left yzj-size-16 freelancer find_job">
            <li>
                <a href="/find-work-home" class="text-info">找工作</a>
            </li>
            <li>
                <a href="/freelancers/jobs" class="text-info">我的工作</a>
            </li>
            <li>
                <a href="/freelancers/reports" class="text-info">报表</a>
            </li>
            <li>
                <a href="/notify" class="text-info">消息</a>
            </li>
        </ul>

        <div class="navbar-right navbar-brand Top-right">
            <ul class="pull-right">
                <li id="show_search">
                    <a href="#">
                        <img src="img/nav-icon02.png"></a>
                </li>
                <li class="dropdown">
                    <a href="/help">
                        <img src="img/nav-icon03.png">
                    </a>
                </li>
                <li id="notice" class="notice-box">
                    <a href="#" class="notice-hide"><img src="img/nav-icon04.png"></a>
                    <a href="#" class="notice-show"><img src="img/nav-icon05.png"></a>
                    <span class="isonline"></span>
                    <div class="notice-remind">
                        <div class="d-list">
                            <a style="cursor: pointer;" onclick="seeNotice(this.id.substring(2),this.name)" id="a_126949" name="/freelancers/offer/6cadff54153c56b1">
                                你收到的offer［我就是测试~可以报名但别理我~］已过期
                            </a>
                            <span onclick="putNotice(this.id)" class="delete-box" id="126949">
                                <img src="img/icon-delete.png">
                            </span>
                        </div>
                        <div class="d-list">
                            <a style="cursor: pointer;" onclick="seeNotice(this.id.substring(2),this.name)" id="a_1782" name="/freelancers/offer/3ff1a79395a1bef1">
                                您收到了［逍遥派］发来的项目［服务方再次结束合同吧］offer
                            </a>
                            <span onclick="putNotice(this.id)" class="delete-box" id="1782">
                                <img src="img/icon-delete.png">
                            </span>
                        </div>
                        <div class="d-list">
                            <a style="cursor: pointer;" onclick="seeNotice(this.id.substring(2),this.name)" id="a_1773" name="/freelancers/offer/2421e2ddca4107d4">
                                ［逍遥派］撤销了offer［时薪制的offer是什么样的］
                            </a>
                            <span onclick="putNotice(this.id)" class="delete-box" id="1773">
                                <img src="img/icon-delete.png">
                            </span>
                        </div>
                        <div class="d-list">
                            <a style="cursor: pointer;" onclick="seeNotice(this.id.substring(2),this.name)" id="a_1726" name="/freelancers/offer/2421e2ddca4107d4">
                                您收到了［逍遥派］发来的项目［时薪制的offer是什么样的］offer
                            </a>
                            <span onclick="putNotice(this.id)" class="delete-box" id="1726">
                                <img src="img/icon-delete.png">
                            </span>
                        </div>
                        <div class="d-list">
                            <a style="cursor: pointer;" onclick="seeNotice(this.id.substring(2),this.name)" id="a_1644" name="/freelancers/contracts/7b0a1032f4a17288">
                                您的合同［检查并付款］已经生效
                            </a>
                            <span onclick="putNotice(this.id)" class="delete-box" id="1644">
                                <img src="img/icon-delete.png">
                            </span>
                        </div>

                        <div class="d-list-last">
                            <a href="/notify">
                                查看所有通知
                            </a>
                        </div>
                    </div>
                </li>
                <li class="default-img dropdown">
                    <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <a href="#" class="user-avatar">
                            <img src="http://7xr5pf.com1.z0.glb.clouddn.com/avatar-b3060bf1-29d5-4b22-bcdc-690c7e773eea-1464316062.png" class="yzj-right-distance20 img-circle" width="32" height="32">
                        </a>
                        <a href="#">
                            <img style="width:13px;height:8px;" src="img/nav-down.png">
                        </a>
                    </span>
                </li>
            </ul>
            <!-- 搜索框 -->
            <div id="search_box" class="pull-right search-box" style="margin-right:-40px;display:none;">
                <input id="search_text" class="form-control search-box-text" type="text" placeholder="搜索">
                <ul>
                    <li class="pull-left search-box-icon dropdown">
                        <img src="/static/images/nav-icon02.png" class="yzj-right-distance10">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="/static/images/nav-down.png">
                        </a>
                        <ul class="dropdown-menu find-down">
                            <span class="active">找项目</span>
                            <span>找高手</span>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</nav>
