<div id="session_list" class="nano left-list">
    <ul class="nano-content nav-stacked" ng-controller="AppIMDialogController">
        <li ng-hide="" class="im_dialog_wrap" ng-repeat="dialog in IMDialog | filter:search track by $index" ng-click="Select(dialog)">
            <a dialog class="im_dialog">
                <div class="im_dialog_time">
                    <span class="im_dialog_date ng-binding" ng-bind="dialog.time | dateAge"></span>
                </div>
                <div class="im_dialog_photo" ng-bind-html="dialog.avatar | filter_img">
                </div>
                <div class="im_dialog_message_wrap">
                    <div class="im_dialog_name im_dialog_peer">
                        <span ng-bind="dialog.name"></span>
                    </div>
                    <div class="im_dialog_message im_dialog_peer">
                        <span ng-bind="dialog.msgContent | session_filter"></span>
                    </div>
                </div>
            </a>
        </li>
        <li class="session-no-msg" ng-if="!IMDialog">
            <img src="img/lantern.png" alt="" />
            <p>
                您还没有任何消息
            </p>
            <p>
                现在就去创建聊天室
            </p>
        </li>
    </ul>
</div>
