<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>云沃客-用户协议</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body id="report">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% if user %}
            {% include "header.html" %}
          {% else%}
            {% include "header-nologin.html" %}
          {% endif%}
        </div>
      </nav>
    </header>
    <div class="container yzj-top-distance50">
      <div class="col-xs-3 clear-left yzj-size-16">
        <span class="yzj-right-distance15"><img src="/static/images/aboutus-icon01.png"></span>
        <span class="text-muted yzj-size-18">关于我们</span>
        <p class="line"></p>
        <p class="yzj-left-distance35"><a href="/about">云沃客简介</a></p>
        <p class="yzj-left-distance35 yzj-top-distance15"><a href="/joinus">加入我们</a></p>
        <p class="yzj-left-distance35 yzj-top-distance15"><a href="/concatus">联系我们</a></p>
        <p class="yzj-left-distance35 yzj-top-distance15"><a href="/legal/privacy">注册协议</a></p>
        <p class="yzj-left-distance35 yzj-top-distance15"><a href="/legal" class="active">用户协议</a></p>
      </div>
      <div class="col-xs-9 clear-both">
        <h4 class="text-muted"><strong>用户协议</strong></h4>
        <div class="yzj-box yzj-top-distance30">
          <h4 class="yzj-top-distance20 text-center">“云沃客”网络平台模块化云工作众包任务协议</h4>
          <div class="yzj-top-distance50">
            <div class="yzj-size-14 yzj-height28 text-info">
              第一条 为了维护云沃客正常交易秩序，推动服务交易的繁荣，保障交易顺利进行，根据《云沃客用户协议》及《云沃客服务规则》，制定本协议。投标时，请您认真阅读本协议，审阅并接受或不接受本协议（未成年人应在法定监护人陪同下审阅）。<br/>
              第二条 若您已经进行申请投标，即表示您已充分阅读、理解并同意自己与本网站订立本协议，且您自愿受本协议的条款约束。本网站有权随时变更本协议并在本网站上予以公告。经修订的条款一经在本网站的公布后，立即自动生效。如您不同意相关变更，必须停止申请投标行为。本协议内容包括协议正文及所有云沃客已经发布的各 类规则。所有规则为本协议不可分割的一部分，与本协议正文具有同等法律效力。一旦您继续进行投标行为，则表示您已接受并自愿遵守经修订后的条款。<br/>
              第三条 开发者在云沃客上参与申请投标，应当遵守法律、法规、行政规章的规定和云沃客服务协议及相关规则，开发者禁止参与违规工作任务，否则一切不利后果由本人承担；<br/>
              第四条 开发者应当遵守国家法律、法规、行政规章的规定。对任何涉嫌违反法律、法规、行政规章的行为，本规则已有规定的，适用本规则；本规则尚无规定的，云沃客有权酌情处理。但云沃客对违规开发者的处理不免除其应当承担的法律责任。<br/>
              第五条 开发者应保证投标相应文件为原创，此前未以任何形式发表，不属于公开相应文件。投标相应文件或任何用于创作参选标件的素材均不得侵犯第三方的专利权、著作权、商标权或其他任何专有权利。<br/>
              第六条 云沃客开发者应当保证投标中的所有信息真实、可靠，包括开发者注册信息。不得夸大或者伪造自身经历和相应文件案例，以影响需求者判断或者骗取需求者信任。如果在云沃客开发者抢中相关云工作任务模块之后，云沃客平台或者需求者/需求者发现存在上述行为，云沃客平台或者需求者有权终止已达成的工作任务协议，已支付给开发者的报酬需全额退回。对于因此造成的损失，云沃客平台和需求者保留追偿的权利。<br/>
              第七条 开发者不得捏造、散布不实言论、诋毁、污蔑其他开发者，进行不正当竞争。<br/>
              第八条 开发者的投标不得含有任何联系方式（联系方式：包括但不限于电话、QQ、邮箱、网址）<br/>
              第九条 无效投标的判定标准：<br/>
              1、对于需要提交实质作品的工作任务，无效投标判定标准如下：<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;A、投标为广告、低俗信息等违规内容；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;B、投标与工作任务无任何关联；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;C、并没有提交实际工作成果的；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;D、开发者投标无法满足工作任务的基本要素；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;E、开发者投标涉及一稿多投等情况；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;F、其他属于无效投标的情况。<br/>
              2、对于无法上传实质相应文件的工作任务，无效投标判定标准如下：<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;A、经云沃客判定没有开发者完成工作任务；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;B、需求者有证据证明开发者投标相应文件并非开发者本人的作品；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;C、其他属于无效投标的情况。<br/>
              第十条 开发者上传的相应文件应满足工作任务要求。对于无效投标，云沃客有权未经开发者同意进行屏蔽。同时对开发者进行相应的处罚。<br/>
              第十一条 工作任务验收规范：<br/>
              开发者申请工作任务时，必须按照需求者发布的的工作任务内容提交响应相应文件，不得提交与需求者工作任务内容不相符的相应文件和模板相应文件，开发者一旦提交这样的相应文件将按照无效相应文件进行处罚。<br/>
              需求者会通过筛选所有申请所发布的工作任务的开发者，比对这些开发者的抢应信息进行评选，最终确定中标者。中标开发者需要按照工作任务发布时公布的技术规范和验收标准提交最终工作任务成果，并和需求者签订最终的云工作任务协议。<br/>
              云工作众包任务模块内容和要求将自动作为本协议的附件，视为工作任务验收的标准。<br/>
              第十二条 云沃客任务报酬及支付方式<br/>
              每一项云工作任务的报酬金额由开发者自报价决定，开发者根据云沃客发布的任务需求描述在提交自己的抢活申请时给出自己的报价，被平台或需求者最终选中后自报价即为此工作任务的最终报酬。报酬金额为含税价。<br/>
              为推动众包模式发展，提供便利的互联网云工作众包服务，云沃客平台在初期仅收取任务报酬金额10%的平台服务费。<br/>
              为保证开发者和需求者的合法利益，确保工作任务及时准确的完成，云工作任务报酬支付采用需求者预付款支付、平台担保支付的方式。<br/>
              预付款支付是指模块众包任务发布时通过云沃客支付账户预先支付相应的预付款，众包任务发布后，需求者选中投标开发者后将任务报酬尾款支付给平台进行担保。开发者成功完成任务并经需求者验收完毕后可领取相应任务报酬。<br/>
              云工作任务报酬将通过云沃客平台支付宝账号与开发者本人一致的支付宝账号或银行卡号转账进行支付。任务报酬收入的税款由相应开发者自行承担。<br/>
              第十三条 对于需要提供初始工程文件和交付最终源文件的任务，双方需通过云沃客git平台进行提交与交付。开发者应在完成工作之后通过云沃客git平台主动将源文件交付给需求者。<br/>
              第十四条 开发者投标相应文件被选为中标并支付报酬后，该相应文件的知识产权即转让给需求者所有。由双方酌情自行签订知识产权转让协议。<br/>
              第十五条 需求者若需要线下签署知识产权转让协议，中标开发者有义务配合需求者完成协议的签署，若开发者拒绝签署，需求者有权要求取消开发者中标资格退还赏金，该开发者也将视为"未完成工作"受到云沃客平台给予的相应处罚。<br/>
              第十六条 如果需求者因开发者提交的内容侵犯了其他任何第三方的权利而遭到损失，有权利向中标开发者追偿。<br/>
              第十七条保证原创服务和按时完成服务<br/>
              在您向需求者提供保证原创服务和按时完成服务过程中，您承诺遵守以下约定：<br/>
              1、您同意遵守本协议、《云沃客服务条款》、《云沃客抢活协议》以及所有公示于云沃客与之相关的规则。<br/>
              2、您拥有的合法的权利和资格向云沃客上传有关服务信息，且前述行为未对任何第三方合法权益，包括但不限于第三方知识产权、财产权等构成侵害。如因您的行为导致云沃客或其关联公司遭受任何第三方提起的索赔、诉讼或行政责任，您应承担全部责任。<br/>
              3、您应在投标内容、响应文件描述页面、个人中心页面等所有云沃客提供的渠道中，承诺为需求者提供保障服务，包括保证完成需求者的工作任务，保证完成质量并且修改到需求者满意为止。承诺向需求者提供原创或全新作品。<br/>
              4、除特定类目外，您同意一旦需求者在交易完成后一（1）年内向您提出保证原创赔付，您应积极配合，与需求者主动协商，自愿友好达成赔付协议。<br/>
              5、当发生需求者主张作品非原创或其它您违反保证原创服务承诺等情形时，您应积极与需求者沟通协商并保证需求者的权益。对于需求者因前述问题提出的赔付要求，您应积极处理。<br/>
              6、您同意当云沃客受理保证原创服务维权和赔付申请时，您应积极配合，在云沃客要求的时间期限内提供相关证据材料，以证明相关问题不存在或符合双方的约定，并保证所提交的证据材料真实、合法。如 云沃客以普通或非专业人员的知识水平标准，对您和/或需求者提供的证据材料进行表面审核后，以其独立判断您未全面履行保证原创服务内容、或未按时完成工作任务服务内容、或未达到云工作任务发布时约定的验收标准时的，则云沃客有权根据本协议及其它公示规则的规定，不予支付尾款保证金。同时要求您退回相关已收获的报酬款项。<br/>
              9、您同意当云沃客用您在本协议项下发生未达到尾款支付约定时，即视为您违规，云沃客有权给予您相应信誉度评价等相关处罚。
              第十八条 附则：<br/>
              在本协议中所使用的下列词语，除非另有定义，应具有以下含义：<br/>
              "本网络平台"在无特别说明的情况下，均指"云沃客"（www.yunzujia.com；www.yunwoke.com；www.clouderwork.com）。<br/>
              "云工作"：是指在本网站云沃客平台上发布的按照模块化拆分开的、可以通过远程协作方式、面向所有相关专业人群、由个人开发者或技术人员在空闲时间完成的工作任务。<br/>
              "相应文件"：是指开发者申请或交接工作任务模块时，根据工作任务模块要求提交的文本文档、图片、视频、源代码、源文件、源程序等相应文件。<br/>
              "需求者"：是指在本网站上进行发布工作任务或购买增值服务等"买"操作的用户。云沃客官方发布工作任务时，需求者和需求者便指的是北京云族佳科技有限公司。<br/>
              "开发者"：是指在注册在本网站上参加竞标、销售服务、出售技能等"卖"操作的用户。<br/>
              "用户"：指具有完全民事行为能力的云沃客各项服务的使用者。<br/>
              第十九条 本规则自发布之日起实行。<br/>
 
              云沃客需求者服务协议<br/>
              第一条 为了维护云沃客平台的正常运营秩序，推动云时代、云工作众包的繁荣发展，保障云工作众包任务顺利进行，根据《云沃客平台协议》及《云沃客服务规则》，制定本协议。<br/>
              第二条 需求者发布任务需要符合国家法律法规以及云沃客关于云工作众包任务的相关规定。<br/>
              第三条 凡是违反宪法精神和中华人民共和国相关法律法规、带有民族歧视性、夸大宣传并带有欺骗性、有损于社会主义道德风尚或者有其他不良影响的需求，云沃客将拒绝提供服务。<br/>
              1、以下内容由于违反法律、法规和云沃客相关规则而禁止发布：<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;A、软件破解、程序破解类需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;B、游戏外挂、程序外挂类需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;C、盗取网银账号、游戏账号类需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;D、侵犯第三方知识产权的需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;E、侵犯第三方权利的需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;F、木马、黑客程序等有损网络安全的需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;G、涉黄、赌博等需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;H、散布网络谣言的需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;I、含有联系方式（联系方式：包括但不限于电话、QQ、邮箱、网址等）；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;J、其他违反法律、法规、行政规章等相关规定的需求。<br/>
              2、以下需求可能对交易参与方或者第三方带来损害而禁止发布：<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;A、论文代写类需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;B、需要手机验证注册的需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;C、需要银行账号验证或者付费才能参与的需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;D、以招兼职为名进行的欺骗型需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;E、可能套取需求参与方身份证、邮箱、手机号、银行账号等个人或者机构隐私信息的需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;F、刷钻、刷信用、账号买卖等需求（允许交易的游戏账号除外）；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;G、需求者发布虚假信息的需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;H、需求描述通过链接等方式逃避云沃客审核的；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;I、可能给他人或者其他机构带来损害的需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;J、其他违背社会伦理或社会主流价值观的需求；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;K、需要线下转账、充值、使用资金的需求。<br/>
              第四条 云工作众包任务模块描述要求：<br/>
              1、云工作众包任务描述需要准确、完整；<br/>
              2、一个云工作众包任务模块只能作为一件发标事务的处理；<br/>
              3、一个项目需求类型可分解成多个模块化云工作众包任务。<br/>
              4、每一个云工作众包任务模块必须同时包含以下要素方可发布：<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;a、需求说明；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;b、技术规范与开发环境要求说明；<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;c、验收标准及测试用例<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;d、时间要求和预算参考区间<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;e、最终中标选择原则<br/>
              &nbsp;&nbsp;&nbsp;&nbsp;f、投标人员资格要求说明<br/>
              5、内容涉及"招聘"、"兼职"的需求，凡是涉嫌诈骗、欺骗、虚假承诺、需要服务商先承担成本以及跳转站外有交易风险的，云沃客有权关闭该需求。<br/>
              6、为保障发包的可操作性，避免扰乱交易秩序，同时，为防止洗钱等不法行为的发生，特对相关发包事宜上限、下限进行约定：
              单个任务方式不得低于50元/件、不得高于5万元/件；取现申请每次不得少于50元，不得高于2万元。<br/>
              第五条 众包任务需求发布<br/>
              1、云工作众包任务的最终发布标准由需求者核定
              2、需求一经发布，不能取消或修改；补充说明不得增加原有任务工作量或与原需求相冲突<br/>
              3、付费需求成功发布且托管赏金之日起，单个云工作任务交稿期限最长不得超过十五日。预算区间在800元以内的，需求交稿期限最长不得超过三日；<br/>
              4、需求内容中不得含有联系方式；<br/>
              5、同一任务模块禁止重复发布，若用户重复发布，网站将关闭重复的任务模块，如重复发布的任务模块下已有开发者申请投标，网站将统一转至首先发布的任务模块项下。<br/>
              6、禁止通过发布需求来推广自己或别人的其他任务需求，一旦发现，网站将按"垃圾广告"的违规行为进行处罚；<br/>
              第七条 选标规范<br/>
              1、投标截止后，需求者根据所有申请该众包任务的云工作开发者提交的投标信息进行选标。
              2、 需求者承诺应按照云工作任务发布时的选标原则自主评标，并在所有提交投标响应的开发者中选定中标者。最终中标价格由中标开发者自报价为准。其他投标的开发者将作为备用中标开发者，在第一中标者无法完成工作任务或其他意外情况发生时，需求者可在备用开发者中重新选标。选标规则同上。<br/>
              3，如在投标截止后出现无人抢活应标的现象，需求者可重新发布该工作任务，直至中标为止。<br/>
              4、云沃客以普通或非专业人员的知识水平标准，以其独立判断需求者有下列情形之一的，视为作弊：<br/>
              A、需求者以任何原因排除已到达发布标准要求的开发者投标行为，且以此借口宣布未选中任何合适中标开发者的；<br/>
              B、需求者存在其它破坏公平竞争、骗取投标信息、开发者信息和盗取创意的行为。<br/>
              如有作弊行为出现，云沃客有权随时取消该次投标，并由需求者支付预算区间上限金额的10%用于赔偿已投标的开发者。<br/>
              第八条 赏金支付：<br/>
              云工作任务的赏金支付通过预付款形式支付，这种形式是平台为了保障双方利益设置的发布类型，由需求者按照任务预估的预算在平台账户中进行预支付（支付宝或其他支付方式），任务依旧按照接包开发者的报价作为最终确定金额（此报酬金额为含税价，税款由相应开发者承担），任务需求者在选中开发者时向平台支付剩余尾款作为担保。如任务发布失败预付金额全部退回。<br/>
              如在以上任何形式任何支付环节过程中，开发者未达到已发布的相应云工作任务要求并经由云沃客以普通或非专业人员的知识水平标准，以其独立判断该开发者提交的工作任务没有达到测试要求，需求者可拒绝支付款项。<br/>
              需求者需将中标价的10%赏金作为平台服务费，若发生因交易纠纷或双方协商涉及到退款的举报，平台服务费不予退还。<br/>
              第九条 违约责任<br/>
              1、需求者责任：<br/>
              若由于需求者原因，导致工作任务无法完成的，开发者不承担任何责任。若由于需求者原因致使开发者产生损失的，云沃客有权向需求者索取赔偿。<br/>
              2、开发者责任：<br/>
              若开发者在中标后不能按要求完成工作任务，云沃客将按照相应规则进行相应处罚。并保留向其索赔的权利。<br/>
              第十条 本规则自发布之日起实行。<br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/notice.js"></script>
</body>
</html>
