<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>服务方-收藏</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "include/header/client-top.html" %}
        </div>
        {% include "include/header/client-freelancer.html" %}
      </nav>
    </header>
  <div id="body" class="container yzj-top-distance50">
    <div class="row yzj-size-14">
    <!--左侧-->
    <div class="col-xs-3">
      <ul class="emp-service yzj-size-16">
        <li><a href="/clients/freelancers/waiting" class="emp-service01">待签约</a></li>
        <li><a href="/clients/freelancers/hire" class="emp-service02">已雇佣</a></li>
        <li><a href="/clients/freelancers/favorite" class="active emp-service03">收藏</a></li>
      </ul>
    </div>
    <div class="col-xs-9 clear-left">
      <div class="yzj-box" v-if="favorites.length>0">
      <div v-for = "item in favorites">
        <div class="col-xs-1 clear-both">
        <a href="/freelancers/{[item.favorite.uuid]}">
        <img v-bind:src="item.favorite.avatar" width="64" height="64" class="img-circle">
        </a></div>
        <div class="col-xs-4">
          <p class="yzj-size-16 yzj-top-distance10"><a href="/freelancers/{[item.favorite.uuid]}" class="text-warning">{[item.favorite.name]}</a></p>
          <p class="yzj-size-14 yzj-top-distance10 yzj-height30">
          {[item.favorite.overview]}
          </p>
        </div>
        <div class="col-xs-5">
          <p class="yzj-top-distance10">
          <a href="javascript:;" class="project-list-title yzj-right-distance15" title="收藏">
          <span class="glyphicon glyphicon-heart yzj-size-18"></span>
          </a>
          <span class="yzj-size-16">已收藏</span>
          </p>
          <p class="yzj-top-distance10">收藏于{[item.create_at | date_to_str]}</p>
        </div>
        <div class="col-xs-2 clear-right text-center yzj-top-distance10">
          <a class="btn btn-default btn-sm" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            操作
          </a>
          <p class="dropdown-menu Top-right-down handle-down">
            <span class="d-list">
              <a href="/freelancers/{[item.favorite.uuid]}">
                <span class="col-xs-12">
                  查看个人资料
                </span>
              </a>
            </span>
            <span class="d-list">
              <a href="/freelancers/{[item.favorite.uuid]}/invite">
                <span class="col-xs-12">
                  发送邀请
                </span>
              </a>
            </span>
            <span class="d-list">
              <a href="/clients/proposal/{[item.favorite.location.location_id]}/offer">
                <span class="col-xs-12">
                  发送offer
                </span>
              </a>
            </span>
          </p>
        </div>
        <div class="clearfix"></div>
        <div class="line"></div>
      </div>
      <div class="clearfix"></div>
      <div class="text-right" v-page="pageObject" v-bind:query="employment_list_page" ></div>
      </div>

      <div class="yzj-box text-center" v-if="favorites.length==0">
          <img src="/static/images/daily-log-icon.png" class="yzj-right-distance30" />
          <span class="yzj-size-16">你还没有收藏的服务方</span>
      </div>

    </div>
    </div>
  </div>
</div>
<alertdiv :msg="error_msg"></alertdiv>
{% include "footer.html" %}
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/js.cookie.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/editicon-dis.js"></script>
<script src="/static/common/js/yunwork.js"></script>
<script src="/static/common/js/vue-directive.js"></script>
<script src="/static/common/js/service.js"></script>
<script src="/static/production/employment-service.min.js"></script>
<script src="/static/js/notice.js"></script>
</body>
</html>
