<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8" /> 
    <title>统计</title> 
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/redefine.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css" /> 
    <link ref="stylesheet" type="text/css" href="/static/css/hint.min.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head> 
  <body> 
    <div id="layout"> 
      <!--头部--> 
      <header class="header-navbar">
        <nav class="navbar navbar-default">
          <div class="container">
            {% include "include/header/freelancer-top.html" %}
          </div>
          {% include "include/header/freelancer.html" %}
        </nav>
      </header> 
      <div class="container yzj-top-distance50 yzj-size-14" id="container">
        <h4 class="text-muted">统计</h4>
        <div class="yzj-box yzj-border yzj-top-distance20 yzj-box-statisics">
          <img src="/static/images/statistic-1.png" style="float:left;">
          <div class="col-xs-8" style="width:70%">
            <p class="yzj-size-16 text-info yzj-height40"><strong>客户满意度</strong></p>
            <div class="col-xs-4">
              <div id="highchart" style="height:210px;width:200px;"></div>
            </div>
            <div class="col-xs-6 text-info yzj-height40 yzj-size-14">
              <div class="yzj-top-distance30">
                <p class="col-xs-7">一年内收益</p>
                <p class="col-xs-5 text-left"><strong>¥ <span v-text="data.year_amount"></span></strong></p>
                <div class="clearfix"></div>
              </div>
              <div>
                <p class="col-xs-7">需求方评分（1年内）</p>
                <p class="col-xs-5 text-left"><strong v-text="data.aver_score"></strong></p>
                <div class="clearfix"></div>
              </div>
              <div>
                <p class="col-xs-7">被需求方推荐次数</p>
                <p class="col-xs-5 text-left"><strong><span v-text="data.recommend"></span> 次</strong></p>
                <div class="clearfix"></div>
              </div>
              <div>
                <p class="col-xs-7">2次合作率</p>
                <p class="col-xs-5 text-left"><strong v-text="(data.coop_rate_two).toFixed(2)"></strong></p>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-xs-3 clear-right yzj-height30-real text-info" style="border-left:1px solid #e0e0e0">
            <p>工作成功率反映出您签订的工作合同的完成情况，如果您的工作成功率高的话，.更多优质工作机会、需求方在向你招手。</p>
            <p>了解如何获得更多工作机会，提高工作成功率。</p>
            <p class="text-warning" style="margin-top:100px">如何提高您的工作成功率？</p>
          </div>
        </div>

        <div id="statistics" class="yzj-box yzj-border yzj-top-distance20 yzj-box-statisics">
          <img src="/static/images/statistic-2.png" style="float:left;">
          <div class="col-xs-8" style="width:70%">
            <p class="yzj-size-16 text-info yzj-height40"><strong>沟通交流</strong></p>
            <div class="yzj-size-16 text-info text-center" v-if="data.season_invite==0">
              <img src="/static/images/nofavorite-icon.png"/>
              <p class="yzj-top-distance30">您在过去的90天内没有收到任何邀请</p>
            </div>
            <div class="yzj-size-16 text-info yzj-top-distance20" v-else>
              <p>
                <strong>在过去的90天内，你收到了
                  <span class="text-warning" v-text="data.season_invite"></span> 个邀请，回复了
                  <span class="text-warning" v-text="data.season_reply"></span> 个
                </strong>
              </p>
              <div class="text-muted">
                <p class="col-xs-3"></p>
                <p class="col-xs-4 yzj-top-distance30">低</p>
                <p class="col-xs-4 yzj-top-distance30">高</p>
                <div class="clearfix"></div>
              </div>
              <div class="text-right text-muted">
                <div class="col-xs-3 pull-left yzj-top-distance20">一天内回复所占比例</div>
                <div class="col-xs-5 pull-left yzj-top-distance20">
                  <div class="col-xs-12 clear-both yzj-right-distance10">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{[data.season_day_reply/data.season_reply]}" aria-valuemin="0" aria-valuemax="100" style="width:{[(data.season_day_reply/data.season_reply)*100]}%">
                        <span class="sr-only">{[(data.season_day_reply/data.season_reply) *100]}% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="text-right text-muted yzj-top-distance10">
                <div class="col-xs-3 pull-left">总回复率</div>
                <div class="col-xs-5 pull-left">
                  <div class="col-xs-12 clear-both yzj-right-distance10">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{[data.season_interview/data.season_proposal]}" aria-valuemin="0" aria-valuemax="100" style="width:{[(data.season_reply/data.season_invite)*100]}%">
                        <span class="sr-only">{[(data.season_reply/data.season_invite)*100]}% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-xs-3 clear-right yzj-height30-real text-info" style="border-left:1px solid #e0e0e0">
            <p>您应当及时的回复收到的邀请</p>
            <p class="yzj-top-distance30" v-if="workload==0">我现在不可以工作</p>
            <p class="yzj-top-distance30" v-if="workload!=0">我现在可以工作</p>
            <p v-if="workload==1">可工作时长：每周超过30小时</p>
            <p v-if="workload==2">可工作时长：每周少于30小时</p>
            <p v-if="workload==3">可工作时长：根据需求者要求</p>
            <input type="button" class="btn2 btn-primary btn-sm" value="更改" v-on:click="open_window" />
            <p class="text-warning" style="margin-top:80px">了解设置可工作时长的好处</p>
          </div>
          <modal :showmodal.sync="modals.workload_modal">
            <workload slot="content" :item.sync="workload"></workload>
          </modal>
        </div>
        
        <div class="yzj-box yzj-border yzj-top-distance20 yzj-box-statisics2 yzj-size-16">
          <img src="/static/images/statistic-3.png" style="float:left;">
          <div class="col-xs-8 text-info" style="width:70%">
            <p class="text-info yzj-height40"><strong>市场反馈</strong></p>
            <div class="yzj-top-distance20 yzj-height30-real">
              <p class="text-info" v-if="data.season_proposal==0"><strong>您在过去的90天内没有申请任何工作</strong></p>
              <p class="text-info" v-else><strong>您在过去的90天内共申请了{[data.season_proposal]}份工作，与网站上其他服务方相比</strong></p>
              <!-- <p>您的档案上周被发现了0次（几乎与之前一周持平）</p> -->
              <template v-if="data.season_proposal>0">
              <div class="text-muted">
                <p class="col-xs-3"></p>
                <p class="col-xs-4 yzj-top-distance30">低</p>
                <p class="col-xs-4 yzj-top-distance30">高</p>
                <div class="clearfix"></div>
              </div>
              <div class="text-right">
                <div class="col-xs-3 pull-left text-muted yzj-top-distance20">被查看的</div>
                <div class="col-xs-5 pull-left yzj-top-distance20">
                  <div class="col-xs-12 clear-both yzj-right-distance10 yzj-top-distance5">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{[data.season_view/data.season_proposal]}" aria-valuemin="0" aria-valuemax="100" style="width:{[(data.season_view/data.season_proposal)*100]}%">
                        <span class="sr-only">{[(data.season_view/data.season_proposal)*100]}% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="text-right">
                <div class="col-xs-3 pull-left text-muted">沟通过的</div>
                <div class="col-xs-5 pull-left yzj-top-distance5">
                  <div class="col-xs-12 clear-both yzj-right-distance10">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{[data.season_interview/data.season_proposal]}" aria-valuemin="0" aria-valuemax="100" style="width:{[(data.season_interview/data.season_proposal)*100]}%">
                        <span class="sr-only">{[(data.season_interview/data.season_proposal)*100]}% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="text-right">
                <div class="col-xs-3 pull-left text-muted">被雇佣</div>
                <div class="col-xs-5 pull-left yzj-top-distance5">
                  <div class="col-xs-12 clear-both yzj-right-distance10">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{[data.season_hire/data.season_proposal]}" aria-valuemin="0" aria-valuemax="100" style="width:{[(data.season_hire/data.season_proposal)*100]}%">
                        <span class="sr-only">{[(data.season_hire/data.season_proposal)*100]}% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              </template>
              <p class="text-info yzj-top-distance30"><strong>档案被查看情况</strong></p>
              <div id="highchart2" class="yzj-top-distance50" style="height:250px;width:600px"></div>
            </div>
            <div>
              <div class="col-xs-3 clear-left text-info yzj-top-distance50"><strong>档案完整度</strong></div>
              <div class="col-xs-5 yzj-top-distance50">
                <div class="col-xs-12 clear-both yzj-right-distance10">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{[completeness]}" aria-valuemin="0" aria-valuemax="100" style="width:{[completeness]}%">
                      <span class="sr-only">{[completeness]}% Complete</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-1 clear-both yzj-size-14 text-info yzj-top-distance50">
                <strong>{[completeness]}%</strong>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-xs-3 clear-right yzj-height30-real text-info yzj-size-14" style="border-left:1px solid #e0e0e0">
            <p>请寻找那些与您技能和经验匹配的工作</p>
            <p class="text-warning" v-if="data.season_proposal==0" style="margin-top:500px">如何高效地申请工作？</p>
            <p class="text-warning" v-else style="margin-top:700px">如何高效地申请工作？</p>
          </div>
          <div class="clearfix"></div>
        </div>
      
      </div>
    </div>
    {% include "footer.html" %} 
    <script src="/static/js/jquery-2.1.4.min.js"></script> 
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/js/notice.js"></script>
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/production/statistics.min.js"></script>
  </body>
</html>
