<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no"/>
    <title>联系客服</title>
    <style>
      li{
        list-style: none;
      }
      a{
        /*去掉下划线*/
        text-decoration: none;
      }
      hr{
          border:none;border-top:1px solid #F4F4F4;
      }
      div{
        margin : 10px;
      }
      img{
          width: 100%;
      }
      .phone a{
          color:#ff6700;
      }
    </style>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div id="title">
    地址：北京市朝阳区北苑路金泉广场1-2522
  </div>
  <div class="image">
    <img src="/static/mobile/ditu.png"/>
  </div>
  <hr />
  <div class="phone">
    <li>客服电话：<a href="tel:010-53800751" id="phone">010-53800751</a></li>
  </div>
  <hr />
  <div>
        客服qq：4234234234
    </div>
  <hr />
  <div class="email">
    邮箱：250804982@qq.com                                                                                                                                    
  </div>
</body>
</html>
