<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>个人资料</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body id="report">
  <div>
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% if user %}
          {% include "header.html" %}
          {% else %}
          {% include "header-nologin.html" %}
          {% endif %}
        </div>
      </nav>
    </header>

    <div class="inner">
    <!--banner-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/static/images/appdown-banner.png" alt="云族佳">
          <div class="carousel-caption">
            <a href="#"><img src="/static/images/appdown-btn.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--第二部分-->
      <div class="carouser-inner">
        <div class="container">
          <div class="pull-left yzj-left-distance55 yzj-top-distance30">
            <img src="/static/images/appdown-img01.png"/>
          </div>
          <div class="pull-right part2-message">
            <h3 class="text-muted">记录工作时间，远离朝九晚五</h3>
            <p class="yzj-size-16 yzj-top-distance20">随时工作，随时记录工作日志。建立服务方与需求方之间高效安全的支付凭证。
            </p>
            <p class="yzj-size-16 yzj-top-distance20">
             动动手指，剩下的交给我们吧。云沃客就是自由工作者的财务小管家 
            </p>
          </div>
        </div>
      </div>
      <!--第三部分-->
      <div class="carouser-inner appdown-part2">
        <div class="container">
          <div class="clearfix"></div>
          <div class="yzj-top-distance50"></div>
          <div class="pull-left text-fff yzj-top-distance70">
            <h3>需求方检查工作日志，不白花一分钱</h3>
            <p class="yzj-size-16 yzj-top-distance20">服务方工作日志自动上传到需求方。需求方可方便地审查，服务方是否出功出力一目了然。
            </p>
            <p class="yzj-size-16 yzj-top-distance20">
            非工作状态下的工作日志，可拒绝付款，不花一分冤枉钱。有钱咱们也不任性。
            </p>
          </div>
          <div class="pull-right">
            <img src="/static/images/appdown-img02.png">
          </div>
          <div class="clearfix"></div>
          <div class="yzj-bot-distance70"></div>
        </div>
      </div>
      <!--第四部分-->
      <div class="carouser-inner">
        <div class="container">
          <div class="clearfix"></div>
          <div class="yzj-top-distance50"></div>
          <div class="pull-left text-fff yzj-top-distance70">
          <img src="/static/images/appdown-img06.png">
          </div>
          <div class="yzj-top-distance70"></div>
          <div class="pull-right yzj-top-distance70">
          <div class="yzj-top-distance70"></div>
          <div class="clearfix"></div>
            <h3 class="text-muted yzj-top-distance70">实时聊天沟通无阻</h3>
            <p class="yzj-size-16 yzj-top-distance20">可以一对一私聊和创建聊天室群聊，随时与个人或团队成员保持
            </p>
            <p class="yzj-size-16 yzj-top-distance20">
            沟通联系，及时解决问题
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="yzj-bot-distance70"></div>
        </div>
      </div>
      <!--第五部分-->
      <div class="carouser-inner appdown-part4">
        <div class="container">
          <div class="clearfix"></div>
          <div class="yzj-top-distance50"></div>
          <div class="pull-left text-fff yzj-top-distance70">
            <h3>项目管理便捷高效</h3>
            <p class="yzj-size-16 yzj-top-distance20">基于项目工作的聊天组，随时掌握项目信息，跟进项目进度，项目
            </p>
            <p class="yzj-size-16 yzj-top-distance20">
            成员之间沟通更简单，激发创意，提高工作效率。
            </p>
          </div>
          <div class="pull-right">
            <img src="/static/images/appdown-img03.png">
          </div>
          <div class="clearfix"></div>
          <div class="yzj-bot-distance70"></div>
        </div>
      </div>
      <!--第六部分-->
      <div class="carouser-inner">
        <div class="container">
          <div class="clearfix"></div>
          <div class="yzj-top-distance50"></div>
          <div class="pull-left text-fff yzj-top-distance70">
          <img src="/static/images/appdown-img04.png">
          </div>
          <div class="yzj-top-distance70"></div>
          <div class="pull-right yzj-top-distance70">
          <div class="yzj-top-distance70"></div>
          <div class="clearfix"></div>
            <h3 class="text-muted yzj-top-distance70">聊天消息永久保存</h3>
            <p class="yzj-size-16 yzj-top-distance20">
            聊天图片、文件或者语音等消息内容将保存在云端，
            </p>
            <p class="yzj-size-16 yzj-top-distance20">
            可随时进行消息搜索。
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="yzj-bot-distance70"></div>
        </div>
      </div>
      <!--第七部分-->
      <div class="carouser-inner yzj-box">
        <div class="container text-center">
        <h3 class="text-muted">聊天场景任你选择</h3>
        <p class="yzj-size-16 yzj-top-distance30">手机、电脑、网页</p>
        <p class="yzj-top-distance40">
          <img src="/static/images/appdown-img05.png"/>
        </p>
        <p class="yzj-top-distance30">
          <a href="#"><img src="/static/images/appdown-bot-btn.png"></a>
        </p>
        </div>
      </div>
  </div>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/notice.js"></script>
</body>
</html>
