<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>报表-预算</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
          {% include "include/header/client-report.html" %}
      </nav>
    </header>
    <div id="body" class="container yzj-top-distance50">
    	<!-- 总单 -->
      <div class="yzj-box">
        <div class="col-xs-9 clear-both">
          <div style="margin-top:-15px; float: left;">
            <calendar :x="110" :y="28" :value.sync="start_at" :max="end_at" :is_week="false"></calendar>
          </div>
          <div style=" float: left; margin: 0 10px; margin-top:-15px; font-size: 16px; line-height: 31px;">
            至
          </div>
          <div style="margin-top:-15px; float: left;">
            <calendar :x="110" :y="28" :value.sync="end_at" :min="start_at" :is_week="false"></calendar>
          </div>
        </div>
      </div>
    	<div class="yzj-box yzj-top-distance20">
        <div v-if="contracts.length > 0">
          <div v-for="contract in contracts">

            <div class="col-xs-6 clear-both" style="padding:10px;">
              
              <div class="col-xs-12 yzj-border">
                
                <div class="col-xs-2 clear-both yzj-top-distance20 text-left">
                  <img :src="contract.freelancer.avatar" width="60" height="60" />
                </div>
                
                <div class="col-xs-10 clear-both yzj-top-distance30 text-left">
                  <span v-html="contract.freelancer.name"></span>
                  <p class="yzj-top-distance15"><a href="javascript:;" class="text-warning" v-html="contract.contract_name"></a></p>
                </div>
                
                <div class="clearfix"></div>
                
                <div class="progress yzj-top-distance10" style="border-radius:15px;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{[contract.actual_amount/contract.amount*100]}" aria-valuemin="0" aria-valuemax="100" style="width: {[contract.actual_amount/contract.amount*100]}%;">
                  </div>
                </div>
                
                <div class="col-xs-6 yzj-bot-distance20 clear-both yzj-text-left">
                  <span v-html="'支付 ￥ '+ contract.actual_amount | substr_money"></span>
                </div>
                <div class="col-xs-6 yzj-bot-distance20 clear-both text-right">
                  <span v-html="'托管 ￥ ' + contract.amount | substr_money"></span>
                </div>
                
                <div class="clearfix"></div>
              
              </div> 
            
            </div>

          </div>
          <div class="clearfix"></div>
        </div>


        <div v-else>
          <p class="text-center yzj-top-distance40">
            <img src="/static/images/nofavorite-icon.png">
          </p>
          <p class="yzj-bot-distance40 text-center yzj-top-distance20 yzj-size-16">查询时间内没有数据</p>
        </div>

    	</div>
    </div>
    {% include "footer.html" %}
    </div>
  </body>
</html>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/js.cookie.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/production/budget.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/common/js/yunwork.js"></script>
<script src="/static/common/js/service.js"></script>
<script src="/static/js/notice.js"></script>
