    <div class="col-xs-12 yzj-top-distance10 applicant-list-tab">
      <ul style="padding: 0">
        <li class="applicant-list-tab-rcmd"><a href="#recommend" v-on:click="change_page('recommend')"><i></i>推荐（{[recommands.length]}）</a></li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-appli"><a href="#appli" v-on:click="change_page('appli')"><i></i>申请人（{[counts.active]}）</a></li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-msg"><a href="#interview" v-on:click="change_page('interview')"><i></i>沟通中（{[counts.interview]}）</a></li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-hire"><a href="#hire" v-on:click="change_page('hire')"><i></i>雇佣（{[counts.hire]}）</a></li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-file text-warning"><i class="active"></i>归档（{[counts.archive]}）</li>
      </ul>  
    </div>
    <div class="col-xs-12 yzj-box applicant-list-box" style="padding-top:0">
      <div class="applicant-list-blank" v-if="archive_people.length==0">
        <div class="archive-list-blank-bg"></div>
        <div class="applicant-list-blank-tips">
          <h4 class="yzj-top-distance20 text-muted">你可以在这里找到所有的存档，拒绝的和撤销申请的都会在这里！</h4>
        </div>        
      </div>
      <div v-if="archive_people.length>0">
        <div class="archive-class-down yzj-top-distance30" v-on:click.stop="show_archive_class"><i></i>已归档的</div>
        <ul class="archive-ul">
          <li class="yzj-top-distance40" v-for="item in archive_people" v-if="item.archive">
            <div class="applicant-list-box-icon">
              <img class="img-circle" v-bind:src="item.avatar" v-on:click="select_detail(item)" style="cursor:pointer;">
            </div>
            <div class="applicant-list-box-con yzj-size-14">
              <p class="yzj-size-16 text-info"><a href="javascript:;" v-on:click="select_detail(item)"><strong>{[item.name]}</strong></a></p>
              <p>{[item.title]}</p>
              <p class="yzj-top-distance10 text-info" v-if="item.location.name!=null"><i class="applicant-list-box-con-place"></i>{[item.location.parent_name]}，</p>
              <!-- <p class="yzj-top-distance5 text-info"><i class="applicant-list-box-con-flag"></i>一天前收到消息：消息内容</p> -->
              <p class="yzj-top-distance10" v-if="item.skills.length>0">
                <span class="label label-default" v-for="i in item.skills">{[i]}</span>
              </p>
            </div>
            <div class="applicant-list-box-right">
              <div class="yzj-top-distance40">
                <span class="send-message btn-primary btn btn-lg" v-on:click="unfreezeOffer(item.proposal_id)">再次启动</span>
              </div>
              <!-- <p class="yzj-top-distance20">70%工作的成功</p>
              <div class="progress" style="width:140px;float:right">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50" style="width:50%"></div>
              </div>
              <div class="clearfix"></div>
              <p><span class="text-info"><strong>150元</strong></span> / 小时</p>
              <p><span class="text-info"><strong>15</strong></span>小时</p> -->
            </div>
            <div class="clearfix"></div>
            <div class="yzj-top-distance40"></div>
            <div class="line"></div>
          </li>
        </ul>   
        <div class="archive-class-down" v-on:click.stop="show_archive_class"><i></i>撤销offer的</div>
        <ul class="archive-ul">
          <li class="yzj-top-distance40" v-for="item in archive_people" v-if="item.contract_status=='revoke' && item.status=='hire'">
            <div class="applicant-list-box-icon">
              <img class="img-circle" v-bind:src="item.avatar" v-on:click="select_detail(item)" style="cursor:pointer;">
            </div>
            <div class="applicant-list-box-con yzj-size-14">
              <p class="yzj-size-16 text-info"><a href="javascript:;" v-on:click="select_detail(item)"><strong>{[item.name]}</strong></a></p>
              <p>{[item.title]}</p>
              <p class="yzj-top-distance10 text-info" v-if="item.location.name!=null"><i class="applicant-list-box-con-place"></i>{[item.location.parent_name]}，{[item.location.name]}</p>
              <p class="yzj-top-distance10" v-if="item.skills.length>0">
                <span class="label label-default" v-for="i in item.skills">{[i]}</span>
              </p>
            </div>
            <div class="applicant-list-box-right">
              <div class="yzj-top-distance40">
                <span class="send-message btn-primary btn btn-lg" onclick="window.open('/freelancers/offer/{[item.contract_id]}')">查看offer</span>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="yzj-top-distance40"></div>
            <div class="line"></div>
          </li>
        </ul> 
        <div class="archive-class-down" v-on:click.stop="show_archive_class"><i></i>我拒绝的申请人</div>
        <ul class="archive-ul">
          <li class="yzj-top-distance40" v-for="item in archive_people" v-if="item.ptype=='D' && item.status=='refuse'">
            <div class="applicant-list-box-icon">
              <img class="img-circle" v-bind:src="item.avatar" v-on:click="select_detail(item)" style="cursor:pointer;">
            </div>
            <div class="applicant-list-box-con yzj-size-14">
              <p class="yzj-size-16 text-info"><a href="javascript:;" v-on:click="select_detail(item)"><strong>{[item.name]}</strong></a></p>
              <p>{[item.title]}</p>
              <p class="yzj-top-distance10 text-info" v-if="item.location.name!=null"><i class="applicant-list-box-con-place"></i>{[item.location.parent_name]}，{[item.location.name]}</p>
              <p class="yzj-top-distance10" v-if="item.skills.length>0">
                <span class="label label-default" v-for="i in item.skills">{[i]}</span>
              </p>
            </div>
            <div class="applicant-list-box-right">
              <div class="yzj-top-distance40 yzj-size-16 text-muted" style="margin-right:30px">已拒绝</div>
            </div>
            <div class="clearfix"></div>
            <div class="yzj-top-distance40"></div>
            <div class="line"></div>
          </li>
        </ul> 
        <div class="archive-class-down" v-on:click.stop="show_archive_class"><i></i>拒绝邀请的申请人</div>
        <ul class="archive-ul">
          <li class="yzj-top-distance40" v-for="item in archive_people" v-if="item.ptype=='I' && item.status=='refuse'">
            <div class="applicant-list-box-icon">
              <img class="img-circle" v-bind:src="item.avatar" style="cursor:pointer;">
            </div>
            <div class="applicant-list-box-con yzj-size-14">
              <p class="yzj-size-16 text-info"><a href="javascript:;"><strong>{[item.name]}</strong></a></p>
              <p>{[item.title]}</p>
              <p class="yzj-top-distance10 text-info" v-if="item.location.name!=null"><i class="applicant-list-box-con-place"></i>{[item.location.parent_name]}，{[item.location.name]}</p>
              <p class="yzj-top-distance10" v-if="item.skills.length>0">
                <span class="label label-default" v-for="i in item.skills">{[i]}</span>
              </p>
            </div>         
            <div class="clearfix"></div>
            <div class="yzj-top-distance40"></div>
            <div class="line"></div>
          </li>
        </ul> 
        <div class="archive-class-down" v-on:click.stop="show_archive_class"><i></i>拒绝offer的申请人</div>
        <ul class="archive-ul">
          <li class="yzj-top-distance40" v-for="item in archive_people" v-if="item.status=='hire' && item.contract_status=='refuse'">
            <div class="applicant-list-box-icon">
              <img class="img-circle" v-bind:src="item.avatar" v-on:click="select_detail(item)" style="cursor:pointer;">
            </div>
            <div class="applicant-list-box-con yzj-size-14">
              <p class="yzj-size-16 text-info"><a href="javascript:;" v-on:click="select_detail(item)"><strong>{[item.name]}</strong></a></p>
              <p>{[item.title]}</p>
              <p class="yzj-top-distance10 text-info" v-if="item.location.name!=null"><i class="applicant-list-box-con-place"></i>{[item.location.parent_name]}，{[item.location.name]}</p>
              <p class="yzj-top-distance10" v-if="item.skills.length>0">
                <span class="label label-default" v-for="i in item.skills">{[i]}</span>
              </p>
            </div>
            <div class="applicant-list-box-right">
              <div class="yzj-top-distance40">
                <span class="send-message btn-primary btn btn-lg" onclick="window.open('/freelancers/offer/{[item.contract_id]}')">查看offer</span>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="yzj-top-distance40"></div>
            <div class="line"></div>
          </li>
        </ul> 
        <div class="archive-class-down" v-on:click.stop="show_archive_class"><i></i>offer失效的申请人</div>
        <ul class="archive-ul">
          <li class="yzj-top-distance40" v-for="item in archive_people" v-if="item.status=='hire' && item.contract_status=='expire'">
            <div class="applicant-list-box-icon">
              <img class="img-circle" v-bind:src="item.avatar" v-on:click="select_detail(item)" style="cursor:pointer;">
            </div>
            <div class="applicant-list-box-con yzj-size-14">
              <p class="yzj-size-16 text-info"><a href="javascript:;" v-on:click="select_detail(item)"><strong>{[item.name]}</strong></a></p>
              <p>{[item.title]}</p>
              <p class="yzj-top-distance10 text-info" v-if="item.location.name!=null"><i class="applicant-list-box-con-place"></i>{[item.location.parent_name]}，{[item.location.name]}</p>
              <p class="yzj-top-distance10" v-if="item.skills.length>0">
                <span class="label label-default" v-for="i in item.skills">{[i]}</span>
              </p>
            </div>
            <div class="applicant-list-box-right">
              <div class="yzj-top-distance40">
                <span class="send-message btn-primary btn btn-lg" onclick="window.open('/freelancers/offer/{[item.contract_id]}')">查看offer</span>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="yzj-top-distance40"></div>
            <div class="line"></div>
          </li>
        </ul> 
      </div>
    </div>