   <div class="col-xs-12 yzj-top-distance10 applicant-list-tab">
      <ul style="padding: 0">
        <li class="applicant-list-tab-rcmd"><a href="#recommend" v-on:click="change_page('recommend')"><i></i>推荐（{[recommands.length]}）</a></li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-appli text-warning"><i class="active"></i>申请人（{[counts.active]}）</li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-msg"><a href="#interview" v-on:click="change_page('interview')"><i></i>沟通中（{[counts.interview]}）</a></li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-hire"><a href="#hire" v-on:click="change_page('hire')"><i></i>雇佣（{[counts.hire]}）</a></li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-file"><a href="#archive" v-on:click="change_page('archive')"><i></i>归档（{[counts.archive]}）</a></li>
      </ul>  
    </div>
    <div class="col-xs-12 yzj-box applicant-list-box" style="padding-top: 0px;">
      <div class="applicant-list-blank" v-if="freelancers.length==0">
        <div class="applicant-list-blank-bg"></div>
        <div class="applicant-list-blank-tips">
          <h4 class="text-muted"><strong>你还没有申请人</strong></h4>
          <p>为了早日完成工作，到推荐里寻找合适的自由职业者吧！</p>
        </div>        
      </div>
      <ul style="margin-bottom: 0px;" v-if="freelancers.length>0">
        <li class="yzj-top-distance40" v-for="item in freelancers">
          <div class="applicant-list-box-icon">
            <img class="img-circle" v-bind:src="item.avatar" v-on:click="select_detail(item)" style="cursor:pointer;">
            <input type="button" class="btn btn-default btn-sm yzj-top-distance30" value="收藏" v-on:click.stop="modalShow('favorite',item.id)" v-if="!item.is_favorite">
            <span class="btn btn-primary btn-sm yzj-top-distance30" v-if="item.is_favorite">已收藏</span>
          </div>
          <div class="applicant-list-box-con yzj-size-14">
            <p class="yzj-size-16 text-info"><a href="javascript:;" v-on:click="select_detail(item)"><strong>{[item.name]}</strong></a></p>
            <p>{[item.title]}</p>
            <p class="yzj-top-distance10 text-info" v-if="item.location.name!=null"><i class="applicant-list-box-con-place"></i>{[item.location.parent_name]}，{[item.location.name]}</p>
            <!-- <p class="yzj-top-distance5 text-info"><i class="applicant-list-box-con-flag"></i>一天前收到消息：消息内容</p> -->
            <p class="yzj-top-distance10" v-if="item.skills.length>0">
              <span class="label label-default" v-for="i in item.skills">{[i]}</span>
            </p>
          </div>
          <div class="applicant-list-box-right">
            <div>
              <span class="send-message btn-primary btn btn-sm" data-toggle="modal" v-on:click.stop="modalShow('send_message',item.proposal_id)">发送消息</span>
              <span class="btn-arrow-down btn-primary" v-on:click.stop="showBtns">
                <i></i>
              </span>
              <ul class="operates">
                <li v-on:click.stop="sendOffer(item.proposal_id)">发送offer</li><li data-toggle="modal" v-on:click.stop="modalShow('refuse',item.proposal_id)">拒绝申请</li>
              </ul>
              <span class="close-icon" data-toggle="modal" v-on:click.stop="modalShow('archive',item.proposal_id)"></span>
            </div>
            <!-- <p class="yzj-top-distance20">70%工作的成功</p>
            <div class="progress" style="width:140px;float:right">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50" style="width:50%"></div>
            </div>
            <div class="clearfix"></div>
            <p><span class="text-info"><strong>150元</strong></span> / 小时</p>
            <p><span class="text-info"><strong>15</strong></span>小时</p> -->
          </div>
          <div class="clearfix"></div>
          <div class="yzj-top-distance40"></div>
          <div class="line" v-if="$index != freelancers.length-1"></div>
        </li>
      </ul>
    </div>
    <!-- <div class="col-xs-12 yzj-top-distance10 yzj-size-14 loadMore" style="text-align:center"><a href="javascript:;" v-on:click.stop="loadMore">加载更多...</a></div> -->
