    <div class="col-xs-12 yzj-top-distance10 applicant-list-tab">
      <ul style="padding: 0">
        <li class="applicant-list-tab-rcmd text-warning"><i class="active"></i>推荐（{[recommands.length]}）</li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-appli"><a href="#appli" v-on:click="change_page('appli')"><i></i>申请人（{[counts.active]}）</a></li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-msg"><a href="#interview" v-on:click="change_page('interview')"><i></i>沟通中（{[counts.interview]}）</a></li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-hire"><a href="#hire" v-on:click="change_page('hire')"><i></i>雇佣（{[counts.hire]}）</a></li>
        <span class="applicant-list-tab-arrow"></span>
        <li class="applicant-list-tab-file"><a href="#archive" v-on:click="change_page('archive')"><i></i>归档（{[counts.archive]}）</a></li>
      </ul>  
    </div>
    <div class="col-xs-12 yzj-box applicant-list-box" style="padding-top: 0px;">
      <div class="applicant-list-blank" v-if="recommands.length==0">
        <div class="recommend-list-blank-bg"></div>
        <div class="applicant-list-blank-tips">
          <h4 class="text-muted"><strong>让我们帮你找到合适的自由职业者</strong></h4>
          <p class="yzj-size-14">或者可以去<a class="text-warning" href="/freelancers/find">服务方</a>寻找更多人选</p>
        </div>        
      </div>
      <ul style="margin-bottom: 0px;" v-if="recommands.length>0">
        <li v-for="item in recommands" class="yzj-top-distance40">
          <div class="applicant-list-box-icon">
            <img class="img-circle" v-bind:src="item.avatar" onclick="window.open('/freelancers/{[item.id]}')" style="cursor:pointer;">
            <input type="button" class="btn btn-default btn-sm yzj-top-distance30" value="收藏" v-on:click.stop="modalShow('favorite',item.id)" v-if="!item.favorite">
            <span class="btn btn-primary btn-sm yzj-top-distance30" v-if="item.favorite">已收藏</span>
          </div>
          <div class="applicant-list-box-con yzj-size-14">
            <p class="yzj-size-16 text-info"><a href="javascript:;" onclick="window.open('/freelancers/{[item.id]}')"><strong>{[item.name]}</strong></a></p>
            <p>{[item.title]}</p>
            <p class="yzj-top-distance10 text-info" v-if="item.location!=null"><i class="applicant-list-box-con-place"></i>{[item.location]}</p>
            <p class="yzj-size-12 yzj-top-distance10">
            {[item.overview]}          
            </p>
            <p class="yzj-top-distance10" v-if="item.skills.length>0">
              <span class="label label-default" v-for="i in item.skills">{[i]}</span>
            </p>
          </div>
          <div class="applicant-list-box-right">
            <div>
              <span v-if="!item.invite" class="send-message btn-primary btn btn-sm" data-toggle="modal" v-on:click.stop="modalShow('send_invite',item.id,item.name)">发送邀请</span>
              <span v-if="item.invite" class="send-message btn-primary btn btn-sm">已邀请</span>
              <span class="btn-arrow-down btn-primary" v-on:click.stop="showBtns">
                <i></i>
              </span>
              <ul class="operates" style="margin-left:73px">
                <li onclick="window.open('/clients/offer/{{job.id}}/{[item.id]}/direct')">现在雇佣</li>
              </ul>
            </div>
            <p class="yzj-top-distance15 yzj-size-14">
            时薪 <strong>{[item.hourly]}元</strong>/小时
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="yzj-top-distance40"></div>
          <div class="line" v-if="$index != freelancers.length-1"></div>
        </li>
      </ul>
    </div>

<div class="modal fade bs-example-modal-lg choose-sort" id="send_invite" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog contract-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="yzj-size-30">&times;</span>
        </button>
      </div>
      <div class="modal-body yzj-box yzj-height20 yzj-top-distance10"> 
        <h3 class="modal-title text-muted text-center">{[invitee_name]}</h3> 
        <div class="yzj-size-16 text-center yzj-top-distance50 yzj-bot-distance50"> 
          <div class="text-info yzj-size-14 yzj-height40">
            <p style="width: 50%;">你好！</p>  
            <p>我想邀请你来申请我的项目，如果可以请认真阅读工作描述。</p> 
          </div>
          <div class="yzj-top-distance50 yzj-size-14 col-xs-offset-3">
            <div class="col-xs-4 clear-right">
              <button type="button" class="btn btn-primary btn-block yzj-right-distance15" v-on:click.stop="inviteOffer">发送</button>
            </div>
            <div class="col-xs-4 clear-right">
              <button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>