<!DOCTYPE html>
<html>
<head> 
  <meta charset="UTF-8" /> 
  <title>发送offer</title> 
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" /> 
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datepicker.min.css" /> 
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css" /> 
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css" /> 
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectize.css" /> 
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head> 
<body> 
  <div id="layout"> 
    <!--头部--> 
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
        {% include "include/header/client.html" %}
      </nav>
    </header> 
    <div class="container yzj-top-distance50" id="contract-create"> 
      <!--开发者--> 
      <div class="row">
      <div class="col-xs-12">
      <div class="col-xs-1 clear-left">
        <a href="#"><img :src="avatar" height="69" width="69" class="img-circle"></a>
      </div>
      <div class="col-xs-10 clear-left">
        <h4 class="text-muted yzj-top-distance20"><strong><a href="#">{[name]}</a></strong></h4>
      </div>
        </div>
      </div>
      <!--开发者--> 
        <div class="yzj-box yzj-top-distance30">
          <h4 class="text-muted">合同内容</h4>

          <div class="contract-content yzj-top-distance20">
            <dl>
              <dt><span class="text-warning">*</span>&nbsp;合同标题</dt>
              <dd v-show="!name_edited">
                <div class="row">
                  <div class="col-xs-4">
                    <span>{[contract.name]}</span>
                  </div>
                  <div class="col-xs-8">
                    <a href="javascript:;" v-on:click="editName()"><img src="/static/images/edit-btn-icon.png">&nbsp;&nbsp;编辑</a>
                  </div>
                </div>
              </dd>
              <dd v-show="name_edited">
                <div class="row">
                  <div class="col-xs-4">
                    <input type="text" v-model="contract.name" class="form-control"/>
                  </div>
                </div>
              </dd>
            </dl>

            <dl v-show="pay_type == 'hour'">
              <dt><span class="text-warning">*</span>&nbsp;时薪</dt>
              <dd>
                <div class="row">
                  <div class="col-xs-4">
                    <div class="input-group">
                      <input type="number" v-model="contract.hourly" class="form-control"/>
                      <label class="input-group-addon">元/每小时</label>
                    </div>
                  </div>
                </div>
              </dd>
            <dt class="text-info"><span class="text-warning">*</span>&nbsp;每周最长工作时间</dt>
            <dd>
              <div class="row">
                <div class="col-xs-4">
                  <div class="input-group">
                    <input class="form-control" type="number" placeholder="1~40的整数" v-model="contract.workload"/>
                    <label class="input-group-addon">={[contract.hourly*contract.workload]}元/周</label>
                  </div>
                </div>
              </div>
            </dd>
            <dt class="text-info"><span class="text-warning">*</span>&nbsp;项目开始时间</dt>
            <dd>
              <div class="row">
                <div class="col-xs-4">
                  <input type="text" class="form-control" data-provide="datepicker" v-model="start_at" data-date-format="yyyy-mm-dd"/>
                </div>
              </div>
            </dd>
            <div class="row yzj-top-distance20">
              <div class="col-xs-12 yzj-size-14">
                <input type="checkbox" value="true" v-model="manual"/>是否开启人工计时
              </div>
            </div>
          </dl>
          <dl v-show="pay_type == 'fixed'">
            <dt class="text-info"><span class="text-warning">*</span>&nbsp;存入托管</dt>
            <dd>
              <input type="radio" name="deposit" value="fixed" v-model="deposit_type" v-on:click="show_v"/>
              为这个项目托管全部预算资金
            </dd>
            <dd class="yzj-top-distance10">
              <input type="radio" name="deposit" value="milestone" v-model="deposit_type" v-on:click="show_v"/>
              为第一个里程碑存入较少的钱
            </dd>
            <dt v-show="deposit_type == 'fixed'"><span class="text-warning">*</span>&nbsp;预算</dt>
            <dd v-show="deposit_type == 'fixed'">
              <div class="row">
                <div class="col-xs-4">
                  <div class="input-group">
                    <input type="text" v-model="amount" class="form-control"/>
                    <label class="input-group-addon">元</label>
                  </div>
                </div>
              </div>
            </dd>
            <dt v-show="deposit_type == 'fixed'"><span class="text-warning">*</span>&nbsp;项目结束时间</dt>
            <dd v-show="deposit_type == 'fixed'">
              <div class="row">
                <div class="col-xs-4">
                  <input type="text" class="form-control" data-provide="datepicker" v-model="end_at" data-date-format="yyyy-mm-dd"/>
                </div>
              </div>
            </dd>
          </dl>
          <!-- 里程碑 -->
          <div class="milestone form-horizontal" v-show="pay_type == 'fixed' && deposit_type == 'milestone'">
            <h5 class="text-muted">里程碑</h5>

            <div class="row">
              <div class="col-xs-3">
                <span class="milestone-title">里程碑的名字</span>
              </div>
              <div class="col-xs-3 col-xs-offset-1">
                <span class="milestone-title">存款的金额</span>
              </div>
              <div class="col-xs-3 col-xs-offset-1">
                <span class="milestone-title"><span class="text-warning">*</span>&nbsp;项目结束时间</span>
              </div>
            </div>
            <div class="row yzj-top-distance20" v-for="milestone in milestones">
              <div class="col-xs-3">
                <div class="input-group">
                  <label class="input-group-addon">{[$index+1]}.</label>
                  <input type="text" name="title" class="form-control" v-model="milestone.name"/>
                </div>
              </div>
              <div class="col-xs-3 col-xs-offset-1">
                <div class="input-group">
                  <label class="input-group-addon">￥.</label>
                  <input type="number" name="amount" class="form-control" v-model="milestone.amount"/>
                </div>
              </div>
              <div class="col-xs-3 col-xs-offset-1">
                <div class="input-group" style="position:relative;">
                  <input type="text" name="date" class="form-control" data-provide="datepicker" v-model="milestone.end_at" data-date-format="yyyy-mm-dd"/>
                  <a class="" style="position:absolute;right:-30px;top:10px;" v-show="$index > 0" v-on:click="delRow($index)"><img src="/static/images/del-btn-icon.png"/></a>
                </div>
              </div>
            </div>
          </div>
          <!-- 里程碑 -->
          <div class="yzj-top-distance20 yzj-size-16" v-show="deposit_type == 'milestone'">
            <a class="text-info" href="javascript:;" v-on:click="addRow()">+ 添加里程碑</a>
          </div>
        </div>
        <div class="line"></div>
        <p class="yzj-size-14"><span class="text-warning">*</span>&nbsp;附加信息</p>
        <div class="row yzj-top-distance15">
          <div class="col-xs-8">
            <textarea class="form-control" rows="8" v-model="message"></textarea>
          </div>
        </div>
        <div class="row yzj-top-distance20">
          <div class="col-xs-8 text-align-right">
            <span>最多500字</span>
          </div>
        </div>
        <div class="yzj-top-distance20 yzj-size-16">
          <a class="text-warning" href="javascript:;">+ 附加文件</a>
          <input id="files" type="file" unselectable="on" class="file_upload" v-model="attachment" v-on:change="onload_file"/>
          <span v-if="attachment !=''">&nbsp;{[attachment]}</span>
        </div>
        <div class="line"></div>
        <div class="row">
          <div class="col-xs-12 yzj-size-14">
            <input type="checkbox" value="1" v-bind:true-value="a" v-bind:false-value="b" v-model="agree"/>
            是的，我理解并同意 <a href="#" class="text-warning">【工作服务协议】</a>, 包括<a href="#" class="text-warning">【用户协议】</a>和<a href="#" class="text-warning">【隐私政策】</a>
          </div>
        </div>

        <div class="row yzj-top-distance50 yzj-size-16">
          <div class="col-xs-4 col-xs-offset-4">
            <div class="row">

              <div class="col-xs-6">
                <button type="button" class="btn btn-primary btn-block yzj-right-distance15"
                v-on:click="save()">
                支付
              </button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-block yzj-right-distance15"
              data-dismiss="modal" v-on:click="showModal = false">
              取消
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="yzj-top-distance30"></div>
</div>
</div>
{% include "footer.html" %} 
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/js.cookie.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/editicon-dis.js"></script>
<script src="/static/production/contract-direct.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/common/js/yunwork.js"></script>
<script src="/static/common/js/service.js"></script>
<script src="/static/js/notice.js"></script>
</body>
</html>
