<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8" /> 
    <title>项目发布成功</title> 
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/redefine.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
    <link rel="stylesheet" type="text/css" href="/static/css/selectize.css" /> 
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head> 
  <body> 
    <div id="layout"> 
      <!--头部--> 
      <header class="header-navbar">
      <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
      {% include "include/header/client.html" %}
      </nav>
      </header> 
      <div id="#body" class="container yzj-top-distance50" id="publish-success"> 
        <h1>恭喜！你的项目已经发布成功</h1>
        <div class="line"></div>
        <div class="yzj-box">
          <h2>QQ表情商店开发</h2>
          <div class="detail">
            您好，
            没有钱怎么追星嘛！人到底为什么要赚钱？反正对我们这些人来说，赚钱，是为了追星啊！愿所有迷妹发财！！！ps。花自己的钱，追自己的星，动你家存折了？
          </div>

          <div class="skills">
            <label>技能:</label>
            <span>IOS</span>
            <span>PHP</span>
          </div>
        </div>

        <h2>推荐10位自由职业者为你工作</h2>

        <div class="row">
          <div class="col-xs-2">
            <div class="yzj-box yzj-border">
              <img>
              我是一名小能手
            <div>
          </div>
          <div class="col-xs-2">
          </div>
          <div class="col-xs-2">
          </div>
          <div class="col-xs-2">
          </div>
          <div class="col-xs-2">
          </div>
        </div>
        
      </div>

    </div>
    {% include "footer.html" %} 
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/js/notice.js"></script>
  </body>
</html>
