<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>报表-交易记录</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
          {% include "include/header/client-report.html" %}
      </nav>
    </header>
    <div id="body" class="container yzj-top-distance50">
    	<div class="yzj-box">
	        <div class="col-xs-9 clear-both">
	          <div style="margin-top:-15px; float: left;">
	            <calendar :x="110" :y="28" :value.sync="start_at" :max="end_at" :is_week="false"></calendar>
	          </div>
	          <div style=" float: left; margin: 0 10px; margin-top:-15px; font-size: 16px; line-height: 31px;">
	            至
	          </div>
	          <div style="margin-top:-15px; float: left;">
	            <calendar :x="110" :y="28" :value.sync="end_at" :min="start_at" :is_week="false"></calendar>
	          </div>
	        </div>
	        <div class="col-xs-3 clear-both">
	          <div class="text-right">
	            <span class="text-warning" v-html="'账户余额：￥' + records.margin"></span>
	          </div>
	        </div>
      	</div>
		<div class="col-xs-12 clear-both yzj-top-distance20">
			<ul class="nav nav-tabs yzj-tabs-two yzj-tabs-report" role="tablist">
				<li class="col-xs-3 clear-both {[rtype==''?'active':'']}">
					<a href="javascript:;"  v-on:click="recored_list('')">
						<p class="yzj-size-18">&nbsp;</p>
						<p>全部</p>
					</a>
				</li>
				<li class="col-xs-3 clear-both {[rtype=='freeze'?'active':'']}">
					<a href="javascript:;" class="yzj-padding-top20" v-on:click="recored_list('freeze')">
						<p class="yzj-size-14">托管</p>
						<p class="yzj-size-18 yzj-top-distance5" v-html="'￥' + records.freeze | substr_money"></p>
					</a>
				</li>
				<li class="col-xs-3 clear-both {[rtype=='pay'?'active':'']}">
					<a href="javascript:;" v-on:click="recored_list('pay')">
						<p class="yzj-size-14">支付</p>
						<p class="yzj-size-18 yzj-top-distance5" v-html="'￥' + records.pay | substr_money"></p>
					</a>
				</li>
				<li class="col-xs-3 clear-both {[rtype=='refund'?'active':'']}">
					<a href="javascript:;" class="text-warning" v-on:click="recored_list('refund')">
						<p class="yzj-size-14">退款</p>
						<p class="yzj-size-18 yzj-top-distance5" v-html="'￥' + records.refund | substr_money"></p>
					</a>
				</li>
			</ul>
		</div>
    	<div class="clearfix"></div>

    	<!-- 工时表 -->
		<div class="yzj-box yzj-top-distance20">
			<div class="col-xs-12 clear-both">
		      	<table class="table reports-table yzj-border">
					<thead>
						<tr class="text-muted text-center">
							<td width="15%">日期</td>
							<td width="15%">资金状态</td>
							<td width="55%">描述</td>
							<td width="15%">支付金额</td>
						</tr>
					</thead>
					<tbody>
						<tr v-if="records.records.length > 0" v-for="record in records.records">
							<td width="15%" class="text-center">
								<span v-html="record.create_at | year_month_day"></span>
							</td>
							<td width="15%" class="text-center">
								<span v-html="record.record_type"></span>
							</td>
							<td width="55%">
                <p class="" v-html="record.job.team_name"></p>
                <p class="" v-html="record.job.name"></p>
								<p class="" v-html="record.description"></p>
							</td>
							<td width="15%" class="text-center">
								<span v-html="'￥' + (record.amount + record.fee) | substr_money"></span>
							</td>
						</tr>
						<tr v-if="records.records.length <= 0">
							<td colspan="4">
								<p class="text-center yzj-top-distance40">
									<img src="/static/images/nofavorite-icon.png">
								</p>
								<p class="yzj-bot-distance40 text-center yzj-top-distance20 yzj-size-16">尚无此类交易记录</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="yzj-top-distance30 text-right">
					<div v-page="pageObject" v-bind:query="searchperson"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
    </div>
    {% include "footer.html" %}
  </body>
  </html>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/js.cookie.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/production/trade.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/common/js/yunwork.js"></script>
<script src="/static/common/js/service.js"></script>
<script src="/static/js/notice.js"></script>