<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8" /> 
    <title>我的投标</title> 
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/redefine.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
    <link rel="stylesheet" type="text/css" href="/static/css/selectize.css" /> 
    <link ref="stylesheet" type="text/css" href="/static/css/hint.min.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head> 
  <body>
    <div id="layout"> 
      <!--头部--> 
      <header class="header-navbar">
      <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
      {% include "include/header/freelancer-myjobs.html" %}
      </nav>
      </header> 

      <div id="my-submit" class="container yzj-top-distance50">
          <div class="alert alert-warning border-warning">您的结款申请已经提交</div>
          <div class="padding30 backgruond-fff">
            <h4 style="font-size: 18px; line-height: 70px; font-weight: bold; color:#333;">提交成功，等待审核</h4>
            <div class="row">
                <div class="col-xs-2 text-right title-style lineheight30">里程碑 :</div>
                <div class="col-xs-8 lineheight30">{[stone.name]}</div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-right title-style lineheight30">金额 :</div>
                <div class="col-xs-8 lineheight30">{[stone.amount]}元</div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-right title-style lineheight30">附言 :</div>
                <div class="col-xs-8 lineheight30">{[stone.records[0].message]}</div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-right title-style lineheight30">提交时间 :</div>
                <div class="col-xs-8 lineheight30">{[stone.records[0].create_at]}</div>
            </div>
            <a class="btn btn-primary padding36 margin-30" href="/freelancers/contracts/{[uuid]}">查看合同</a>
          </div>
      </div>
    </div>
    {% include "footer.html" %} 
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/production/jobs-success.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/js/notice.js"></script>
  </body>
</html>
