<td v-if="contract.status == 'finish'|| contract.status == 'dispute' || contract.status == 'service'">
    <div v-if="contract.finish_by == 'team'">
        <div v-if="stone.status == 'finish'">
            <h5 class="margin-bottom-20">已结款</h5>
        </div>
        <div v-if="stone.status == 'dispute'">
            <h5 class="margin-bottom-20">未结款--需求方终止合同</h5>
            <p>客服介入处理，请耐心等待 &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="text-waring">联系客服</a></p>
        </div>
        <div v-if="stone.status == 'service'">
            <h5 class="margin-bottom-20">已结款-{[stone.amount]}元</h5>
            <p>客服处理完成</p>
        </div>
        <div v-if="stone.status == 'cancel'">
            已取消
        </div>
    </div>
    <div v-if="contract.finish_by == 'user'">
        <div v-if="stone.status == 'finish'">
            <h5 class="margin-bottom-20">已结款</h5>
        </div>
        <div v-if="stone.status == 'cancel'">
            已取消
        </div>
    </div>
</td>
