<div v-if="contract.evaluate.user.content != undefined" class="col-xs-8 line_height20">
                <ul class="start_list" style="margin-top: 0px;">          
                <li style="overflow: hidden;">
                  <div v-yzj_star:star="contract.evaluate.user.exchange"></div>
                  <em style="margin-top: -5px;">沟通</em>
                  <div class="clearfix"></div>
                </li>
                <li style="overflow: hidden;">
                  <div v-yzj_star:star="contract.evaluate.user.cooper"></div>
                  <em style="margin-top: -5px;">合作</em>
                  <div class="clearfix"></div>
                </li>
                <li style="overflow: hidden;">
                  <div v-yzj_star:star="contract.evaluate.user.quality"></div>
                  <em style="margin-top: -5px;">需求质量</em>
                  <div class="clearfix"></div>
                </li>
                <li style="overflow: hidden;">
                  <div v-yzj_star:star="contract.evaluate.user.avail"></div>
                  <em style="margin-top: -5px;">可用性</em>
                  <div class="clearfix"></div>
                </li>
                <li style="overflow: hidden;">
                  <div v-yzj_star:star="contract.evaluate.user.deliver"></div>
                  <em style="margin-top: -5px;">合理设置交付时间</em>
                  <div class="clearfix"></div>
                </li>
                <li style="overflow: hidden;">
                  <div v-yzj_star:star="contract.evaluate.user.skill"></div>
                  <em style="margin-top: -5px;">技能</em>
                  <div class="clearfix"></div>
                </li>
              </ul>
              <p class="font14" style="margin-bottom:10px; margin-top: -10px"><b>总分：{[totalf]}分</b></p>
              <p class="font14"><b>评价：</b>{[contract.evaluate.user.content]}</p>
            </div>