<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>评价合同</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
    <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
    <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
  <body>
    <div>
      <!--头部-->
      <header class="header-navbar">
        <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
        {% include "header-my.html" %}
        </nav>
      </header>

      <div class="container yzj-size-14" id="container">
      {% if user.identify[0] == "c" %}
        <p class="yzj-size-16 text-info yzj-top-distance30">请您全面的总结一下使用云沃客的感受，不是针对服务方喔！</p>
      {% else %}
        <h4 class="text-muted yzj-top-distance50 yzj-bot-distance20"><strong>你对在云沃客上的体验还算满意么？</strong></h4>
        <p class="yzj-size-16 text-info yzj-top-distance20">请您评价一下您使用云沃客的感受，不是评价您的需求方</p>
      {% endif %}
        <div class="yzj-top-distance20 yzj-box">
          <div class="yzj-top-distance15" style="padding:0 20px">
            <p class="text-info yzj-size-16 yzj-top-distance20"><strong>你是否愿意将云沃客推荐给你的朋友或者同行</strong></p>
            <div class="evaluate-div yzj-top-distance20">
              <span>一点也不想</span>
              <span v-for="n in 11"><input type="radio" value="{[n]}" name="score" v-model="score"/>{[n]}</span>
              <span>非常乐意</span>
              <div class="clearfix"></div>
            </div>
            <p class="text-info yzj-size-16 yzj-top-distance40"><strong>附言</strong></p>
            <textarea class="yzj-top-distance20 bidTextarea" rows="7" v-model="content"></textarea>
            <p class="yzj-top-distance20">*请告诉我们您使用云沃客的感受，这将帮助我们改进我们的服务</p>
          </div>
          <div class="yzj-top-distance40 yzj-bot-distance20 col-xs-2">
            <input type="button" value="提交" class="btn btn-primary btn-block" v-on:click="add_feedback">
          </div>
          <div class="clearfix"></div>
        </div>

        <alert :msg="error_msg"></alert>

      </div>
      {% include "footer.html" %}
    </div>
    <script src="/static/js/jquery-2.1.4.min.js"></script> 
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/js/notice.js"></script>
    <script src="/static/production/finish_contract.min.js"></script>
  </body>
</html>