<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>合同详情</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectize.css" />
  <link ref="stylesheet" type="text/css" href="/static/css/hint.min.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>

  <!--头部-->
  <header class="header-navbar">
    <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
      {% if user.identify[0] == "c" %}
        {% include "include/header/client.html" %} 
      {% else %} 
        {% include "include/header/freelancer-myjobs.html" %}
      {% endif %}
    </nav>
  </header>

  <div id="my-jobs" class="container yzj-top-distance50">
    <div class="col-xs-9">
      <div style="overflow: hidden;" class="margin-bottom-20">
        {% if user.identify[0] == "c" %}
          <h4 class="pull-left color333" style="line-height: 46px;"> 
            <span v-text="contract.user.freelancer.name"></span> - <span v-text="contract.name"></span>
          </h4>
          <a href="/clients/jobs" class="btn btn-primary pull-right padding36">返回我的项目</a> 
        {% else %}
          <h4 class="pull-left color333" style="line-height: 46px;"> 
            <span v-text="contract.user.client.name"></span> - <span v-text="contract.name"></span>
          </h4>
          <a href="/freelancers/jobs" class="btn btn-primary pull-right padding36">返回我的工作</a> 
        {% endif %}
      </div>

      <p class="text-warning yzj-size-16" v-if="contract.status == 'finish'||contract.status == 'dispute'||contract.status == 'service'" style="margin:-20px 0 30px 0">已结束-<span v-text="contract.actual_end_at | year_month_day"></span></p>
      
      <div v-if="contract.status != 'finish'&&contract.status != 'dispute'&&contract.status != 'service' && contract.job.paymethod != 'hour'" class="backgruond-fff padding-28" style="overflow: hidden;">
        <div class="pull-left width33">
          <div class="padding36">
            <h5 class="content-style">成交价格</h5>
            <h3 class='color333'>￥<span v-text="contract.amount.toFixed(2)"></span></h3>
          </div>
        </div>
        <div class="pull-left width34">
          <div class="padding36 boder-left-right">
            <h5 class="content-style">已支付</h5>
            <h3 class='color333'>￥<span v-text="contract.total_amount.toFixed(2)"></span></h3>
          </div>
        </div>
        <div class="pull-left width33">
          <div class="padding36">
            <h5 class="content-style">未支付</h5>
            <h3 class='color333'>￥<span v-text="(contract.amount-contract.total_amount).toFixed(2)"></span></h3>
          </div>
        </div>
      </div>

      <div v-if="contract.status != 'finish'&&contract.status != 'dispute'&&contract.status != 'service' && contract.job.paymethod == 'hour'" class="backgruond-fff padding-28" style="overflow: hidden;">
        <div class="pull-left width33">
          <div class="padding36">
            <h5 class="content-style">本周</h5>
            <h3 class='color333'>{[workloadNow | hourformat]}小时</h3>
            <h5 class="content-style">￥{[(workloadNow/60*contract.hourly).toFixed(2)]}</h5>
          </div>
        </div>
        <div class="pull-left width34">
          <div class="padding36 boder-left-right">
            <h5 class="content-style">上周</h5>
            <h3 class='color333'>{[workloadPrev | hourformat]}小时</h3>
            <h5 class="content-style">￥{[(workloadPrev/60*contract.hourly).toFixed(2)]}</h5>
          </div>
        </div>
        <div class="pull-left width33">
          <div class="padding36">
            <h5 class="content-style">总计</h5>
            <h3 class='color333'>{[(workloadNow + workloadPrev) | hourformat]}小时</h3>
            <h5 class="content-style">￥{[((workloadNow + workloadPrev)/60*contract.hourly).toFixed(2)]}</h5>
          </div>
        </div>
      </div>

      <div v-if="contract.status != 'finish'&&contract.status != 'dispute'&&contract.status != 'service' && contract.job.paymethod == 'hour'" class="backgruond-fff padding30 yzj-top-distance20">
        <div class="row margin-bottom-20">
          <div class="col-xs-3 line_height20">价格</div>
          <div class="col-xs-4 line_height20">￥<span v-text="contract.hourly.toFixed(2) + '/小时'"></span></div>
        </div>
        <div class="row margin-bottom-20">
          <div class="col-xs-3 line_height20">每周工作上限</div>
          <div class="col-xs-4 line_height20"><span v-text="contract.workload"></span>小时/周</div>
        </div>
        <div class="row margin-bottom-20">
          <div class="col-xs-3 line_height20">是否允许人工计时</div>
          <div class="col-xs-4 line_height20"><span v-text="contract.manual?'是':'否'"></span></div>
        </div>
      </div>

      {% if user.identify[0] == "c" %}
        <div v-if="contract.status == 'finish'||contract.status == 'dispute'||contract.status == 'service'" class="backgruond-fff padding30">
          <div class="row margin-bottom-20">
            <div class="col-xs-2 line_height20">获得报酬</div>
            <div class="col-xs-4 line_height20">
              <div class="pull-left">
                <span v-if="contract.job.paymethod == 'hour'"><span v-text="contract.stones[contract.stones.length-1].shot_times | hourformat"></span>小时&nbsp;&nbsp;</span>￥<span v-text="(contract.stones[contract.stones.length-1].shot_times / 60 * contract.hourly).toFix(2)"></span>
              </div>
            </div>
          </div>
          <div class="row margin-bottom-20">
            <div class="col-xs-2 line_height20">合同价格</div>
            <div class="col-xs-8 line_height20">
            ￥<span v-if="contract.job.paymethod == 'hour'"><span v-text="contract.hourly"></span>/小时&nbsp;&nbsp;</span>
              <span v-if="contract.job.paymethod != 'hour'" v-text="contract.amount.toFixed(2)"></span>
            </div>
          </div>
          <div class="row margin-bottom-20">
            <div class="col-xs-2 line_height20">给需求者的评价</div>
            {% include "contract/evaluate-to-team.html" %}
            <div v-if="contract.evaluate.user.content == undefined" class="col-xs-8 line_height20">对方暂未评价</div>
          </div>
          <div class="row">
            <div class="col-xs-2 line_height20">给开发者的评价</div>
            {% include "contract/evaluate-to-user.html" %}
            <div v-if="contract.evaluate.team.content == undefined" class="col-xs-8 line_height20"><a href="/contracts/{[contract.id]}/evaluate" class="btn btn-primary btn-xsm" style="margin-top: -5px;">评价开发者</a></div>
          </div>
        </div>
        
        <div class="contract-board" v-if="contract.job.paymethod != 'hour'">
          <h4 class="header">里程碑
            <a v-if="isInProgress" class="btn-add-milestone" :href="'/clients/contracts/' + uuid + '/milestone/add'">＋添加里程碑</a>
          </h4>

          <div class="body table-responsive">
            <table class="table">
              <col width="40%" />
              <col width="30%" />
              <col width="30%" />
              <tr v-for="stone in contract.stones">
                
                <td>{[$index+1]}.{[stone.name]}</td>
                <td>￥{[stone.amount.toFixed(2)]}</td>
                <td v-if="isEnd">
                  <span v-if="stone.status == 'finish'">
                    我已结款{[stone.amount]}元-{[stone.pay_time]}之前
                  </span>
                  <span v-if="stone.status == 'carry_pay'">
                    {[contract.user.freelancer.name]}于{[stone.apply_time]}前提交了结款申请{[stone.amount.toFixed(2)]}元
                    <a href="/clients/contracts/{[contract.id]}/pay" target="_blank" class="btn btn-xsm btn-primary margin-right-20">检查并付款</a>
                  </span>
                  <span v-if="stone.status == 'refuse'">
                    我要求修改-{[stone.pay_time]}之前
                    <a href="/clients/contracts/{[contract.id]}/pay" target="_blank" class="btn btn-xsm btn-primary margin-right-20">检查并付款</a>
                  </span>
                  <span v-if="stone.status == 'carry'">
                    <a href="/clients/contracts/{[contract.id]}/active" target="_blank" class="btn btn-xsm btn-primary margin-right-20">立即付款</a>
                  </span>
                  <span v-if="stone.status == 'paid'">
                    这个里程碑未开始
                  </span>
                </td>
                {% include "contract/contract-stop-stone.html" %}
              </tr>
            </table>
          </div>
        </div>      
      {% else %}

      <div v-if="!isEnd" class="backgruond-fff padding30">
        <div class="row margin-bottom-20">
          <div class="col-xs-2 line_height20">获得报酬</div>
          <div class="col-xs-4 line_height20"><span class="pull-left"><span v-if="contract.job.paymethod == 'hour'">{[workloadNow | hourformat]}小时&nbsp;&nbsp;</span>￥{[(workloadNow / 60 * contract.hourly).toFixed(2)]}</span>
          </div>
        </div>
        <div class="row margin-bottom-20">
          <div class="col-xs-2 line_height20">合同价格</div>
          <div class="col-xs-8 line_height20">￥<span v-if="contract.job.paymethod == 'hour'">{[contract.hourly]}/小时&nbsp;&nbsp;</span><span v-if="contract.job.paymethod != 'hour'">{[contract.amount.toFixed(2)]}</span></div>
        </div>
        <div class="row margin-bottom-20">
          <div class="col-xs-2 line_height20">给开发者的评价</div>
          {% include "contract/evaluate-to-user.html" %}
          <div v-if="contract.evaluate.team.content == undefined" class="col-xs-8 line_height20">对方暂未评价</div>
        </div>
        <div class="row">
          <div class="col-xs-2 line_height20">给需求者的评价</div>
          {% include "contract/evaluate-to-team.html" %}
          <div v-if="contract.evaluate.user.content == undefined" class="col-xs-8 line_height20"><a href="/contracts/{[contract.id]}/evaluate" class="btn btn-primary btn-xsm" style="margin-top: -5px;">评价需求者</a></div>
        </div>
      </div>

      <h4 v-if="contract.job.paymethod != 'hour'" class="margin20 color333">里程碑</h4>
      <div v-if="contract.job.paymethod != 'hour'" class="backgruond-fff padding30">
        <div class="table-responsive">
          <table class="table border-outer">
            <col width="40%" />
            <col width="30%" />
            <col width="30%" />
            <tr v-for="stone in contract.stones">
              <td>
                <h5 class="text-muted">{[$index+1]}.{[stone.name]}</h5>
              </td>
              <td>
                <h5 class="text-muted" style="margin-bottom: 6px;">￥{[stone.amount.toFixed(2)]}</h5>
              </td>
              <td v-if="isEnd">
                <div v-if="stone.status == 'finish'">
                  <h5 class="margin-bottom-20">已结款{[stone.amount.toFixed(2)]}元-{[stone.pay_time]}之前</h5>
                </div>
                <div v-if="stone.status == 'carry_pay'">
                  <h5 class="margin-bottom-20">{[stone.apply_time]}前提交了结款申请{[stone.amount]}元</h5>
                  <a href="javascript:;" class="btn btn-xsm btn-primary margin-right-20" data-toggle="modal" data-target="#apply" v-on:click="setStone(stone,contract.id)">重新提交</a> <a class="text-warning" href="/freelancers/contracts/{[contract.id]}/{[stone.id]}/detail">查看详情</a>
                </div>
                <div v-if="stone.status == 'refuse'">
                  <h5 class="margin-bottom-20">雇主要求修改{[stone.pay_time]}之前</h5>
                  <a href="javascript:;" class="btn btn-xsm btn-primary margin-right-20" data-toggle="modal" data-target="#apply" v-on:click="setStone(stone,contract.id)">重新提交</a> <a class="text-warning" href="/freelancers/contracts/{[contract.id]}/{[stone.id]}/detail">查看详情</a>
                </div>
                <div v-if="stone.status == 'carry'">
                  <a href="javascript:;" class="btn btn-xsm btn-primary margin-right-20" data-toggle="modal" data-target="#apply" v-on:click="setStone(stone,contract.id)">提交结款申请</a>
                </div>
                <div v-if="stone.status == 'paid'">
                  这个里程碑未开始
                </div>
              </td>
              {% include "contract/contract-stop-stone.html" %}
            </tr>
          </table>
        </div>
      </div>

      {% endif %}

      <h4 v-if="contract.job.paymethod == 'hour'" class="margin20 color333">结款记录 
        <span style="font-size: 12px; margin-left: 20px;" class="text-warning">*</span>
        <span style="font-size: 12px; color: #999;">超过每周工作上限的工时将不会被需求方支付</span>
        <span class="remind">
          <img class="js-remind" src="/static/images/nav-icon03.png">
          <div class="remind_box">需求方在给服务方发offer的时候会设定每周最大的工作时间并托管相应的资金。服务方在进行工作的时候，应该参照每周最大工作时限。如果服务方的工作时间超过最大时限。超出的时间将不会被支付。如果与需求方协商增大了每周工作时间，需求方可以通过“发奖金”功能补偿服务方。
          </div>
        <span>
      </h4>

      <div v-if="contract.job.paymethod == 'hour'" class="backgruond-fff padding30">
        <div class="table-responsive">
          <table class="table border-outer">
            <col width="30%" />
            <col width="20%" />
            <col width="20%" />
            <col width="30%" />
            <tr>
              <td class="font14">日期</td>
              <td class="font14">工时</td>
              <td class="font14">金额</td>
              <td class="font14">状态</td>
            </tr>
            <tr v-for="stone in contract.stones">
              <td>
                <h5>{[stone.create_at | year_month_day]}--{[stone.end_at | year_month_day]}</h5>
              </td>
              <td>
                <h5 style="margin-bottom: 6px;">{[stone.shot_times | hourformat]}小时 &nbsp;<span v-if="stone.shot_times/60 > contract.workload" class="text-warning">(已超限)</span></h5>
              </td>
              <td>
                <h5 style="margin-bottom: 6px;">￥{[(stone.shot_times/60*contract.hourly).toFixed(2)]}</h5>
              </td>
              <td v-if="contract.status != 'finish'&&contract.status != 'dispute'&&contract.status != 'service'">
                <div v-if="stone.status == 'finish'">
                  <h5 class="margin-bottom-20">已结款
                </div> 
                <div v-if="stone.status == 'carry_pay'">
                  <h5>
                    等待结款&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if user.identify[0] == "c" %}
                      <a href="/clients/contracts/{[contract.id]}/pay" target="_blank" class="text-warning">查看日志</a>
                    {% else %}
                      <a href="/freelancers/diary?contract_id={[contract.id]}" target="_blank" class="text-warning">查看日志</a>
                    {% endif %}
                  </h5>
                </div>
                <div v-if="stone.status == 'carry'">
                  <h5>进行中</h5>
                </div>
                <div v-if="stone.status == 'pause'">
                  <h5>暂停中</h5>
                </div>
                <div v-if="stone.status == 'dispute'">
                  <h5 class="margin-bottom-20">未结款-需求方终止合同</h5>
                  <p>
                    客服介入处理，请耐心等待&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" target="_blank" class="text-warning">联系客服</a>
                  </p>
                </div>
                <div v-if="stone.status == 'service'">
                  <h5 class="margin-bottom-20">已结款-￥{[stone.actual_amount.toFixed(2)]}</h5>
                  <p>
                    客服处理完成
                  </p>
                </div>
                <div v-if="stone.status == 'cancel'">
                  已取消
                </div>
              </td>
              {% include "contract/contract-stop-stone.html" %}
            </tr>
          </table>
        </div>
      </div>
    </div>
    
    {% include "contract/show-contract-right.html" %}
    
    <!-- 结束合同 -->
    <modal :showmodal.sync="modals.finish_modal">
      {% if user.identify[0] == "c" %}
        <finish_contract :stone="stone" :is_carray="is_carray" :contract_id="contract.id" :is_freelancer="false" slot="content"></finish_contract>
      {% else %}
        <finish_contract :stone="stone" :is_carray="is_carray" :contract_id="contract.id" :is_freelancer="true" slot="content"></finish_contract>
      {% endif %}
    </modal>

    <!-- 发消息 -->
    <send-message v-if="contract.id" :contract-id="contract.id"></send-message>
    
    <!-- 结束合同(时薪制） -->
    <finish-hour-contract v-if="contract.id" :contract="contract"></finish-hour-contract>
    
    <!-- 发放奖金 -->
    <post-bonus v-if="contract.id" :freelancer-id="contract.user.freelancer.id" :contract-id="contract.id"></post-bonus>

    <div class="modal fade bs-example-modal-lg choose-sort apply-modal" id="apply" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog contract-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="education_close">
              <span aria-hidden="true" class="yzj-size-30">&times;</span>
            </button>
          </div>
          <div class="modal-body yzj-box yzj-height20 yzj-top-distance10">
            <h3 class="modal-title text-muted text-center">提交结款申请</h3>
            <div class="yzj-size-16 yzj-top-distance50 text-info" style="padding-left:100px;padding-right: 100px;">
              <table>
                <col width="30%" />
                <col width="70%" />
                <tr>
                  <td colspan="2"><span class="apply-tip">提交工作完成申请，你的酬劳将会在批准之后释放</span></td>
                </tr>
                <tr>
                  <td>
                    里程碑
                  </td>
                  <td>
                    {[stoneName]}
                  </td>
                </tr>
                <tr>
                  <td>
                    酬劳
                  </td>
                  <td>
                    {[stoneAmount.toFixed(2)]}元
                  </td>
                </tr>
                <tr>
                  <td>
                    留言
                  </td>
                  <td>
                    <textarea rows="4" class="form-control" v-model="message" id="reason"></textarea>
                  </td>
                </tr>
                <tr>
                  <td>附件</td>
                  <td>
                    <div class="inputfileload pull-left yzj-right-distance15" v-model="attachment">
                      <div class="uploadphoto">
                        上传文件
                      </div>
                      <input type="file" v-on:change="notifyFileInput($event)" class="inputfile" id="fileupload" name="file" />
                    </div>
                    <div class="fileloadtext pull-left yzj-right-distance45" v-if="filename != ''" v-model="filename">
                      {[ filename ]}
                    </div>
                    <div v-if="!filename" class="fileloadtext pull-left">
                      文件大小不得超过5MB
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="form-group" v-show="errFile">
            <div class="col-xs-12 text-warning yzj-size-14">
              <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errFile]}
            </div>
          </div>
          <div class="yzj-bot-distance50 yzj-size-14 col-xs-offset-2">
            <div class="col-xs-4 clear-right">
              <button type="button" class="btn btn-primary btn-block yzj-right-distance15" v-on:click="apply()">确认</button>
            </div>
            <div class="col-xs-4 clear-right">
              <button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "footer.html" %}

  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/production/contract-detail.min.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/notice.js"></script>

</body>

</html>
