<div class="col-xs-3">
  {% if user.identify[0] != "c" %}
    <div class="padding30 backgruond-fff margin-bottom-20">
      <h4 class="text-muted">需求方</h4>
      <div class="line"></div>
      <div class="yzj-top-distance20 yzj-size-16 dash-border">
        <p class="text-muted">offer发送人</p>
        <div class="yzj-top-distance20 clearfix">
          <img width="69" height="69" class="img-circle navbar-header pull-left" v-bind:src="contract.user.client.avatar">
          <div class="show-contract-photoinfo yzj-size-14 pull-left" style="width: 110px;">
            <p style="line-height: 20px">{[contract.user.client.name]}</p>
            <p style="line-height: 20px" class="yzj-top-distance10">{[contract.user.client.name_private]}</p>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <a class="btn btn-border" data-toggle="modal" data-target="#send_message">发送消息</a>
    </div>
  {% else %}
    <div class="padding30 backgruond-fff margin-bottom-20">
      <h4 class="text-muted">开发方</h4>
      <div class="line"></div>
      <div class="yzj-size-16 dash-border clearfix">
        <div>
          <img width="69" height="69" class="img-circle navbar-header pull-left" v-bind:src="contract.user.freelancer.avatar">
          <div class="show-contract-photoinfo yzj-size-14 pull-left" style="width: 110px;">
            <p style="line-height: 20px">{[contract.user.freelancer.name]}</p>
            <p style="line-height: 20px">{[contract.create_at | year_month_day]}</p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <a class="btn btn-border" data-toggle="modal" data-target="#send_message">发送消息</a>
    </div>
  {% endif %}

  <div class="padding30 backgruond-fff margin-bottom-20">
    <h4 class="text-muted">合同细节</h4>
    <div class="line"></div>
    <div class="yzj-top-distance20 yzj-size-16 dash-border">
      <div style="margin-bottom: 10px;">
        <p v-if="isInProgress" class="text-muted">激活状态</p>
        <p v-if="contract.status == 'pause'" class="text-muted">暂停状态</p>
        <p v-if="contract.status == 'finish' || contract.status == 'dispute' || contract.status == 'service'" class="text-muted">结束状态</p>
      </div>
      <p class="text-muted line_height20">开始时间 {[contract.create_at | year_month_day]}</p>
      <p class="text-muted line_height20">合同编号 {[contract.invoice]}</p>
      <p>
        {% if user.identify[0] == "c" %}
          <a href="/clients/freelancers/diary?contract_id={[contract.id]}" class="font14 line_height20" style="color: #ff7a2c;" v-if="contract.status != 'finish'&&contract.status != 'dispute'&&contract.status != 'service' && contract.job.paymethod == 'hour'">查看工作日志</a> 
        {% else %}
          <a href="/freelancers/diary?contract_id={[contract.id]}" class="font14 line_height20" style="color: #ff7a2c;" v-if="contract.status != 'finish'&&contract.status != 'dispute'&&contract.status != 'service' && contract.job.paymethod == 'hour'">查看工作日志</a>
        {% endif %}

      </p>
      <p>
        <a href="/jobs/{[contract.job.id]}" class="line_height20" style="color: #ff7a2c;">查看原始工作详情</a>
      </p>
      <p>
        <a href="/freelancers/offer/{[contract.id]}" class="line_height20" style="color: #ff7a2c;">查看offer</a>
      </p>
    </div>
    <div class="clearfix"></div>
    
    {% if user.identify[0] != "c" %}
      <a v-if="contract.status != 'finish'&&contract.status != 'dispute'&&contract.status != 'service'" style="display: block; width: 110px;" v-on:click="finish_contract" class="btn btn-primary btn-xsm yzj-top-distance10 text-center">终止合同</a> 
    {% else %}
      <a data-toggle="modal" data-target="#send-reward" style="display: block; width: 110px;" class="btn btn-primary btn-xsm yzj-top-distance10 text-center">发放奖金</a>

      <a v-if="contract.status != 'finish'&&contract.status != 'dispute'&&contract.status != 'service' && contract.job.paymethod == 'fixed'" href="javascript:;" style="display: block; width: 110px;" @click="finish_contract" class="btn btn-primary btn-xsm yzj-top-distance10 text-center">结束合同</a>
        
      <a v-if="contract.status != 'finish'&&contract.status != 'dispute'&&contract.status != 'service' && contract.job.paymethod == 'hour'" href="javascript:;" style="display: block; width: 110px;" data-toggle="modal" data-target="#finish-hour-contract" class="btn btn-primary btn-xsm yzj-top-distance10 text-center">结束合同</a>
      <a href="#" v-if="contract.is_open_next" v-on:click="pay(contract.id)" class="btn btn-primary btn-xsm yzj-top-distance10 text-center">为下周工作付款</a>
    {% endif %}
  </div>

</div>