<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8" /> 
    <title>我的投标</title> 
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/redefine.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
    <link rel="stylesheet" type="text/css" href="/static/css/selectize.css" /> 
    <link ref="stylesheet" type="text/css" href="/static/css/hint.min.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head> 
  <body>
    <div id="layout"> 
      <!--头部--> 
      <header class="header-navbar">
      <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
      {% include "include/header/freelancer-myjobs.html" %}
      </nav>
      </header> 

      <div id="my-submit" class="container yzj-top-distance50">
          <div class="padding30 backgruond-fff">
            <div style="overflow: hidden;" class="margin-bottom-20">
              <h4 class="pull-left color333" style="line-height: 46px;">里程碑审核</h4>
              <a href="/freelancers/contracts/{[uuid]}" class="btn btn-primary pull-right padding36">返回合同详情</a>
            </div>
            <div class="row">
                <div class="col-xs-2 text-right title-style  lineheight30">里程碑 :</div>
                <div class="col-xs-8  lineheight30">{[stone.name]}</div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-right title-style  lineheight30">金额 :</div>
                <div class="col-xs-8  lineheight30">{[stone.amount]}元</div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-right title-style  lineheight30">附件 :</div>
                <div class="col-xs-8  lineheight30">
                  <div v-for = "attach in attachments">
                    <a href="{[attach.path]}" class="attach-icon">
                      {[attach.name]}
                    </a>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-right title-style  lineheight30">往来消息 :</div>
                <div class="col-xs-8" style="max-height: 400px; overflow: auto;">
                  <p class="message-style lineheight30" style="overflow: hidden;" v-for="record in message">
                    {[record.content]}<span class="pull-right">{[record.time]}</span>
                  </p>
                </div>
            </div>
          </div>
      </div>
    </div>
    {% include "footer.html" %} 
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/production/jobs-success.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/js/notice.js"></script>
  </body>
</html>
