<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>你查找的页面在地球上没找到哦</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
		<link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
		<link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
		<link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
	  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
	<body style="background-color:#fbfbfb;">
		<header class="header-navbar">
		  <nav class="navbar navbar-default">
		  <div class="container">
        {% if user %}
		    {% include "header.html" %}
        {% else %}
		    {% include "header-nologin.html" %}
        {% endif %}
		  </div>
		  </nav>
		</header>
		<!--中间内容开始-->
		<div class="text-center">
			<p class="yzj-top-distance70">
				<img src="/static/images/404.png">
			</p>
			<h3 style="margin-top:75px;" style="color:#999">
				<b>抱歉暂时没有找到您访问的页面</b>
			</h3>
			<h3 style="margin-top:25px;" style="color:#999">
				<b>可能页面和系统正在升级维护</b>
			</h3>
			<p class="yzj-top-distance40">
				<img src="/static/images/go-back.png" onclick="window.history.go(-1)"/>
			</p>
		</div>
		{% include "footer.html" %}
	</body>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/selectlist.js"></script>
<script src="/static/js/editicon-dis.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/js.cookie.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/common/js/yunwork.js"></script>
<script src="/static/common/js/service.js"></script>
<script src="/static/js/notice.js"></script>
</html>
