<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>设置中心-钱包-提现成功</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div>
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
        <!-- {% include "header-my.html" %} -->
      </nav>
    </header>

    <div id="layout" class="container yzj-top-distance50">
      <!--左侧-->
      {% include "freelancer-setting-sider.html" %}
      <!--右侧-->
      <div class="col-md-9 clear-both">
        <h4 class="text-muted"><strong>账户提现</strong></h4>
        <div class="yzj-top-distance20 yzj-size-16 yzj-box">
          <div class="col-xs-3 clear-left yzj-top-distance50 recharge-success"></div>
          <div class="col-xs-9 yzj-top-distance70">
              <h4 class="text-muted">您的提现申请已提交，将在3个工作日内到账。届时会有消息通知，请耐心等待</h4>
              <p class="yzj-top-distance15">提现金额 : {{result.amount}}元 </p>
              <p class="yzj-top-distance15">当前余额 : <span class="text-warning">{{result.balance}}</span>元</p>
            <div class="yzj-top-distance40">
              <div class="col-xs-4 clear-left">
                <a href="/freelancers/settings/account" class="btn btn-default btn-block">查看账户信息</a>
              </div>
              <div class="col-xs-4 clear-left">
                <a href="/freelancers/settings/withdrawal" class="btn btn-primary btn-block">继续提现</a>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>
    {% include "footer.html" %}
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/js/notice.js"></script>
</body>
</html>
