<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>奖金支付</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  <div>
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
        {% include "header-my.html" %}
      </nav>
    </header>
    <div class="container">
      <p class="yzj-top-distance20">
        <a href="javascript:;" class="text-warning" onclick="window.history.go(-1)">
          < 返回上一页</a>
      </p>
      <div class="clearfix"></div>
      <div class="yzj-box yzj-top-distance20">
        <div style="padding:0px 20px;">
          <p class="yzj-size-16 yzj-top-distance20"><span class="text-muted">收款方：北京云族佳科技有限公司</span>（云沃客第三方项目金托管管理账户）</p>
          <hr>
          <p class="yzj-size-16 yzj-top-distance20 text-muted">支付内容：</p>
          <div class="row yzj-top-distance20">
            <div class="col-xs-6"><span class="yzj-size-16 text-muted">{[bonus.contract_name]}</span></div>
            <div class="col-xs-4">
              <span class="yzj-size-16 text-center text-muted">奖金支付</span>
            </div>
            <div class="col-xs-2"><span class="yzj-size-16 text-center text-muted">￥{[bonus.amount]}</span></div>
          </div>
          <div class="pay-remark">
            <img src="/static/images/info.png" /> 平台将收取10%服务费，服务方最终获得：
            <span class="money">￥{[bonus.amount*0.9]}</span>
          </div>
          <hr>
          <p class="yzj-size-16 yzj-top-distance20 text-muted">选择支付方式：</p>
          <div class="yzj-top-distance20 table-border">
            <div class="col-xs-3 yzj-box yzj-border text-center yzj-right-distance20 table-sort" v-bind:class="{'active': paystatus }" v-on:click="change_paymethod_true()">
              <img src="/static/images/alipay.png" />
            </div>
            <div class="col-xs-3 yzj-box yzj-border table-sort" v-bind:class="{'active': !paystatus }" v-on:click="change_paymethod_false()">
              <div class="col-xs-5 text-right clear-both">
                <img src="/static/images/zhye.png" />
              </div>
              <div class="col-xs-7">
                <p class="text-left yzj-top-distance10">
                  <strong class="text-muted">账户余额</strong></p>
                <p class="text-left yzj-top-distance5 text-muted">{[margin]}元</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr>
          <div class="col-xs-2 col-xs-offset-10 clear-both">
            <p class="yzj-size-16 yzj-top-distance20">合同金额：{[bonus.amount]}元</p>
            <p class="yzj-size-16 yzj-top-distance20">实际支付：<span class="colorff7">{[bonus.amount]}</span>元</p>
            <div class="yzj-top-distance20">
              <button class="btn btn-primary btn-lg" id="confirm-pay" v-on:click="pay_amount()">确认支付</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <strap-alert :msg="errMsg" show-type="danger" :show-alert="showAlert"></strap-alert>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/notice.js"></script>
  <script src="/static/production/bonus-pay.min.js"></script>
</body>

</html>