<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>我的合同</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
      {% include "header-my.html" %}
      </nav>
    </header>

    <div id="body" class="container yzj-top-distance50">
      <!-- <h4 class="text-muted"><strong>团队</strong></h4>
      <div class="yzj-top-distance30 col-xs-9 clear-both">
        <div class="col-xs-6 clear-left">
          <div class="form-group">
            <select class="form-control" name="works" v-on:change = "teatcontract()" v-model = "team_id">
              <option v-for = "item in teams" value="{[item.team_id]}">{[item.name]}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6 clear-left">
          <input type="text" class="form-control search-box-works" placeholder="请输入项目名称" v-model = "keyword" @keyup.13 = "searchcontract"/>
          <img src="/static/images/nav-icon02.png" class="yzj-right-distance10 yzj-top-distance-55 yzj-left-distance20">
        </div>
      </div>
      <div class="clearfix"></div> -->
      <!--无结果-->
      {% if user.identify[0] == 'c' %}
        <div class="yzj-top-distance10 yzj-box text-center yzj-size-18" v-show = "contracts.length<=0">
          <p class="text-center yzj-top-distance40">
          <img src="/static/images/nofavorite-icon.png">
          </p>
          <p class="yzj-bot-distance40 text-center yzj-top-distance20 yzj-size-16">您还没有合同--
          <a href="/jobs/new" class="text-warning">发布一个项目</a></p>
        </div>
      {% else %}
        <div class="yzj-top-distance10 yzj-box text-center yzj-size-18" v-show = "contracts.length<=0">
          <p class="text-center yzj-top-distance40">
          <img src="/static/images/nofavorite-icon.png">
          </p>
          <p class="yzj-bot-distance40 text-center yzj-top-distance20 yzj-size-16">您还没有合同--<a href="">找一份工作吧</a></p>
        </div>
      {% endif %}

      <!--有结果-->
      <div class="yzj-size-16" v-show = "contracts.length>0">
        <div class="col-xs-12 clear-both">
        <div class="col-xs-4">服务方</div>
        <div class="col-xs-3">周期</div>
        <div class="col-xs-2">价格</div>
        <div class="col-xs-2">状态</div>
        <div class="col-xs-1">&nbsp;</div>
        </div>
        <div class="clearfix"></div>
        <div class="yzj-top-distance10 yzj-box">
          <div class="col-xs-12 clear-both" v-for = "item in contracts">
            <div class="col-xs-4 clear-left">
              <p class="yzj-size-16 text-muted"><a href="javascript:;" onclick="window.open('/freelancers/contracts/{[item.id]}')">{[item.user.freelancer.name]}</a></p>
              <p class="yzj-size-14 yzj-top-distance10">
                {[item.name]}
              </p>
            </div>
            <div class="col-xs-3 clear-left">
              <p>&nbsp;</p>
              <p class="yzj-size-14 text-info yzj-top-distance10">
                {[item.accept_at | date_to_str '10']}--
                <span v-if="item.actual_end_at == ''">至今</span>
                <span v-else>{[item.actual_end_at | date_to_str '10']}</span>
              </p>
            </div>
            <div class="col-xs-2" style="padding-left:30px">
              <p>&nbsp;</p>
              <p class="yzj-size-14 text-info yzj-top-distance10">
                <span v-if="item.job.paymethod=='hour'">{[item.hourly]}元/小时</span>
                <span v-if="item.job.paymethod=='fixed'">{[item.amount]}元</span>
              </p>
            </div>
            <div class="col-xs-2" style="padding-left:40px" v-if="item.status_value != '争议中'">
              <p>&nbsp;</p>
              <p class="yzj-size-14 text-info yzj-top-distance10">
                {[item.status_value]}
              </p>
            </div>
            <div class="col-xs-2" style="padding-left:40px" v-else>
              <p class="yzj-size-14 text-info yzj-top-distance5">已结束</p>
              <p class="yzj-size-14 text-warning yzj-top-distance10">
                争议中
              </p>
            </div>
            <div class="col-xs-1 clear-both">
              <p class="yzj-size-14" v-bind:class="(item.status == 'finish' && !item.is_evaluate)?'':'yzj-top-distance25'" v-if="(item.status == 'pause' || item.status == 'carry_paid' || item.status == 'finish') && item.job.paymethod=='hour'">
              <a class="text-warning" href="/clients/freelancers/diary?contract_id={[item.id]}">工作日志</a>
              </p>
              <p class="yzj-size-14 yzj-top-distance25" v-if="!item.is_evaluate && (item.status == 'finish' || item.status == 'service' || item.status == 'dispute')">
                <a class="text-warning" href="/contracts/{[item.id]}/evaluate">评价开发者</a>
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="line"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}

  <div class="modal fade" id="confirm">
    <div class="modal-dialog modal-warning" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <h4 class="modal-title text-center text-danger" id="myModalLabel"><strong>错误提示</strong></h4>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">确定</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/common/js/vue-directive.js"></script>
  <script src="/static/js/frontend/contract-list.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/js/notice.js"></script>
</body>
</html>
