<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>创建需求者</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
	<link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
	<link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
	<div id="layout">
		<!--头部-->
		<header class="header-navbar">
      <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
      {% include "header-my.html" %}
      </nav>
    </header>

		<div id="body" class="container yzj-top-distance50">
			<h4 class="text-muted"><strong>创建需求者身份</strong></h4>
			<p class="yzj-size-14 yzj-top-distance20">如果您想在网站上发布需求、雇佣服务者，你可以创建您的需求者身份。您可以自由快捷地在两个身份之间切换。</p>
			<div class="yzj-box yzj-top-distance20">
				<p class="text-center yzj-top-distance10"><img src="/static/images/creat-client.png"/></p>
				<form class="form-horizontal yzj-top-distance10 col-xs-8 col-xs-offset-3">
					<div class="form-group yzj-size-16 text-info">
          <label class="control-label col-xs-2 clear-both text-left"><span class="text-warning">*</span> 需求方名称</label>
            <div class="col-xs-7 clear-left">
              <input type="text" class="form-control" name="real-name" required="" required-msg="真实姓名不能为空" v-model = "clientName">
              <!--<p class="yzj-size-14 yzj-top-distance10 text-primary">默认情况下您的名称不会再网站显示
              </p>-->
            </div>

          </div>
          <div class="form-group yzj-size-16 yzj-top-distance50">
          	<div class="col-xs-4 clear-left col-xs-offset-2">
          		<a class="btn btn-primary btn-block" v-on:click = "creatClient()">创建需求方身份</a>
          	</div>
          	<div class="col-xs-3 clear-left">
          		<button class="btn btn-default btn-block" onclick="history.go(-1)">取消</button>
          	</div>
          </div>
				</form>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	{% include "footer.html" %}

	<script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/common/js/vue-directive.js"></script>
  <script src="/static/js/frontend/creatClient.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/js/notice.js"></script>
</body>
</html>
