<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>投标-{{job.name}}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "include/header/freelancer-top.html" %}
        </div>
        <!-- {% include "header-my.html" %} -->
      </nav>
    </header>
    <div id="body" class="container yzj-top-distance50">
      <h4 class="text-muted"><strong>提交投标</strong></h4>
      <div class="yzj-top-distance20 yzj-box">
        <div>
          <h4 class="text-muted">工作信息</h4>
          <div class="line"></div>
          <div class="table-border">
            <p class="text-muted yzj-size-16"><strong>{{job.name}}</strong></p>
            <div class="yzj-top-distance20 yzj-size-14"><p class="bid-jobDescription">{{job.description}}</p></div>
            <p class="yzj-top-distance20 yzj-size-14"><a href="/jobs/{{job.id}}" class="text-warning">查看工作详情</a></p>
            <p class="yzj-top-distance20 yzj-bot-distance20 text-muted yzj-size-16"><strong>期待的经验水平</strong></p>
            {% if job.level=='entry' %}
            <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20 active">
            {% else %}
            <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20">
            {% endif %}            
              <img src="/static/images/send-icon03.png">
              <p class="yzj-top-distance20 text-info yzj-size-16">入门级</p>
            </div>
            {% if job.level=='middle' %}
            <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20 active">
            {% else %}
            <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20">
            {% endif %}  
              <img src="/static/images/send-icon04.png">
              <p class="yzj-top-distance20 text-info yzj-size-16">中间级</p>
            </div>
            {% if job.level=='expert' %}
            <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20 active">
            {% else %}
            <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20">
            {% endif %}  
              <img src="/static/images/send-icon05.png">
              <p class="yzj-top-distance20 text-info yzj-size-16">专业级</p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <form class="form-horizontal yzj-top-distance20 text-info" id="form-bid">
        <input type="hidden" value="{{job.id}}" v-model="jobId">
        <div class="yzj-top-distance30 yzj-size-16">
          <h4 class="text-muted">我的报价</h4>
          <div class="line"></div>
          <div class="yzj-top-distance30">
            <p class="text-muted"><strong>报价</strong></p>
            
              <div class="form-group">
                <label class="control-label col-xs-3 text-left">需求者看到的您的标价</label>
                <div class="bidPrice col-xs-3 clear-left">
                  <i></i>
                  <input required required-msg="报价必填" name="bidPrice" type="text" class="form-control" v-on:keyup="calculate" v-model="bidPrice">
                </div>
                <div class="yzj-height40 clear-left">
                {% if job.paymethod=='fixed' %}
                  
                {% else %}
                   / 小时
                {% endif %}
                </div>
              </div>
              <div class="form-group error-div" name="error" data-name="bidPrice">
                <div class="col-xs-offset-3 col-xs-6 text-warning yzj-size-14">
                  <span class="yzj-right-distance10"></span>
                  <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                  <span class="errorMsg"></span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3 text-left">您实际获得的回报</label>
                <div class="bidPrice col-xs-3 clear-left">
                  <i></i>
                  <input type="text" class="form-control" disabled="true" v-model="calculatePrice">
                </div>
                <div class="yzj-height40 clear-left">
                  {% if job.paymethod=='fixed' %}
                    
                  {% else %}
                     / 小时
                  {% endif %}
                </div>
              </div>
           
          </div>
        </div>    
        <div class="clearfix"></div>
        {% if job.paymethod=='fixed' %}
        <div class="yzj-top-distance30 yzj-size-16">
          <h4 class="text-muted">预计完成时间</h4>
          <div class="line"></div>
          <select required required-msg="请选择预计完成时间" name="bidEndTime" class="form-control select-control" style="width:30%" v-model="bidEndTime" v-on:change="checkSelect">
            <option value="" selected="true">请选择</option>
            <option v-for="item in options" value="{[item.val]}">{[item.txt]}</option>
          </select>
          <div class="yzj-top-distance20 form-group error-div row" style="margin-left: 0px;" name="error" data-name="bidEndTime">
            <div class="col-xs-6 clear-left text-warning yzj-size-14">
              <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
              <span class="errorMsg"></span>
            </div>
          </div>
        </div>    
        <div class="clearfix"></div>
        {% endif %}
        <div class="yzj-top-distance30 yzj-size-16">
          <h4 class="text-muted">求职信</h4>
          <div class="line"></div>
          <div class="col-xs-7 clear-left">
            <textarea  required required-msg="求职信必填" name="bidMessage" placeholder="求职信" rows="7" class="form-control" v-model="bidMessage"></textarea>
          </div>
          <div class="clearfix"></div>
          <div class="yzj-top-distance20 form-group error-div" name="error" data-name="bidMessage">
            <div class="col-xs-6 text-warning yzj-size-14">
              <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
              <span class="errorMsg"></span>
            </div>
          </div>  
          <div class="clearfix"></div>
          <div class="yzj-top-distance30 yzj-size-16">
            <h4 class="text-muted">附件</h4>
            <div class="line"></div>
            <span class="bidFile">选择文件</span>
            <input id="files" type="file" unselectable="on" class="file_upload" v-on:change="attachment"/>
            <span>&nbsp;{[bidAttachment]}</span>
            <div class="yzj-top-distance20 yzj-size-14" style="line-height:24px;width:51%">附件大小不超过5M，你可以上传您的工作成果或者其他可以提高您申请成功率的资料。 不要上传您的简历，您提交报价之后需求方将可以查看你的档案</div>
          </div>   
          <div class="col-xs-5 clear-left yzj-top-distance50 yzj-bot-distance20">
            <div class="col-xs-6 clear-left">
              {% if job.paymethod=='fixed' %}
                <input type="button" value="提交投标" class="btn btn-primary btn-block" data-toggle="modal" v-on:click="showDialog">
              {% else %}
                <input type="button" value="提交投标" class="btn btn-primary btn-block" v-on:click="commitBid('hour')">
              {% endif %}
            </div>
            <div class="col-xs-6 clear-left">
              <input type="button" value="取消" class="btn btn-default btn-block" onclick="history.go(-1)">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        </form>
      </div>


  <div class="modal fade bs-example-modal-lg choose-sort" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="education_close">
            <span aria-hidden="true" class="yzj-size-30">&times;</span>
          </button>
        </div>
        <div class="modal-body">          
          <h3 class="modal-title text-info text-center">您需要知道的事情</h3>
          <div class="modal-body yzj-box yzj-height20 yzj-top-distance10">
            <p class="yzj-size-14 yzj-top-distance10">您正在投标一个定价项目。在项目的大多数工作已经完成时，您需要牢记以下几点：</p>
            <div class="yzj-top-distance20 yzj-size-14">
            <p class="yzj-size-16 text-muted">1.定价项目实行第三方资金托管</p>
              <div class="yzj-top-distance10 yzj-size-14 yzj-height30">您在开始工作之前，您和需求方应当就项目的需求、报价、里程碑达成一致。云沃客在项目开始时向需求方收费。</div>
            </div>
            <div class="yzj-top-distance20 yzj-size-14">
            <p class="yzj-size-16 text-muted">2.在需求方验收完工作之后，托管资金释放</p>
              <div class="yzj-top-distance10 yzj-size-14 yzj-height30">当您完成了一个里程碑之后，您可以向需求方提交结款申请，对方同意后，您将获得报酬。如需求方对您的工作不满意，您需要完善工作之后，重新提交结款申请。一个里程碑结款之后，下一个里程碑自动开始。
              </div>
            </div>
            <div class="yzj-top-distance20 yzj-size-14">
              <p class="yzj-size-16 text-muted">3.云沃客提供争议仲裁服务</p>
              <div class="yzj-top-distance10 yzj-size-14 yzj-height30">如果您做了工作，需求者拒绝支付的话，您可以寻求争议仲裁</div>
            </div>
            <div class="yzj-top-distance30 yzj-size-14">
              <input type="checkbox" id="commitCheck" checked><label for="commitCheck" style="font-weight:normal;">我已了解以上事项</label>
              <div class="yzj-top-distance30">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 clear-right">
                  <button type="button" class="btn btn-primary btn-block yzj-right-distance15" v-on:click="commitBid('fixed')">确认提交</button>
                </div>
                <div class="col-xs-4 clear-right">
                  <button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
    </div>
  </div>

  
    {% include "footer.html" %}    
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/js/frontend/bid.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/js/notice.js"></script>
</body>
</html>
