<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>
      创建您的个人资料
    </title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
    <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
    <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
    <link rel="stylesheet" type="text/css" href="/static/css/selectize.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
  <body>
    <div id="layout">
      <!--头部-->
      <header class="header-navbar">
        <nav class="navbar navbar-default">
          <div class="container">
            {% include "header.html" %}
          </div>
          {% include "header-my.html" %}
        </nav>
      </header>
      <div id="body" class="container yzj-top-distance30">
        <div class="col-xs-9 clear-both">
        	<div class="yzj-box">
        		<div class="col-xs-2 clear-both">
        			<img width="100" height="100" v-bind:src="profile.avatar">
        		</div>
        		<div class="col-xs-10 clear-both">
        			<div class="col-xs-12 clear-both">
        				<div class="yzj-size-16 text-muted">
        					<p class="pull-left">
        						<span class="yzj-right-distance10">
                    <strong>{[profile.username]}</strong>
                    </span>
                    <img src="/static/images/v-icon.png"/>
        						</p>
        					<h3 class="pull-right">
        						<span class="yzj-right-distance10">{[profile.hourly]}元 / 小时</span>
        					</h3>
        				</div>
        				<div class="clearfix"></div>
        				<div class="yzj-top-distance20 yzj-size-16">
        					{[profile.title]}
        				</div>
        				<div class="yzj-top-distance15 yzj-size-16 text-muted">
        					<div class="col-xs-2 clear-left">
        						<img src="/static/images/address.png" class="yzj-right-distance10">{[profile.location.parent_name[0]+profile.location.name]}
        					</div>
        				</div>
        				<div class="clearfix"></div>
        				<!-- <div class="yzj-top-distance15 yzj-size-14 text-info">
        					工作时间：AM 09：30 - PM 05：30
        				</div>
        				<div class="clearfix"></div> -->
        				<div class="yzj-top-distance20">
        					<span class="label label-default label-pro-detail" v-for="item in profile.skills">
        						{[item]}</span>
        					</div>
        				</div>
        			</div>
        			<div class="clearfix"></div>
        			<div class="yzj-top-distance30 yzj-height30 yzj-size-14">
        				<h4 class="text-muted">
        					<span class="pull-left"><strong>简介</strong></span>
        				</h4>
        				<div class="clearfix"></div>
        				<p class="yzj-top-distance20">
        					{[profile.overview]}
        				</p>
        			</div>
        	</div>
          <!--工作经历及反馈-->
          <h4 class="text-muted yzj-top-distance20">
            <strong>
              工作经历及反馈
            </strong>
          </h4>
          <div class="line"></div>
        <div class=" yzj-box yzj-border yzj-size-14">
          <div class="col-xs-12 clear-both" v-for="item in employments">
              <div class="col-xs-10 clear-left">
                <p class="text-primary">
                  {[item.start_at]} - {[item.end_at]}
                </p>
                <p class="yzj-top-distance10 yzj-height30">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit a san et viverra justo commodo.
                </p>
               <!--  <p class="yzj-top-distance10">
                  <img src="/static/images/star-icon-color.png">
                  <img src="/static/images/star-icon-color.png">
                  <img src="/static/images/star-icon-color.png">
                  <img src="/static/images/star-icon.png">
                  <img src="/static/images/star-icon.png">
                </p> -->
               <!--  <p class="yzj-top-distance10 yzj-height30">
                  此处显示来自项目需求方的评语，如果没有给评语就不显示，如果有评语那么就不显示，评语可以换行，就像现在一样进行中
                </p>
                <p class="yzj-top-distance10 text-warning">
                  需求方没有给出评价
                </p> -->
              </div>
              <div class="col-xs-2 clear-both text-right">
              <p>用时8小时</p>
              <p class="yzj-top-distance20">34.56元/小时</p>
              <p class="yzj-top-distance20">赚取了234.78元</p>
              </div>
               <div class="clearfix"></div> 
              <div class="line02" v-if = "($index+1) % 2 !=0"></div>
               
          </div>
          <div class="clearfix"></div>
        </div>
          
          <h4 class="text-muted yzj-top-distance20">
            <strong>
              项目经验
            </strong>
          </h4>
          <div class="line">
          </div>
          <div>
            <!--有图片-->
            <div class="col-xs-12 clear-both yzj-box yzj-border">
              <div class="work-experience" v-for = "item in portfolios">
                <div class="col-md-3 clear-left">
                  <!-- <img v-bind:src="item.picture.path" width="200" /> -->
                  <img src="/static/images/add-project-img.png" width="200"/>
                </div>
                <div>
                  <!--div class="col-md-9 clear-both"-->
                  <p class="text-primary yzj-size-16">
                    项目名称：{[item.name ]}
                  </p>
                  <p class="yzj-top-distance20 yzj-size-14">
                    完成时间：{[item.end_at | date_to_str 7 ]}
                  </p>
                  <p class="yzj-top-distance20 yzj-size-14 yzj-height30">
                    {[item.detail]}
                  </p>
                  <p class="yzj-top-distance15 yzj-size-14">
                    <span class="yzj-right-distance10">
                      {[ global[item.category.parent_name] ]}
                    </span>
                    <span class="yzj-right-distance10">
                      {[ global[item.category.name] ]}
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <!--没有图片-->
            <!-- <div class="col-xs-12 clear-both yzj-box yzj-border">
              <p class="text-primary yzj-size-16">
                项目名称：灭上传图片
              </p>
              <p class="yzj-top-distance20 yzj-size-14">
                完成时间：2016.05
              </p>
              <p class="yzj-top-distance20 yzj-size-14 yzj-height30">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                bibendum l san et viverra justo commodo. Proin sodales pulvinar tempor.
                Cum sociis natoque
              </p>
              <p class="yzj-top-distance15 yzj-size-14">
                <span class="yzj-right-distance10">
                  web,
                </span>
                <span class="yzj-right-distance10">
                  移动和软件开发
                </span>
              </p>
            </div> -->
          </div>
          <!--就业经历-->
          <div class="clearfix">
          </div>
          <h4 class="text-muted yzj-top-distance20">
            <strong>
              就业经历
            </strong>
          </h4>
          <div class="line">
          </div>
          <div class="col-xs-12 clear-both yzj-box yzj-border">
              <div class="work-experience" v-for = "item in employments">
                <p class="text-primary yzj-size-16">
                  {[item.title]}
                  <span class="both-line">
                    |
                  </span>
                  {[item.company]}
                </p>
                <p class="yzj-top-distance20 yzj-size-14">
                  <span class="yzj-right-distance10">
                    时间：{[item.start_at | date_to_str 7]} ---- {[item.end_at | date_to_str 7]}
                  </span>
                  <span class="text-warning">
                    {[ global._role[item.role] ]}
                  </span>
                </p>
                <p class="yzj-top-distance20 yzj-size-14 yzj-height30">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                  bibendum laoreet. Proin gravida dolor sit a san et viverra justo commodo.
                  Proin sodales pulvinar tempor. Cum sociis natoque
                </p>
                <div class="clearfix"></div>
                <div class="line02" v-if ="($index+1) % 2 !=0"></div>
              </div>
          </div>
          <div class="clearfix"></div>
          <h4 class="text-muted yzj-top-distance20">
            <strong>
              教育经历
            </strong>
          </h4>
          <div class="line"></div>
          <div>
            <div class="col-xs-12 clear-both yzj-box yzj-border">
              <div class="work-experience" v-for = "item in educations">
                <p class="text-primary yzj-size-16">
                  {[ global._degree[item.degree] ]}
                  <span class="both-line">
                    |
                  </span>
                  {[item.area]}
                  <span class="both-line">
                    |
                  </span>
                  {[item.school]}
                </p>
                <p class="yzj-top-distance20 yzj-size-14">
                  <span class="yzj-right-distance10">
                    时间：{[item.start_at | date_to_str 7]} ---- {[item.end_at | date_to_str 7]}
                  </span>
                </p>
                <p class="yzj-top-distance20 yzj-size-14 yzj-height30">
                  {[item.detail]}
                </p>
                <div class="clearfix"></div>
                <div class="line02" v-if = "($index+1) % 2 !=0"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-3 clear-right text-info">
        	<p class="yzj-size-18 text-muted">
        		<span class="pull-left">可用性</span>
        	</p>
        	<div class="clearfix"></div>
        	<div class="line"></div>
        	<p class="yzj-size-14 text-info" v-if="profile.available">我现在可以工作</p>
          <p class="yzj-size-14 text-info" v-if="!profile.available">我现在不可以工作</p>
        	<p class="yzj-size-14 yzj-top-distance15">工作时长：{[  global._workload[profile.workload] ]}</p>
        	<div class="yzj-top-distance30">
         
        	<p class="yzj-size-18 text-muted">
        		<span class="pull-left">语言</span>
        	</p>
        	<div class="clearfix"></div>
        	<div class="line"></div>

           <div v-for = "item in profile.languages">
          	<p class="yzj-size-14">
          	<span class="pull-left" >{[ global[item.name] ]}</span>
          	</p>
          	<div class="clearfix"></div>
          	<p class="yzj-size-14 yzj-top-distance10">
          	<span class="pull-left">{[ global._lang_level[item.level] ]}</span>
          	</p>
          	<div class="clearfix"></div>
          	<div class="line02" v-if = "($index+1) % 2 !=0"></div>
            </div>
        </div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
    
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/common/js/vue-directive.js"></script>
    <script src="/static/js/frontend/findjob-work-other-record.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/js/notice.js"></script>
  </body>

</html>