<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>个人资料</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div>
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
        {% include "header-my.html" %}
      </nav>
    </header>

    <div id="layout" class="container yzj-top-distance50">
      <h4 class="text-muted"><strong>我收藏的工作</strong></h4>
      <div class="yzj-box yzj-top-distance20">
      <p class="text-center yzj-top-distance40">
      <img src="/static/images/nofavorite-icon.png">
      </p>
      <p class="yzj-bot-distance40 text-center yzj-top-distance20 yzj-size-16">您还没有收藏的工作~</p>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/js/selectlist.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/notice.js"></script>
  <script type="text/javascript">
    $(function(){
      $('select').selectlist({
        zIndex: 10,
      });   
    })
  </script>
</body>
</html>
