<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>个人订阅</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  

    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
        {% include "header-my.html" %}
      </nav>
    </header>
  <div id="body">
    <div id="subscribe" class="container yzj-top-distance30">
      <!--左侧-->
      <div class="col-xs-2 clear-both">
        <div class="yzj-box bg-hover" style="padding-top:10px;">
          <!--我的订阅-->
          <div class="text-primary">
            <p class="yzj-size-16 subscibe" v-on:click="mysubscribe($event)">
              <span class="pull-left">
                我的订阅
              </span>
              <span class="clearfix"></span>
            </p>
            <p class="yzj-size-16 subscibe" v-for="subscription in subscriptions" @click="search(subscription, $event)">
              <span class="pull-left">{[subscription.name]}</span>
              <span class="pull-right dis-icon">
                <a href="javascript:;" data-toggle="modal" data-target="#unsubscripte" @click="unsub(subscription)"><img src="/static/images/del-btn-icon-fff.png"></a>
              </span>
              <span class="clearfix"></span>
            </p>
            <p class="yzj-size-16 subscibe getfocus" v-on:click="recommend($event)">
              <span class="pull-left">为我推荐</span>
              <span class="clearfix"></span>
            </p>
          </div>
          <!--我的订阅-->
          <div class="yzj-top-distance40 yzj-size-14">
            <h4 class="text-info">
                <span class="pull-left">我的类别</span>
                <span class="pull-right">
                  <a href="javascript:;" v-on:click="edit_category()"><img src="/static/images/edit-btn-icon.png"></a>
                </span>
              </h4>
            <div class="clearfix"></div>
            <div class="line"></div>
            <p class="yzj-top-distance20" v-for="category in categories">
              <a class="text-warning" href="/jobs/find?pid={[category.parent_id]}&cid={[category.category_id]}">{[category.name]}</a>
            </p>
          </div>
          <!--最近搜索-->
          <div class="yzj-top-distance40 yzj-size-14">
            <h4 class="text-info">
                <span class="pull-left">最近搜索</span>
                <span class="pull-right hide">
                  <a href="javascript:;">
                    <img src="/static/images/edit-btn-icon.png"></a>
                </span>
              </h4>
            <div class="clearfix"></div>
            <div class="line"></div>
            <p class="yzj-top-distance20" v-for="keyword in histories">
              <a class="text-warning" href="/jobs/find?q={[keyword]}" target="_blank">{[keyword]}</a>
            </p>
          </div>
        </div>
      </div>
      <!--中间-->
      <div class="col-xs-8">
        <div class="col-xs-10 clear-left">
          <input type="text" class="form-control text-search" v-model="keyword" v-on:keydown="enter(subscription, $event)" placeholder="请输入搜索内容" />
        </div>
        <div class="col-xs-2 clear-both">
          <button type="button" class="btn btn-default btn-block btn-search" v-on:click="find_job()">搜索</button>
        </div>
        <div class="clearfix"></div>
        <div class="yzj-box yzj-top-distance20">
          <h4 class="text-muted">{[title]}</h4>
          <div class="line"></div>

          <div v-show="job_type === 'subscribe'">
            <div class="yzj-top-distance30">
              <div class="row">
                <div class="col-xs-4">
                  <img src="/static/images/subscribe_no.png" />
                </div>
                <div class="col-xs-8">
                  <h4 class="text-muted yzj-top-distance50">想要立即开始工作么，现在开始订阅你的推荐工作吧</h4>
                  <p class="yzj-top-distance30 yzj-size-16">我们会在该页面为您推送您订阅的工作。完成以下三步，添加属于您的订阅</p>
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="yzj-top-distance30">
              <div class="row">
                <div class="col-xs-2">
                  <img src="/static/images/nofavourite-icon01.png" style="margin: 0px auto; width: 50px;" />
                </div>

                <div class="col-xs-10">
                  <h4 class="text-muted">1. 搜索工作</h4>
                  <p class="yzj-top-distance20">在上方搜索使用关键词进行工作搜索，并通过筛选功能设定筛选条件来找到最合适的搜索结果</p>
                </div>
              </div>
            </div>
            <div class="yzj-top-distance30">
              <div class="row">
                <div class="col-xs-2">
                  <img src="/static/images/nofavourite-icon02.png" style="margin: 0px auto; width: 50px;" />
                </div>

                <div class="col-xs-10">
                  <h4 class="text-muted">2. 添加到我的订阅</h4>
                  <p class="yzj-top-distance20">在搜索结果页点击“添加到我的订阅” 即可将当前搜索的关键词及筛选条件保存下来</p>
                </div>
              </div>
            </div>
            <div class="yzj-top-distance30">
              <div class="row">
                <div class="col-xs-2">
                  <img src="/static/images/nofavourite-icon03.png" style="margin: 0px auto; width: 50px;" />
                </div>

                <div class="col-xs-10">
                  <h4 class="text-muted">3. 坐等我们为您推荐合适的工作吧</h4>
                  <p class="yzj-top-distance20">经常访问我的订阅的页面，即可获得您想要的工作更新</p>
                </div>
              </div>
            </div>
          </div>

          <div class="project-list" v-for="job in jobs" v-show="job_type !== 'subscribe'">
            <!--标题-->
            <div>
              <span class="pull-left yzj-size-16 project-list-title col-xs-11 clear-both">
                  <strong>
                    <a class="text-info" href="javascript:;" onclick="window.open('/jobs/{[job.id]}')" >{[job.name]}</a>
                  </strong>
                </span>
              <a href="javascript:;" v-on:click="add_favorite(job)" class="project-list-title" v-bind:class="job.favorite?'active':''" v-bind:title="job.favorite?'取消收藏':'收藏'">
                <span class="glyphicon glyphicon-heart pull-right yzj-size-18"></span>
              </a>
              <div class="clearfix"></div>
            </div>
            <!--项目参数-->
            <fixed v-if="job.paymethod === 'fixed'" :job="job"></fixed>
            <hour v-if="job.paymethod === 'hour'" :job="job"></hour>
            <!--项目描述-->
            <div class="yzj-top-distance10 yzj-height30 project-detail">
              {[job.description | substr]}<!-- <a href="/jobs/{[job.id]}">【更多】</a> -->
            </div>

            <!--项目参数-->
            <div class="yzj-top-distance15 yzj-size-14">
              <p class="pull-left">
                <span class="yzj-right-distance10">
                    <strong>需求者:</strong>
                  </span>
              </p>
              <star :aver-score="job.aver_score" :eveluate-num="job.eveluate_num"></star>
              <p class="pull-left">
                <span class="yzj-right-distance10">
                  <strong>技能要求：</strong>
                </span>
                <span class="label label-default" v-for="x in job.skills">{[x]}</span>
              </p>
              <div class="clearfix"></div>
            </div>
            <div class="line"></div>
          </div>
          <div class="yzj-top-distance20 text-center yzj-size-14" v-show="job_type !== 'subscribe' && jobs_count > 10*page_num"><a href="javascript:;" v-on:click="more()">查看更多...</a>
          </div>
        </div>
      </div>
      <!--右侧-->
      <div class="col-xs-2 clear-both">
        <div class="yzj-box">
          <p class="text-center"><img src="{{user.profile.avatar}}" class="img-circle" width="64" height="64"></p>
          <p class="yzj-top-distance20 yzj-size-14">可用性</p>
          <p class="yzj-top-distance10">
            <span class="pull-left yzj-size-14 text-muted" v-show="!profile.available">
              我现在不想工作
            </span>
            <span class="pull-left yzj-size-14 text-muted" v-else>
              {[profile.workload | workload]}
            </span>
            <span class="pull-right">
              <a href="javascript:;" data-toggle="modal" data-target=".workstate">
                <img src="/static/images/edit-btn-icon.png"></a>
            </span>
          </p>
          <div class="clearfix"></div>
          <div class="col-xs-12 clear-both yzj-top-distance20 ">
            <div class="col-xs-8 clear-both yzj-right-distance10">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{[profile.completeness ]}" aria-valuemin="0" aria-valuemax="{[profile.completeness ]}" style="width: {[profile.completeness]}%;">
                  <span class="sr-only">{[profile.completeness]}% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-xs-3 clear-both yzj-size-14 text-muted">
              <strong>{[profile.completeness]}%</strong>
            </div>
          </div>
          <div class="clearfix"></div>
          <a href="/freelancers/{{user.uuid}}" class="btn btn-block btn-primary">查看我的档案</a>
          <div class="yzj-top-distance20"></div>
          <div class="clearfix"></div>
          <div class="line02"></div>
          <div class="text-center">
            <img src="/static/images/computer-icon.png" />
          </div>
          <div class="yzj-top-distance20 yzj-size-14 yzj-height30">
            <a href="/desktop" class="text-warning">下载桌面软件记录工作时长</a>
          </div>
        </div>
      </div>

      <!--工作状态-可用性-->
      <div class="modal fade bs-example-modal-lg workstate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="work_company_close">
              <span aria-hidden="true" class="yzj-size-30">
                &times;
              </span>
            </button>
            </div>
            <div class="modal-body">
              <h3 class="modal-title text-info text-center" id="myModalLabel">
              工作状态
            </h3>
              <form class="form-horizontal yzj-top-distance50 col-xs-offset-2 clear-left">
                <h4 class="text-info"><strong>我当前的工作状态</strong></h4>
                <div class="yzj-top-distance30 yzj-size-16 text-info">
                  <input type="radio" name="work" value="0" />我现在不想工作
                </div>
                <div class="yzj-top-distance20 yzj-size-16 text-info">
                  <input type="radio" name="work" value="1" />每周可工作30小时以上
                </div>
                <div class="yzj-top-distance20 yzj-size-16 text-info">
                  <input type="radio" name="work" value="2" />每周可工作30小时以下
                </div>
                <div class="yzj-top-distance20 yzj-size-16 text-info">
                  <input type="radio" name="work" value="3" />根据需求者要求
                </div>

                <div class="form-group yzj-top-distance50">
                  <div class="col-xs-10 col-xs-offset-1">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                      <button type="button" class="btn btn-primary btn-block yzj-right-distance15" v-on:click="setStatus()">
                      保存
                    </button>
                    </div>
                    <div class="col-xs-4">
                      <button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">
                      取消
                    </button>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="yzj-top-distance20"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <modal :showmodal.sync="modals.categories_modal">
        <categories slot="content" :current.sync="categories"></categories>
      </modal>
    </div>
  
  <!--取消订阅提示-->
  <confirm :title="confirm.title" :msg="confirm.msg" modal-id="unsubscripte" :ok-fn.sync="confirm.okFn"></confirm>
  </div>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/production/subscribe.min.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/notice.js"></script>
</body>

</html>