<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>我收藏的工作</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
    <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
    <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    <div>
        <!--头部-->
        <header class="header-navbar">
            <nav class="navbar navbar-default">
                <div class="container">
                    {% include "include/header/freelancer-top.html" %}
                </div>
                {% include "include/header/freelancer.html" %}
            </nav>
        </header>

        <div id="layout" class="container yzj-top-distance50">
            <h4 class="text-muted"><strong>我收藏的工作</strong></h4>
            <div class="yzj-box yzj-top-distance20" v-if="works.length <= 0 ">
                <p class="text-center yzj-top-distance40">
                    <img src="/static/images/nofavorite-icon.png">
                </p>
                <p class="yzj-bot-distance40 text-center yzj-top-distance20 yzj-size-16">您还没有收藏的工作~</p>
            </div>
            <div class="yzj-box yzj-top-distance20" v-if="works.length > 0 ">
                <div class="project-list" v-for="item in works">
                    <!--标题-->
                    <div>
                        <span class="pull-left yzj-size-16 project-list-title col-xs-11 clear-both">
                          <strong>
                            <a class="text-info" href="/jobs/{[item.id]}">
                              {[ item.name ]}
                            </a>
                          </strong>
                        </span>
                        <a title="取消收藏" class="project-list-title" href="javascript:;">
                            <span class="glyphicon glyphicon-heart pull-right yzj-size-18" v-bind:class="item.show?'text-warning':''" v-on:click="del_collect(item)"></span>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <!--项目参数-->
                    <div class="yzj-top-distance20 text-info yzj-size-14">
                        <span class="yzj-right-distance45" v-if="item.paymethod=='hour'">按工时付费 丨 100元/小时</span>
                        <span class="yzj-right-distance45" v-if="item.paymethod=='fixed'">{[ globel._paymethod[item.paymethod] ]}{[item.budget]}元</span>
                        <span class="yzj-right-distance45">难度:{[ globel._level[item.level] ]}</span>
                        <span class="yzj-right-distance45">周期:{[ globel._duration[item.duration] ]}</span>
                        <span class="yzj-right-distance45">工作时间:{[ globel._workload[item.workload] ]}</span>
                    </div>
                    <!--项目描述-->
                    <div class="yzj-top-distance10 yzj-height30 project-detail">
                        {[ item.description ]}
                    </div>

                    <!--项目参数-->
                    <div class="yzj-top-distance15 yzj-size-14">
                        <p class="pull-left">
                            <span class="yzj-right-distance10">
                              <strong>需求者:</strong>
                            </span>
                        </p>
                        <star :aver-score="item.aver_score" :eveluate-num="item.eveluate_num"></star>
                        <p class="pull-left">
                            <span class="yzj-right-distance10">
                              <strong>技能要求：</strong>
                            </span>
                            <span class="label label-default" v-for="tag in item.skills">tag</span>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="yzj-top-distance20 text-center yzj-size-14" v-if="!noPage"><a v-on:click="query_work_list(pageObject.pageNo+1)">查看更多...</a></div>
                <div class="yzj-top-distance20 text-center yzj-size-14" v-if="noPage"><a href="javascript:()">已经没有更多了</a></div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/vue-directive.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/production/my_favorite.min.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/js/notice.js"></script>
</body>

</html>
