<footer id="footer" class="footer-navbar yzj-top-distance70 yzj-bac-fff" style="width:100%">
  <div class="footer-center container">
    <div class="col-xs-7 clear-both footer-text-link">
      <a href="#">App下载</a>|
      <a href="/download">桌面应用下载</a>|
      <a href="/about">关于我们</a>|
      <a href="/concatus">联系我们</a>|
      <a href="/help">常见问题</a>|
      <a href="/legal">用户协议</a>|
      <a href="/joinus">人才招聘</a>
     
      <h6 class="yzj-top-distance10 footer-text-diploma yzj-height30">
        <a href="#">互联网出版许可证</a> 
        <a href="#">京ICP备13050812号</a>    
        <a href="#">网络文化经营许可证</a> 
        <a href="#">京网文-2014 0093-043号</a>          
        <a href="#">电子与信息服务业务经营许可证</a><br/>
        <a href="#">京ICP证140251号</a>    
        <a href="#">京公网安备11030102000572号</a>   
        <a href="#">互联网药品信息服务资格证书 (京)非经营性-2014-0064</a> 
      </h6>
    </div>
    <div class="col-xs-4 col-xs-offset-1 clear-right yzj-top-distance15">
      <div class="row">
        <div class="col-xs-4">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" src="/static/images/footer-icon01.png">
              </a>
            </div>
            <div class="media-body yzj-height20">
              诚信网站<br/>
              示范企业
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" src="/static/images/footer-icon02.png">
              </a>
            </div>
            <div class="media-body yzj-height20">
              可信网站<br/>
              信用评价
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" src="/static/images/footer-icon03.png">
              </a>
            </div>                                                                                                                                        
            <div class="media-body yzj-height20">
              网上交易<br/>
              保障中心
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-last text-center text-primary">
    Copyright© 2015 云族佳科技有限公司版权所有
  </div>
  </footer>
  <div id="float_window">
    <float-window></float-window>
    <modal :showmodal.sync="modals.float_msg">
      <feedback slot="content"></feedback>
    </modal>
  </div>
  <script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/production/float_window.min.js"></script>
<script>
function ct() {
  var f = document.getElementById('footer');
  var c_hei = document.compatMode == "BackCompat" ? document.body.clientHeight : document.documentElement.clientHeight;
  var s_hei = document.compatMode == "BackCompat" ? document.body.scrollHeight : document.documentElement.scrollHeight;
  s_hei += f.offsetHeight
  f.style.position = s_hei < c_hei ? 'absolute' : 'static';
}
window.onload = function () {
  //setTimeout(ct, 300)
  var MutationObserver = window.MutationObserver || window.WebKitMutationObserver || window.MozMutationObserver;
  var mutationObserverSupport = !!MutationObserver;
  if(mutationObserverSupport){
    var callback = function(records) {
        ct();
    };
    var mo = new MutationObserver(callback);
    var option = {
        'childList': true,
        'subtree': true
    };
    mo.observe(document.body, option);
  }
}
document.body.onresize = function () {
  ct();
}
</script>
