<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>我的档案</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectize.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <style type="text/css">
    [v-cloak] {
      display: none;
    }
  </style>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  <!--头部-->
  <header class="header-navbar">
    <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
      {% include "header-my.html" %}
    </nav>
  </header>
  <div class="container yzj-top-distance30" id="item" v-cloak>
    {% if user.reg_step == 'resume' %}
    <div class="alert alert-info" role="alert">
      <span class="pull-left 
        yzj-height30">您的档案目前还处于草稿状态，你需要先完善您的简历，才能对感兴趣的工作投标</span>
      <span class="pull-right">
          <button class="btn btn-sm btn2 btn-primary">完善简历</button>
        </span>
      <div class="clearfix"></div>
    </div>
    {% endif %}
    <div class="alert alert-success yzj-height30" role="alert" style="display:none">
      档案提交成功！<br/> 后台工作人员将会在12小时内对您的档案进行审核，审核通过后，你将可以在网站上对您感兴趣的网站进行投标。
    </div>

    {% if user.reg_step == 'audit' %}
    <div class="alert alert-warning" role="alert">
      您的档案正在审核中, 我们将在12小时内完成审核，档案通过审核之后，您将可以对感兴趣的工作进行投标
    </div>
    {% endif %} {% if user.reg_step == 'fail' %}
    <div class="alert alert-danger media-middle" role="alert">
      <span class="pull-left yzj-height30">您的档案不满足我们的审核标准没有通过审核，请重新编辑您的档案，保证填写真实有效的信息。查看优秀的档案模板<br/>在您的档案通过审核之前，您将无法对工作机会进行投标。如果您已完善了您的档案，你可以重新提交审核
        </span>
      <span class="pull-right">
          <button class="btn btn-sm btn2 btn-primary">重新提交审核</button>
        </span>
      <div class="clearfix"></div>
    </div>
    {% endif %}

    <div class="col-xs-9 clear-both">
      <div class="yzj-box">
        <div class="col-xs-2 clear-both">
          <img v-bind:src="profile.avatar" width="100" height="100" class="img-circle">
        </div>
        <div class="col-xs-10 clear-both">
          <div class="col-xs-12 clear-both">
            <div class="yzj-size-16 text-muted">
              <p class="pull-left">
                <span class="yzj-right-distance10">
                  <strong>{[profile.name]}</strong>
                  <i v-if="profile.id_number!=''" class="freelancer-v" title="已认证"></i>
                  <i v-if="profile.id_number==''" class="noverify" title="未认证"></i>
                </span>
                <a href="javascript:;" v-on:click="editBase">
                  <img src="/static/images/edit-btn-icon.png" />
                </a>
              </p>
              <h3 class="pull-right">
                  <span class="yzj-right-distance10">{[profile.hourly]}/ 小时</span>
                  <a href="javascript:;" v-on:click="editHourly">
                      <img src="/static/images/edit-btn-icon.png"/>
                  </a>
              </h3>
            </div>

            <div class="clearfix"></div>

            <div class="yzj-top-distance20 yzj-size-16">
              {[profile.title]}
            </div>

            <div class="yzj-top-distance15 yzj-size-16 text-muted">
              <div class="col-xs-5 clear-left">
                <img src="/static/images/address.png" class="yzj-right-distance10"> {[profile.location.parent_name]}，{[profile.location.name]}
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="yzj-top-distance20">
              <span class="label label-default label-pro-detail label-skill" v-for="skill in start_skills">{[skill]}</span>
              <span class="pull-right">
                  <a href="javascript:;" v-on:click="editSkills">
                    <img src="/static/images/edit-btn-icon.png"/>
                  </a>
              </span>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="yzj-top-distance30 yzj-height30 yzj-size-14">
          <h4 class="text-muted">
      			<span class="pull-left"><strong>简介</strong></span>
    				<span class="pull-right">
    					<a href="javascript:;" v-on:click="editDetail">
    						<img src="/static/images/edit-btn-icon.png"/>
    					</a>
    				</span>
      		</h4>

          <div class="clearfix"></div>

          <p class="yzj-top-distance20"> {[profile.overview]}</p>
        </div>
      </div>
      <p class="text-muted yzj-top-distance20 yzj-size-16">
        <strong>项目经验</strong>
        <a class="pull-right text-info" v-on:click="addProject">添加+</a>
      </p>

      <div class="line"></div>

      <div class="yzj-box yzj-border" v-show="!items.length">
        <h5 class="text-warning pro-add">
          <a class="text-warning" v-on:click="addProject">
            <strong>添加项目经验</strong>
          </a>
        </h5>
        <p class="yzj-size-14 yzj-top-distance10">
          您还没有填写项目经验，快完善一下吧
        </p>
      </div>
      <div v-show="items.length > 0" class="col-xs-12 clear-both yzj-box yzj-border">
        <experience v-for="item in items" :itemout="item" :index="$index" :islast="$index==items.length-1?'yes':'no'" :ismyself="true">
        </experience>
      </div>

      <!--就业经历-->
      <div class="clearfix"></div>

      <p class="text-muted yzj-top-distance20 yzj-size-16">
        <strong>就业经历</strong>
        <a class="pull-right text-info" v-on:click="addJob">添加+</a>
      </p>

      <div class="line"></div>

      <div class="yzj-box yzj-border" v-show="!jobs.length">
        <h5 class="text-warning pro-add">
          <a class="text-warning" v-on:click="addJob">
            <strong>添加就业经历</strong>
          </a>
        </h5>
        <p class="yzj-size-14 yzj-top-distance10">
          您还没有填写工作经历，快完善一下吧
        </p>
      </div>
      <div v-show="jobs.length > 0" class="col-xs-12 clear-both yzj-box yzj-border">
        <job v-for="job in jobs" :itemout="job" :index="$index" :islast="$index==jobs.length-1 ?'yes':'no'" :ismyself="true">
        </job>
      </div>

      <div class="clearfix"></div>
      <p class="text-muted yzj-top-distance20 yzj-size-16">
        <strong>教育经历</strong>
        <a class="pull-right text-info" v-on:click="addEdu">添加+</a>
      </p>

      <div class="line"></div>

      <div class="yzj-box yzj-border" v-show="!edus.length">
        <h5 class="text-warning pro-add">
          <a  class="text-warning" v-on:click="addEdu">
            <strong>添加教育经历</strong>
          </a>
        </h5>
        <p class="yzj-size-14 yzj-top-distance10">
          您还没有填写教育经历，快完善一下吧
        </p>
      </div>
      <div v-show="edus.length > 0" class="col-xs-12 clear-both yzj-box yzj-border">
        <edu v-for="edu in edus" :itemout="edu" :index="$index" :islast="$index==edus.length-1 ?'yes':'no'" :ismyself="true">
        </edu>
      </div>
    </div>
    <div class="col-xs-3 clear-right text-info">
      <p class="yzj-size-18 text-muted">
        <span class="pull-left">可用性</span>
        <span class="pull-right">
            <a href="javascript:;" v-on:click="editWorkload">
              <img src="/static/images/edit-btn-icon.png">
            </a>
          </span>
      </p>

      <div class="clearfix"></div>
      <div class="line"></div>

      <p class="yzj-size-14" v-if="profile.available">我现在可以工作</p>
      <p class="yzj-size-14" v-else>我现在不想工作</p>
      <p class="yzj-size-14 yzj-top-distance15" v-if="profile.available">
        工作时长：{[profile.workload | workload]}
      </p>
      <div class="yzj-top-distance30">

        <p class="yzj-size-18 text-muted">
          <span class="pull-left">语言</span>
          <span class="pull-right">
            <img class="pointer" @click="addLanguage" src="/static/images/add-icon.png">
            <a class="text-warning yzj-size-14" 
                v-on:click="addLanguage">添加语言</a>
          </span>
        </p>

        <div class="clearfix"></div>
        <div class="line"></div>

        <div>
          <p class="yzj-size-14">
            <span class="pull-left">英语</span>
          </p>
          <div class="clearfix"></div>
          <p class="yzj-size-14 yzj-top-distance10">
            <span class="pull-left">{[profile.english | level_str]}</span>
          </p>
          <div class="clearfix"></div>
          <div class="line02"></div>
        </div>

        <div v-for="language in profile.languages">
          <p class="yzj-size-14">
            <span class="pull-left">{[language.name | language]}</span>
            <span class="pull-right">
          <a class="yzj-right-distance10" v-on:click="editLanguage(language)">
            <img src="/static/images/edit-btn-icon.png" />
          </a>
          <a v-on:click="selectLanguage(language)">
            <img src="/static/images/del-btn-icon.png" />
          </a>
        </span>
          </p>
          <div class="clearfix"></div>
          <p class="yzj-size-14 yzj-top-distance10">
            <span class="pull-left">{[language.level | level_str]}</span>
          </p>
          <div class="clearfix"></div>
          <div class="line02"></div>
        </div>
      </div>
    </div>
  </div>
  <edit v-ref:profile></edit>
  <confirm modal-id="lanModal" title="删除语言" msg="确定删除该语言么？" :ok-fn.sync="deleteLanguage">
  </confirm>
  <strap-alert :msg="errMsg" :show-type="showType" :show-alert.sync="showAlert">
  </strap-alert>

  {% include "footer.html" %}

  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/selectize.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/production/myrecord.min.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/notice.js"></script>
</body>

</html>