<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>工作日志</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body id="freelance-daily">
<div id="layout">
<!--头部-->
<header class="header-navbar">
    <nav class="navbar navbar-default">
      <div class="container">
        {% include "include/header/freelancer-top.html" %}
      </div>
        {% include "include/header/freelancer-myjobs.html" %}
    </nav>
  </header>
  <div class="container yzj-top-distance30">
    <h4 class="text-muted">
      <strong>工作日志</strong>
    </h4>
  </div>  
  
  <!-- 无工作状态 -->
  <div class="container yzj-top-distance20">
    <div class="yzj-box yzj-top-distance20" v-if="contracts.length==0"> 
      <div class="yzj-top-distance30"></div> 
      <div class="col-xs-1"></div> 
      <div class="col-xs-1 clear-both"> 
      <img src="/static/images/daily-log-icon.png"> </div> 
      <div class="col-xs-8 yzj-size-16 text-muted"> <p>您现在还没有进行中的时薪制工作。</p></div> 
      <div class="clearfix"></div> 
    </div>
  </div>
  
  <!-- 有工作状态 -->
  <div class="container yzj-top-distance20" v-if="contracts.length>0">
  <!--选择日期-->
    <div class="yzj-box">
      <div class="col-xs-5">
        <select class="form-control select-control" v-on:change="select_contract($index)" v-model="contract_id">
          <option value="{[item.contract_id]}" v-for="item in contracts">{[item.contract_name]}</option>
        </select>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-6">
        <div class="col-xs-1 clear-both yzj-top-distance5">
          <a class="pre-week" href="#"></a>
        </div>
        <div class="col-xs-2 yzj-size-16 yzj-top-distance15"><a href="#">上一周</a></div>
        <div class="col-xs-6 clear-both">
          <select class="form-control form-control2 select-control yzj-top-distance5" v-on:change="select_weekstone()" v-model="weekstone_id">
            <option value="{[item.weekstone_id]}" v-for="item in weekstones">
              {[item.start_at | year_month_day]} -- {[item.end_at | year_month_day]}
            </option>
          </select>
        </div>
        <div class="col-xs-2 yzj-size-16 yzj-top-distance15"><a href="#">下一周</a></div>
        <div class="col-xs-1 clear-both yzj-top-distance5 text-right">
          <a class="next-week" href="#"></a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!--选择具体某一天-->
    <div class="yzj-box-fff yzj-top-distance20">
    <div class="select-workday">
        <ul>
          <!-- <li v-bind:class="$index==0?'active':''" v-for="n in weekstone_days"><a href="javascript:;" value="{[n.e]}" v-on:click="select_weekstone_day">{[n.c]}</a></li> -->
          <li v-bind:class="$index==0?:''" v-for="n in weekstone_days"><a href="javascript:;" value="{[n.e]}" v-on:click="select_weekstone_day">{[n.c]}</a></li>
        </ul>
    </div>
    <div class="line01"></div>
      <div class="yzj-size-18 yzj-box-daily">
        <div class="col-xs-3 yzj-height50 clear-left">
        <span class="yzj-right-distance15">记录总时长 {[weekstone.shot_times | hourformat]}</span>
        <span><a href="javascript:;" v-on:click = "refresh_time"><img src="/static/images/refresh.png"></a></span>
        </div>
      <div class="col-xs-3 yzj-height50">
        <span class="squre-green yzj-right-distance15 yzj-top-distance15"></span>
        <span class="yzj-right-distance15">软件计时 {[(weekstone.shot_times - weekstone.manual_times) | hourformat]}</span>
        <span><img src="/static/images/question-icon.png" title="该时间由云沃客桌面APP自动记录。该工作时间按周结算，只要在合同规定的每周工作时间上限以内，都会保证结算。"></span>
      </div>
      <div class="col-xs-3 yzj-height50">
        <span class="squre-yellow yzj-right-distance15 yzj-top-distance15"></span>
        <span class="yzj-right-distance15">手动计时 {[weekstone.manual_times | hourformat]}</span>
        <span><img src="/static/images/question-icon.png" title="该时间是您手动添加的时间。这些时间按周结算，但是并无保证。"></span>
        </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-2 clear-both">
        <a href="javascript:;" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-time"
         v-show = "dis_btn">手动添加时间</a>
      </div>
      <div class="clearfix"></div>
      <div class="line"></div>
      <div class="yzj-box-fff" v-if="contract.contract_status != 'finish'&&contract.contract_status != 'dispute'&&contract.contract_status != 'service'">
        <div class="col-xs-2 clear-left">
          <a class="btn btn-block btn-default" href="javascript:;" @click="update_remark('add')">编辑备注</a>
        </div>
        <div class="col-xs-2 clear-left">
          <a class="btn btn-block btn-default" href="javascript:;" @click="update_remark('delete')">删除</a>
        </div>
        <div class="col-xs-2 clear-left">
          <a class="btn btn-block btn-default" href="javascript:;" @click="cancel_remark">取消选择</a>
        </div>
        <div class="col-xs-6 clear-right text-right yzj-size-16 yzj-height50">
        已选中时间：{[shot_times | hourformat]}
        </div>
      </div>
      <div class="clearfix"></div>
      </div>
    </div>
    <work-Log :log-data="shots" :contract_id="contract_id"></work-Log>
  </div>
</div>
<div class="modal fade bs-example-modal-lg choose-sort" id="add-time" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog contract-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="education_close">
          <span aria-hidden="true" class="yzj-size-30">&times;</span>
        </button>
      </div>
      <div class="modal-body yzj-height20 yzj-top-distance10"> 
        <h3 class="modal-title text-muted text-center">手动添加时间</h3> 
        <div class="yzj-size-16 yzj-top-distance50"> 

          <form class="form-horizontal yzj-top-distance50">
            <div class="form-group">
            <label class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">日期：</label> 
               <div class="col-xs-7 clear-left"> 
               <label class="control-label">{[t_date]}</label>
               </div> 
            </div>
            <div class="form-group">
             <label class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">时间段：</label> 
             <div class="col-xs-7 clear-left"> 
             <div class="col-xs-6 clear-both"> 
               <select class="form-control select-control" v-model="start_time" v-on:change="choose_addtime">
                <option value="" selected>请选择</option>
                <template v-for="x in 10">
                  <option v-for="y in 6" value="{[t_date]} 0{[x]}:{[y]}0:00">0{[x]}:{[y]}0:00</option>
                </template>
                <template v-for="x in 25" value="{[t_date]} {[x]}:00:00">
                  <option v-for="y in 6" v-if="x>9" value="{[t_date]} 0{[x]}:{[y]}0:00">{[x]}:{[y]}0:00</option>
                </template>
               </select>
             </div>
             <div class="col-xs-6 clear-right"> 
               <select class="form-control select-control" v-model="add_endtime">
                 <option>{[add_endtime]}</option>
               </select>
             </div>
             </div> 
            </div>
            <div class="form-group"> 
              <label class="col-xs-offset-1 col-xs-2 control-label yzj-size-16"> 备注: </label> 
              <div class="col-xs-7 clear-left"> 
              <textarea class="form-control" rows="5" v-model="description"></textarea> 
              </div> 
            </div>
            <div class="form-group">
              <div class="col-xs-7 clear-left col-xs-offset-3 yzj-size-14">说明：人工添加的时间并不受云沃客的保护
              </div>
            </div>
          </form>

          <div class="yzj-top-distance50 yzj-size-14 col-xs-10 col-xs-offset-1 yzj-bot-distance70">
            <div class="col-xs-4 clear-right">
              <a href="#" class="btn btn-primary btn-block yzj-right-distance15" id="quote-confirm" v-on:click = "add_time" data-dismiss="modal">确认</a>
            </div>
            <div class="col-xs-4 clear-right">
              <a href="#" class="btn btn-primary btn-block yzj-right-distance15" id="" v-on:click = "save_continue">保存并继续</a>
            </div>
            <div class="col-xs-4 clear-right">
              <button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
        <div class="modal-footer yzj-top-distance10"></div>
    </div>
  </div>
</div>
  <modal :showmodal.sync="modals.remark_modal" :large="false">
    <remark :shot_times="shot_times" :shot_ids="shot_ids" :is_delete="is_delete" slot="content"></remark>
  </modal>
  <time-log></time-log>
  <alertdiv :msg="error_msg"></alertdiv>

  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/production/freelancer-daily.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/common/js/vue-directive.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/frontend/signup.js"></script>
  <script src="/static/js/notice.js"></script>
  
</body>
</html>
