
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="/static/images/yzj_logo.png" height="52" width="171"></a>
      </div>
      <div class="Top-center pull-left yzj-size-16">
        <ul>
          <li class="active"><a href="/browse" class="text-info">浏览</a></li>
          <li><a href="/" class="text-info">介绍</a><li>
          </ul>
      </div>
      <div class="navbar-right navbar-brand yzj-top-distance10">
        <a href="#" class="btn btn2 btn-primary btn-sm yzj-size-14" href="/">开启云工作</a>
      </div>
        <div class="navbar-right navbar-brand Top-right yzj-size-14">
          <div class="pull-left search-box">
            <input class="form-control search-box-text" type="text" placeholder="搜索" id="search_text"/>
            <ul>
              <li class="pull-left search-box-icon dropdown" id="search_box">
                <img src="/static/images/nav-icon02.png" class="yzj-right-distance10">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <img src="/static/images/nav-down.png">
                </a>
                <ul class="dropdown-menu find-down">
                  <span class="active">找项目</span>
                  <span>找高手</span>
                </ul>
              </li>
            </ul>
          </div>
          <ul class="pull-left yzj-right-distance15 yzj-top-distance5">
            <li>
              <a href="/signin">登录</a>
            </li>
            <li>
              <a href="/signup-role">注册</a>
            </li>
          </ul>
        </div>
