<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>找工作</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
	<link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
	<!--头部-->
	<header class="header-navbar">
		<nav class="navbar navbar-default">
    	{% if user != None %}
    		<div class="container">
					{% include "header.html" %}	
				</div>
				{% include "header-my.html" %}
      {% else %}
      	<div class="container">
					{% include "include/header/header-nologin.html" %}
				</div>
      {% endif %}
    </nav>
	</header>

	<div id="layout find-job-con" class="container yzj-top-distance50">
		<!--左侧-->
		<div class="col-xs-3 clear-left find-job-silder-bar">
			<div class="col-xs-12 clear-both">
				<h4 class="text-muted">
					<strong>工作类别</strong>
				</h4>
				<form class="form-horizontal">
					<div class="yzj-top-distance20">
						<select class="form-control" v-model="category_pid" 
								@change="select_child_category">
							<option value="" selected="true">选择类别</option>
							<option v-for="item in categories" :value="item.category_id">
								{[ item.name ]}
							</option>
						</select>
					</div>

					<div v-show="category_pid">
						<div class="line"></div>
						<h4 class="text-muted">子分类</h4>
						<div class="yzj-top-distance20 yzj-size-14 text-info">
							<label class="yzj-top-distance20" v-for="item in child_categories">
								<input type="checkbox" v-model="category_ids" 
										:value="item.category_id"  class="bigbox">{[ item.name ]}
							</label>
						</div>
					</div>
					
					<div class="line"></div>

					<h4 class="text-muted">{{_("Job Type", lang)}}</h4>
					<div class="yzj-top-distance20 yzj-size-14 text-info">
						<label class="yzj-top-distance20" v-for="item in globel._paymethod">
							<input type="checkbox" v-model="paymethods" 
									:value="$key" class="bigbox">{[ item ]}
						</label>
					</div>

					<div class="line"></div>

					<h4 class="text-muted">累计雇佣人数</h4>
					<div class="yzj-top-distance20 yzj-size-14 text-info">
						<label class="yzj-top-distance20" v-for="item in globel.employHistory">
							<input type="checkbox" v-model="paymethods" 
									:value="$key" class="bigbox">{[ item ]}
						</label>
					</div>

					<div class="line"></div>

					<h4 class="text-muted">{{_("Experience Level", lang)}}</h4>
					<div class="yzj-top-distance20 yzj-size-14 text-info">
						<label class="yzj-top-distance20" v-for="item in globel._level">
							<input type="checkbox" v-model="levels" :value="$key"  class="bigbox">	{[ item ]}
						</label>
					</div>

					<div class="line"></div>
					<h4 class="text-muted">预算</h4>
					<div class="yzj-top-distance20 yzj-size-14 text-info">
						<label class="yzj-top-distance20">
							{[ budget.min.val ]}－{[ budget.max.val ]}
						</label>
						<div class="budget-range">
							<div class="body"></div>
							<span class="min-handle" :style="{ left: this.budget.min.posx +'px' }"
								></span>
							<span class="max-handle"></span>
						</div>
					</div>

					<div class="line"></div>

					<h4 class="text-muted">{{_("Project length", lang)}}</h4>
					<div class="yzj-top-distance20 text-info yzj-size-14">
						<label class="yzj-top-distance20" v-for="item in globel._duration">
							<input type="checkbox" v-model="durations" 
									:value="$key"  class="bigbox">{[ item ]}
						</label>
					</div>

					<div v-show="isShowHourOptions">
						<div class="line"></div>
						<h4 class="text-muted">{{_("Hours per Week", lang)}}</h4>
						<div class="yzj-top-distance20 text-info yzj-size-14">
							<label class="yzj-top-distance20" v-for="item in globel._workload">
								<input type="checkbox" v-model="workloads" 
									:value="$key"  class="bigbox">{[ item ]}
							</label>
						</div>
					</div>

				</form>
			</div>
		</div>

		<!--中间-->
		<div class="col-xs-9 clear-both">
			<h4>&nbsp;</h4>
			<form class="form-horizontal yzj-top-distance20">
				<div class="col-xs-12 clear-both">
					<div class="col-xs-10 clear-left">
						<input type="text" class="form-control text-search" v-model="keyword" v-on:keydown="enter($event)" placeholder="请输入关键字"/>
					</div>
					<div class="col-xs-2 clear-both">
						<button type="button" class="btn btn-default btn-lg btn-search" v-on:click="search">{{_("Search", lang)}}</button>
					</div>
				</div>
			</form>

			<div class="clearfix"></div>

			<div class="yzj-box yzj-top-distance20">
				<!-- <h5 class="text-warning yzj-top-distance10">高级搜索</h5> -->
				<form class="form-horizontal">
					<span class="yzj-size-14 yzj-right-distance20">如果您对该搜索感兴趣，您可以把刚刚的搜索添加到您的订阅</span>
					<button id="addSubscribe" type="button" class="btn btn-lg btn-default" v-on:click="subscribe">+  添加到我的订阅</button>
					<div class="yzj-top-distance30">
						<button type="button" class="btn btn-sm btn-primary" v-on:click="sortByTime()">
							发布时间
		          <span class="glyphicon" v-bind:class="{'glyphicon-arrow-down': time_sort == 'down', 'glyphicon-arrow-up': time_sort == 'up'}"></span>
							</button>
						<button type="button" class="btn btn-sm btn-disabled">
						需求方评分 
						<span class="glyphicon glyphicon-arrow-down"></span>
						</button>
						<div class="clearfix"></div>
					</div>
				</form>

				<div class="line"></div>

				<!--项目列表样式-->
				<div class="project-list"  v-for="item in works">
					<!--标题-->
					<div>
						<span class="pull-left yzj-size-16 project-list-title">
							<strong>
								<a class="text-info" href="/jobs/{[item.id]}">{[ item.name ]}</a>
							</strong>
						</span>
						<a href="javascript:;" v-on:click="collect(item)" class="project-list-title" v-bind:class="item.favorite?'active':''" v-bind:title="item.favorite?'取消收藏':'收藏'">
		          <span class="glyphicon glyphicon-heart pull-right yzj-size-18"></span>
		        </a>
						<div class="clearfix"></div>
					</div>
					<!--项目参数-->
	        <div class="yzj-top-distance20 text-info yzj-size-14" v-if="item.paymethod == 'fixed'">
	          <span class="yzj-right-distance45">
	            定价付费 丨 {[item.budget]} 元
	          </span>
	          <span class="yzj-right-distance45">难度:{[globel._level[item.level]]}</span>
	        </div>
	        <div class="yzj-top-distance20 text-info yzj-size-14" v-if="item.paymethod == 'hour'">
	          <span class="yzj-right-distance45">
	            按工时付费 丨 {[globel.level_price[item.level]]}
	          </span>
	          <span class="yzj-right-distance45">难度:{[globel._level[item.level]]}</span>
	          <span class="yzj-right-distance45">
	            周期:{[globel._duration[item.duration]]}</span>
	          <span class="yzj-right-distance45">工作量:{[globel._workload[item.workload]]}</span>
	        </div>
					<!--项目描述-->
					<div class="yzj-top-distance10 yzj-height30 project-detail">
						{[ item.description ]}
					</div>

					<!--项目参数-->
					<div class="yzj-top-distance15 yzj-size-14">
						<p class="pull-left">
							<span class="yzj-right-distance10">
								<strong>客户：</strong>
							</span>
						</p>
						<star :aver-score="item.aver_score" :eveluate-num="item.eveluate_num"></star>
						<p class="pull-left">
							<span class="yzj-right-distance10">
								<strong>技能：</strong>
							</span>
							<span class="label label-default" v-for="tag in item.skills">{[tag]}</span>
						</p>

						<div class="clearfix"></div>
					</div>
					<div class="line"></div>
				</div>

				<div class="pull-right">
					<div v-page="pageObject" v-bind:query="query_work_list"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
	<script src="/static/js/jquery-2.1.4.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/underscore-min.js"></script>
	<script src="/static/js/vue.min.js"></script>
	<script src="/static/js/js.cookie.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/common/js/yunwork.js"></script>
	<script src="/static/common/js/vue-directive.js"></script>
	<script src="/static/common/js/service.js"></script>
	<script src="/static/production/find-job.min.js"></script>
	<script src="/static/js/editicon-dis.js"></script>
	<script src="/static/js/notice.js"></script>
</body>
</html>
