<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>介绍页一</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body id="body">
<div id="layout">
<!--头部-->
<header class="header-navbar">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="/static/images/yzj_logo.png" height="52" width="171"></a>
      </div>
      <div class="Top-center pull-left yzj-size-16">
        <ul>
          <li class="active"><a href="/browse" class="text-info">浏览</a></li>
          <li><a href="/" class="text-info">介绍</a><li>
          </ul>
      </div>
      <div class="navbar-right navbar-brand yzj-top-distance10">
        <a href="#" class="btn btn2 btn-primary btn-sm yzj-size-14" href="/">开启云工作</a>
      </div>
        <div class="navbar-right navbar-brand Top-right yzj-size-14">
          <div class="pull-left search-box">
            <input class="form-control search-box-text" type="text" placeholder="搜索" id="search_text"/>
            <ul>
              <li class="pull-left search-box-icon dropdown" id="search_box">
                <img src="/static/images/nav-icon02.png" class="yzj-right-distance10">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <img src="/static/images/nav-down.png">
                </a>
                <ul class="dropdown-menu find-down">
                  <span class="active">找项目</span>
                  <span>找高手</span>
                </ul>
              </li>
            </ul>
          </div>
          <ul class="pull-left yzj-right-distance15 yzj-top-distance5">
            <li>
              <a href="/signin">登录</a>
            </li>
            <li>
              <a href="/signup-role">注册</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!--首页主体-->
  <div class="inner">
    <!--banner-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/static/images/introduce-banner.png" alt="云族佳">
          <div class="carousel-caption">
            <a href="/signup-role"><img src="/static/images/introduce-banner-btn.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner yzj-box-fff">
  <div class="container">
    <div class="col-xs-3 clear-both text-center">
      <div class="yzj-introduce-height introduce-btn-one-hover">
      <span class="yzj-right-distance15">
        <img src="/static/images/introduce-icon001.png"></span>
      <span class="yzj-size-18 text-fff yzj-top-distance5">Web,移动和软件开发</span>
      </div>
    </div>
    <div class="Hbody">
    <div class="col-xs-3 clear-both text-center Hone">
      <div class="yzj-introduce-height introduce-btn-two text-center">
      <span class="yzj-right-distance15">
        <img src="/static/images/introduce-icon002.png"></span>
      <span class="yzj-size-18 text-fff yzj-top-distance5">设计&创意</span>
      </div>
    </div>
    <div class="col-xs-3 clear-both text-center Htwo">
      <div class="yzj-introduce-height introduce-btn-two-hover text-center">
      <span class="yzj-right-distance15">
        <img src="/static/images/introduce-icon002.png"></span>
      <span class="yzj-size-18 text-fff yzj-top-distance5">设计&创意</span>
      </div>
    </div>
  </div>
  <div class="Hbody">
    <div class="col-xs-3 clear-both text-center Hone">
      <div class="yzj-introduce-height introduce-btn-three">
        <span class="yzj-right-distance15">
        <img src="/static/images/introduce-icon003.png"></span>
      <span class="yzj-size-18 text-fff yzj-top-distance5">IT&网络</span>
      </div>
    </div>
    <div class="col-xs-3 clear-both text-center Htwo">
      <div class="yzj-introduce-height introduce-btn-three-hover">
        <span class="yzj-right-distance15">
        <img src="/static/images/introduce-icon003.png"></span>
      <span class="yzj-size-18 text-fff yzj-top-distance5">IT&网络</span>
      </div>
    </div>
  </div>
  <div class="Hbody">
    <div class="col-xs-3 clear-both text-center Hone">
      <div class="yzj-introduce-height introduce-btn-four">
        <span class="yzj-right-distance15">
        <img src="/static/images/introduce-icon004.png"></span>
        <span class="yzj-size-18 text-fff yzj-top-distance5">数据科学与分析</span>
      </div>
    </div>
    <div class="col-xs-3 clear-both text-center Htwo">
      <div class="yzj-introduce-height introduce-btn-four-hover">
        <span class="yzj-right-distance15">
        <img src="/static/images/introduce-icon004.png"></span>
        <span class="yzj-size-18 text-fff yzj-top-distance5">数据科学与分析</span>
      </div>
    </div>
  </div>
  </div>
  <!--首页第二部分-->
  <div class="container yzj-top-distance50 text-center">
    <span class="yzj-right-distance15"><img src="/static/images/introduce-icon005.png"></span>
  <span class="text-muted text-center yzj-size-24">云沃客众包流程，实时体验云端工作畅爽！
  </span>
  <div class="yzj-top-distance40 yzj-index-width introduce-one">
    <ul>
      <li>
        <div class="introduce-partner">
        <div class="col-xs-6 clear-left"><img src="/static/images/default-img.png" width="95" height="95" class="img-circle"></div>
        <div class="col-xs-6 clear-right yzj-top-distance30">
        <p class="yzj-size-18 text-muted">范尊龙</p>
        <p class="yzj-size-14 yzj-top-distance10">产品经理</p>
        </div>
        <div class="clearfix"></div>
        </div>
        <div class="yzj-box text-center introduce-partner-detail">
            <p class="yzj-size-16 text-muted">70%工作成功率</p>
            <div class="col-xs-12 clear-both yzj-top-distance15">
              <div class="col-xs-8 clear-right">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" style="width: 50%;" aria-valuenow="0" aria-valuemax="0">
                  </div>
                </div>
              </div>
              <div class="col-xs-3 clear-both yzj-size-14 text-muted text-center">
                <strong>50%</strong>
              </div>
            </div>
            <div class="clearfix"></div>
            <p class="yzj-size-14">
              <img src="/static/images/address.png" class="yzj-right-distance10">
              北京市，朝阳区
            </p>
            <p class="yzj-top-distance20">
              <span class="label label-default">Python</span>
              <span class="label label-default">Java</span>
              <span class="label label-default">C/C++</span>
            </p>
            <div class="clearfix"></div>
            <p class="yzj-top-distance20">
            <a href="#" class="btn btn2 btn-primary btn-block">查看档案</a>
            </p>
        </div>
      </li>
      <li>
        <div class="introduce-partner">
        <div class="col-xs-6 clear-left"><img src="/static/images/default-img.png" width="95" height="95" class="img-circle"></div>
        <div class="col-xs-6 clear-right yzj-top-distance30">
        <p class="yzj-size-18 text-muted">范尊龙</p>
        <p class="yzj-size-14 yzj-top-distance10">产品经理</p>
        </div>
        <div class="clearfix"></div>
        </div>
        <div class="yzj-box text-center introduce-partner-detail">
            <p class="yzj-size-16 text-muted">70%工作成功率</p>
            <div class="col-xs-12 clear-both yzj-top-distance15">
              <div class="col-xs-8 clear-right">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" style="width: 50%;" aria-valuenow="0" aria-valuemax="0">
                  </div>
                </div>
              </div>
              <div class="col-xs-3 clear-both yzj-size-14 text-muted text-center">
                <strong>50%</strong>
              </div>
            </div>
            <div class="clearfix"></div>
            <p class="yzj-size-14">
              <img src="/static/images/address.png" class="yzj-right-distance10">
              北京市，朝阳区
            </p>
            <p class="yzj-top-distance20">
              <span class="label label-default">Python</span>
              <span class="label label-default">Java</span>
              <span class="label label-default">C/C++</span>
            </p>
            <div class="clearfix"></div>
            <p class="yzj-top-distance20">
            <a href="#" class="btn btn2 btn-primary btn-block">查看档案</a>
            </p>
        </div>
      </li>
      <li>
        <div class="introduce-partner">
        <div class="col-xs-6 clear-left"><img src="/static/images/default-img.png" width="95" height="95" class="img-circle"></div>
        <div class="col-xs-6 clear-right yzj-top-distance30">
        <p class="yzj-size-18 text-muted">范尊龙</p>
        <p class="yzj-size-14 yzj-top-distance10">产品经理</p>
        </div>
        <div class="clearfix"></div>
        </div>
        <div class="yzj-box text-center introduce-partner-detail">
            <p class="yzj-size-16 text-muted">70%工作成功率</p>
            <div class="col-xs-12 clear-both yzj-top-distance15">
              <div class="col-xs-8 clear-right">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" style="width: 50%;" aria-valuenow="0" aria-valuemax="0">
                  </div>
                </div>
              </div>
              <div class="col-xs-3 clear-both yzj-size-14 text-muted text-center">
                <strong>50%</strong>
              </div>
            </div>
            <div class="clearfix"></div>
            <p class="yzj-size-14">
              <img src="/static/images/address.png" class="yzj-right-distance10">
              北京市，朝阳区
            </p>
            <p class="yzj-top-distance20">
              <span class="label label-default">Python</span>
              <span class="label label-default">Java</span>
              <span class="label label-default">C/C++</span>
            </p>
            <div class="clearfix"></div>
            <p class="yzj-top-distance20">
            <a href="#" class="btn btn2 btn-primary btn-block">查看档案</a>
            </p>
        </div>
      </li>
      <li>
        <div class="introduce-partner">
        <div class="col-xs-6 clear-left"><img src="/static/images/default-img.png" width="95" height="95" class="img-circle"></div>
        <div class="col-xs-6 clear-right yzj-top-distance30">
        <p class="yzj-size-18 text-muted">范尊龙</p>
        <p class="yzj-size-14 yzj-top-distance10">产品经理</p>
        </div>
        <div class="clearfix"></div>
        </div>
        <div class="yzj-box text-center introduce-partner-detail">
            <p class="yzj-size-16 text-muted">70%工作成功率</p>
            <div class="col-xs-12 clear-both yzj-top-distance15">
              <div class="col-xs-8 clear-right">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" style="width: 50%;" aria-valuenow="0" aria-valuemax="0">
                  </div>
                </div>
              </div>
              <div class="col-xs-3 clear-both yzj-size-14 text-muted text-center">
                <strong>50%</strong>
              </div>
            </div>
            <div class="clearfix"></div>
            <p class="yzj-size-14">
              <img src="/static/images/address.png" class="yzj-right-distance10">
              北京市，朝阳区
            </p>
            <p class="yzj-top-distance20">
              <span class="label label-default">Python</span>
              <span class="label label-default">Java</span>
              <span class="label label-default">C/C++</span>
            </p>
            <div class="clearfix"></div>
            <p class="yzj-top-distance20">
            <a href="#" class="btn btn2 btn-primary btn-block">查看档案</a>
            </p>
        </div>
      </li>
    </ul>
  </div>
  </div>
  <div class="yzj-top-distance30"></div>
  </div>
  <!--第三个模块-->
  <div class="inner yzj-top-distance50">
  <div class="container yzj-top-distance40 text-center">
    <span class="yzj-right-distance15"><img src="/static/images/introduce-icon005.png"></span>
    <span class="text-muted text-center yzj-size-24">
    WEB,移动和软件开发核心技能
    </span>
    <div class="yzj-top-distance50 yzj-index-width row">
      <div class="col-xs-2 text-center">
        <img src="/static/images/introduce-color-icon01.png">
        <p class="yzj-size-18 yzj-top-distance20">Android</p>
      </div>
      <div class="col-xs-2">
        <img src="/static/images/introduce-color-icon02.png">
        <p class="yzj-size-18 yzj-top-distance20">IOS</p>
      </div>
      <div class="col-xs-2">
        <img src="/static/images/introduce-color-icon03.png">
        <p class="yzj-size-18 yzj-top-distance20">PHP</p>
      </div>
      <div class="col-xs-2">
        <img src="/static/images/introduce-color-icon04.png">
        <p class="yzj-size-18 yzj-top-distance20">Java</p>
      </div>
      <div class="col-xs-2">
        <img src="/static/images/introduce-color-icon05.png">
        <p class="yzj-size-18 yzj-top-distance20">HTML5</p>
      </div>
      <div class="col-xs-2">
        <img src="/static/images/introduce-color-icon06.png">
        <p class="yzj-size-18 yzj-top-distance20">Python</p>
      </div>
    </div>
  </div>
  <div class="yzj-top-distance50"></div>
  </div>
  <!--第七个模块-->
  <div class="inner yzj-box">
  <div class="container yzj-top-distance50 text-center">
  <span class="yzj-right-distance15"><img src="/static/images/introduce-icon005.png"></span>
    <span class="text-muted text-center yzj-size-24">
    他们都选择了云工作方式开发产品，你还在等什么？
    </span>
  <div class="yzj-top-distance40 yzj-index-width">
    <table class="yzj-index-table">
      <tbody>
        <tr>
          <td class="Hbody">
            <p class="Hone"><img src="/static/images/index-logo01-gray.png"></p>
            <p class="Htwo"><img src="/static/images/index-logo01.png"></p>
          </td>
          <td class="Hbody">
            <p class="Hone"><img src="/static/images/index-logo02-gray.png"></p>
            <p class="Htwo"><img src="/static/images/index-logo02.png"></p>
          </td>
          <td class="Hbody">
            <p class="Hone"><img src="/static/images/index-logo03-gray.png"></p>
            <p class="Htwo"><img src="/static/images/index-logo03.png"></p>
          </td>
          <td class="Hbody">
            <p class="Hone"><img src="/static/images/index-logo04-gray.png"></p>
            <p class="Htwo"><img src="/static/images/index-logo04.png"></p>
          </td>
          <td class="Hbody">
            <p class="Hone"><img src="/static/images/index-logo05-gray.png"></p>
            <p class="Htwo"><img src="/static/images/index-logo05.png"></p>
          </td>
          
        </tr>
        <tr>
          <td class="Hbody">
            <p class="Hone"><img src="/static/images/index-logo06-gray.png"></p>
            <p class="Htwo"><img src="/static/images/index-logo06.png"></p>
          </td>
          <td class="Hbody">
            <p class="Hone"><img src="/static/images/index-logo07-gray.png"></p>
            <p class="Htwo"><img src="/static/images/index-logo07.png"></p>
          </td>
          <td class="Hbody">
            <p class="Hone"><img src="/static/images/index-logo08-gray.png"></p>
            <p class="Htwo"><img src="/static/images/index-logo08.png"></p>
          </td>
          <td class="Hbody">
            <p class="Hone"><img src="/static/images/index-logo09-gray.png"></p>
            <p class="Htwo"><img src="/static/images/index-logo09.png"></p>
          </td>
          <td class="Hbody">
            <p class="Hone"><img src="/static/images/index-logo10-gray.png"></p>
            <p class="Htwo"><img src="/static/images/index-logo10.png"></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
   <!--注册版块-->
  <div class="inner" id="form-sign-free">
  <div class="container yzj-top-distance50 text-center">
  <span class="yzj-right-distance15"><img src="/static/images/introduce-icon005.png"></span>
    <span class="text-muted text-center yzj-size-24">
    想寻找Web,移动和软件开发方向的人才么，现在注册成为需求方
    </span>
    <div class="yzj-top-distance20 yzj-size-14">
    想找工作吗？<a href="/signup-role" class="text-warning">注册成为服务方</a>
    </div>
  <div class="yzj-top-distance40 yzj-index-width">
      
      <div class="main-form">
  <form class="form-horizontal yzj-top-distance70" id="form-person">
  <div class="form-group yzj-top-distance15" v-show="remoteErr">
      <div class="alert alert-danger text-center" role="alert" >
        {[ remoteErr ]}
      </div>
    </div>
   <div class="form-group">
    <div class="col-xs-12">
     <input type="text" name="name" required required-msg="姓名必填" class="form-control" placeholder="姓名" v-model="name">
   </div>
 </div>

<!--  <div class="form-group error-div" name="error" data-name="name">
  <div class="col-xs-12 text-warning yzj-size-14">
    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[ errName ]}
    <span class="errorMsg"></span>
  </div>
</div> -->

<div class="form-group">
  <div class="col-xs-12">
   <input type="text" name="phone" required required-msg="手机号必填"  class="form-control" placeholder="手机号" v-model="phone">
 </div>
</div>

<!--  <div class="form-group error-div" name="error" data-name="phone">
  <div class="col-xs-12 text-warning yzj-size-14">
    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
    <span class="errorMsg"></span>
  </div>
</div> -->

<div class="form-group">
  <div class="col-xs-8 clear-right yzj-right-distance15">
   <input type="text" name="vcode" required required-msg="验证码必填" class="form-control" placeholder="输入验证码" v-model="vcode">
 </div>
 <div class="col-xs-3 clear-left">
  <span vcode="clock-vcode" class="btn btn-code btn-primary yzj-size-14" v-on:click="sendvcode">发送验证码</span>
</div>
</div>

<!--  <div class="form-group error-div" name="error" data-name="vcode">
  <div class="col-xs-12 text-warning yzj-size-14">
    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[ errVcode ]}
    <span class="errorMsg"></span>
  </div>
</div> -->


<div class="form-group">
  <div class="col-xs-12">
   <input type="password" name="password" required required-msg="密码必填"  class="form-control" placeholder="密码" v-model="password">
 </div>
</div>

<!-- <div class="form-group error-div" name="error" data-name="password">
  <div class="col-xs-12 text-warning yzj-size-14">
    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[ errPassword ]}
  </div>
</div> -->

<div class="form-group text-left">
  <div class="col-xs-12 yzj-size-14">
   <input type="checkbox" v-model="acceptSms"> 同意接收对我有用的信息
 </div>
</div>

<div class="form-group text-left">
  <div class="col-xs-12 yzj-size-14">
   <input type="checkbox" v-model="legal"> 我同意服务条款，包括
   <a href="/legal" class="text-warning">【用户协议】</a>和
   <a href="/legal/privacy" class="text-warning">【隐私政策】</a>
 </div>
</div>

<div class="form-group">
  <div class="col-xs-12">
   <input type="button" value="注册" class="btn btn-primary btn-block" v-on:click="register"/> 
 </div>
</div>
</form>
</div>

  </div>
  </div>
  </div>
</div>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/vue-directive.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/frontend/signup.js"></script>
  <script src="/static/js/notice.js"></script>
  <script>
    $(function(){
      $('.Hbody').mouseover(function() {
        $(this).children('.Hone').hide();
        $(this).children('.Htwo').show();
      }); 
      $('.Hbody').mouseout(function(event) {
        $(this).children('.Hone').show();
        $(this).children('.Htwo').hide();
      });
    })
  </script>
</body>
</html>
