<!--删除框-->
<div class="modal fade" id="card_del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-warning" style="width: 400px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" v-if="alipay_number">删除支付宝</h4>
        <h4 class="modal-title" v-else>删除银行卡</h4>
      </div>
      <div class="modal-body">
        <h4 class="modal-title text-center text-muted" id="myModalLabel" v-if="alipay_number">确定删除该支付宝吗？</h4>
        <h4 class="modal-title text-center text-muted" id="myModalLabel" v-else>确定删除该银行卡吗？</h4>
      </div>
      <div class="modal-footer">
        <div class=" text-center">
          <button type="button" class="btn btn2 btn-primary btn-sm" v-on:click="do_del_item(index,origin_arr)">是</button>
          <button type="button" class="btn btn2 btn-default btn-sm" data-dismiss="modal">否</button>
        </div>
      </div>
    </div>
  </div>
</div>