<!--删除框-->
<div class="modal fade" id="add-warn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="yzj-size-30">&times;</span></button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title text-center text-muted" id="myModalLabel">添加支付宝
          </h4>
        <div class="yzj-top-distance30 yzj-height30 yzj-size-16 col-xs-10 col-xs-offset-1">
          您还没有进行个人认证。完成个人认证之后你才可以绑定支付宝。你绑定的支付宝账户的所有人，必须与实名认证身份相同。
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="modal-footer yzj-top-distance20">
        <div class="text-center">
          <a href="/freelancers/settings/identity" class="btn btn-primary btn-sm">去认证</a>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>