<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>工作详情</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
	<link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
	<link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
	<link rel="stylesheet" type="text/css" href="/static/css/tag-list.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
	<div>
		<!--头部-->
		<header class="header-navbar">
			<nav class="navbar navbar-default">
				<div class="container">
					{% include "header.html" %}
				</div>
				{% include "header-my.html" %}
			</nav>
		</header>

		<div id="layout" class="container yzj-top-distance50">
			<h3 class="text-muted">恭喜！你的项目已经成功发布</h3>
			<div class="line03"></div>
			<div class="yzj-box">
				<h4 class="text-muted">手机QQ表情商店开发</h4>
				<div class="yzj-top-distance20 yzj-size-12 yzj-height30">
					您好：<br/>
					我们是一家电影制作公司，致力于在该市的一个短片项目，我们在寻找一个生产经理。要求有积分卡了几克拉结果看国际几节课了金坷垃附件良好协调能力和时理能力。最好是知道如何处理金钱 .您好，我们是一家电
					影制作公司，致力于在该市的一个短片项目，我们在寻找一个生产经理。要求有积分卡了几克拉结果看节课了金坷垃附件良好协调能力和时间管的理能力。最好是知道如何处理金钱 .我们在寻找一个生产经理。要求有
					积分卡了几克拉结果看国际几节课了金坷垃附件良好协调能力和时间管的理能力。最好是知道如何处理金钱 .我们在寻找一个理。要求有积分卡了几克拉结果
				</div>
				<div class="yzj-top-distance10">
					<span class="yzj-right-distance10 yzj-size-14">
						技能：
					</span>
					<span class="label label-default">PHP</span>
					<span class="label label-default">MYSQL</span>
					<span class="label label-default">javascript</span>
					<span class="label label-default">python</span>
				</div>
			</div>
			<div class="line03"></div>
			<h4 class="text-muted yzj-top-distance30">推荐10位自由职业者为你工作</h4>
			<div class="row yzj-top-distance10 yzj-right-distance0">
				<div class="col-xs-2dot4 clear-right yzj-top-distance20">
					<div class="yzj-small-box2">
						<div class="col-xs-4 clear-left">
							<img class="media-object" src="/static/images/default-img02.png" width="40" height="40">
						</div>
						<div class="col-xs-8 yzj-height40 clear-left yzj-size-16">
							Heebaeit
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-2dot4 clear-right yzj-top-distance20">
					<div class="yzj-small-box2">
						<div class="col-xs-4 clear-left">
							<img class="media-object" src="/static/images/default-img02.png" width="40" height="40">
						</div>
						<div class="col-xs-8 yzj-height40 clear-left yzj-size-16">
							我是一名...
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-2dot4 clear-right yzj-top-distance20">
					<div class="yzj-small-box2">
						<div class="col-xs-4 clear-left">
							<img class="media-object" src="/static/images/default-img02.png" width="40" height="40">
						</div>
						<div class="col-xs-8 yzj-height40 clear-left yzj-size-16">
							代码小土工
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-2dot4 clear-right yzj-top-distance20">
					<div class="yzj-small-box2">
						<div class="col-xs-4 clear-left">
							<img class="media-object" src="/static/images/default-img02.png" width="40" height="40">
						</div>
						<div class="col-xs-8 yzj-height40 clear-left yzj-size-16">
							我要为钱亡
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-2dot4 clear-right yzj-top-distance20">
					<div class="yzj-small-box2">
						<div class="col-xs-4 clear-left">
							<img class="media-object" src="/static/images/default-img02.png" width="40" height="40">
						</div>
						<div class="col-xs-8 yzj-height40 clear-left yzj-size-16">
							母亲的爱护
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-2dot4 clear-right yzj-top-distance20">
					<div class="yzj-small-box2">
						<div class="col-xs-4 clear-left">
							<img class="media-object" src="/static/images/default-img02.png" width="40" height="40">
						</div>
						<div class="col-xs-8 yzj-height40 clear-left yzj-size-16">
							Heebaeit
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-2dot4 clear-right yzj-top-distance20">
					<div class="yzj-small-box2">
						<div class="col-xs-4 clear-left">
							<img class="media-object" src="/static/images/default-img02.png" width="40" height="40">
						</div>
						<div class="col-xs-8 yzj-height40 clear-left yzj-size-16">
							我是一名...
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-2dot4 clear-right yzj-top-distance20">
					<div class="yzj-small-box2">
						<div class="col-xs-4 clear-left">
							<img class="media-object" src="/static/images/default-img02.png" width="40" height="40">
						</div>
						<div class="col-xs-8 yzj-height40 clear-left yzj-size-16">
							代码小土工
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-2dot4 clear-right yzj-top-distance20">
					<div class="yzj-small-box2">
						<div class="col-xs-4 clear-left">
							<img class="media-object" src="/static/images/default-img02.png" width="40" height="40">
						</div>
						<div class="col-xs-8 yzj-height40 clear-left yzj-size-16">
							我要为钱亡
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-2dot4 clear-right yzj-top-distance20">
					<div class="yzj-small-box2">
						<div class="col-xs-4 clear-left">
							<img class="media-object" src="/static/images/default-img02.png" width="40" height="40">
						</div>
						<div class="col-xs-8 yzj-height40 clear-left yzj-size-16">
							母亲的爱护
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>

			<!--具体内容-->
			<div class="col-xs-12 clear-both yzj-top-distance30">
				<div class="col-xs-9 clear-both">
					<!--其中一位详细-->
					<div class="col-xs-2 clear-right">
						<img src="/static/images/default-img.png" width="100" height="100">
						<div class="clearfix"></div>
						<p class="yzj-top-distance20">
							<button class="btn btn-default btn-sm">保存</button>
						</p>
					</div>
					<div class="col-xs-10 clear-both">
						<div class="col-xs-12 clear-both">
							<div class="yzj-size-16 text-muted">
								<p class="pull-left"><strong>我是一名小能手</strong></p>
								<h3 class="pull-right">200元 / 小时</h3>
							</div>
							<div class="clearfix"></div>
							<div class="yzj-top-distance20 yzj-size-16">
								网页工程师
							</div>
							<div class="yzj-top-distance15 yzj-size-16 text-muted">
								<div class="col-xs-2 clear-left">
									<img src="/static/images/address.png" class="yzj-right-distance10">中国
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="yzj-top-distance15 yzj-size-14 text-info">
								工作时间：AM 09：30 - PM 05：30
							</div>
							<div class="clearfix"></div>
							<div class="yzj-top-distance20">
								<span class="label label-default label-pro-detail">
								PHP</span>
								<span class="label label-default label-pro-detail">MYSQL</span>
								<span class="label label-default label-pro-detail">javascript</span>
								<span class="label label-default label-pro-detail">python</span>
								<a href="javascript:()" class="text-warning">更多</a>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="yzj-box yzj-top-distance30 yzj-height30 yzj-size-14">
						<h4 class="text-muted"><strong>简介</strong></h4>
						<p class="yzj-top-distance20">
						我们是一家电影制作公司，致力于在该市的一个短片项目，我们在寻找一个生产经理。要求有积分卡了几克拉结果看国际几节课了金坷垃附件良
						好协调能力和时理能力。最好是知道如何处理金钱 .您好，我们是一家电影制作公司，致力于在该市的一个短片项目，我们在寻找一个生产经理。<br/><br/>
						要求有积分卡了几克拉结果看节课了金坷垃附件良好协调能力和时间管的理能力。最好是知道如何处理金钱 .我们在寻找一个生产经理。要求有
						积分卡了几克拉结果看国际几节课了金坷垃附件良好协调能力和时间管的理能力。最好是知道如何处理金钱 .我们在寻找一个理。要求有积分卡
						了几克拉结果
					</p>
					</div>
					<div class="yzj-box yzj-top-distance30">
						<h4 class="text-muted pull-left">
							<strong>就业经历与反馈</strong>
						</h4>
						<p class="pull-right">
							<select class="form-control select-control choice-select" id="works">
								<option value="0">最新工作</option>
								<option value="1">最高金额</option>
								<option value="2">最低金额</option>
								<option value="2">最大项目</option>
							</select>
						</p>
						<div class="clearfix"></div>
						<div class="line"></div>
						<div class=""></div>
					</div>
				</div>
				<div class="col-xs-3 clear-right">
					<div class="clear-right text-right">
						<button class="btn btn-primary btn-block" data-toggle="modal" data-target=".invitation">联系对方</button>
						<button class="btn btn-default btn-block yzj-top-distance10">雇佣</button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	{% include "footer.html" %}


	<!--添加语言-->
	<div class="modal fade bs-example-modal-lg invitation" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="yzj-size-30">&times;</span></button>
				</div>
				<div class="modal-body">
					<h3 class="modal-title text-muted text-center" id="myModalLabel">邀请</h3>	
					<form class="form-horizontal yzj-top-distance50">
						<div class="form-group">
							<label class="control-label col-xs-2 col-xs-offset-1 yzj-size-16">
								自由职业者</label>
								<div class="col-xs-7">
									<div class="media">
										<div class="media-left media-middle">
											<a href="#">
												<img class="media-object" src="/static/images/footer-icon01.png">
											</a>
										</div>
										<div class="media-body yzj-height20">
											诚信网站<br>
											示范企业
										</div>
									</div>
								</div>
							</div>
						</form>	
					</div>
				</div>
			</div>
		</div>

		<script src="/static/js/jquery-2.1.4.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/editicon-dis.js"></script>
		<script src="/static/js/selectlist.js"></script>
		<script src="/static/js/selectize.min.js"></script>
		<script src="/static/js/tag-list.js"></script>
		<script src="/static/js/vue.min.js"></script>
		<script src="/static/js/js.cookie.js"></script>
    	<script src="/static/js/common.js"></script>
    	<script src="/static/common/js/yunwork.js"></script>
    	<script src="/static/common/js/service.js"></script>
    	<script src="/static/js/notice.js"></script>
		<script type="text/javascript">
			$(function(){
				$('select').selectlist({
					zIndex: 10,
				});   
			})
		</script>
	</body>
	</html>
