<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>编辑个人资料</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
	<link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
	<link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
	<div>
		<!--头部-->
		<header class="header-navbar">
      <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
      {% include "header-my.html" %}
      </nav>
    </header>

		<div id="layout" class="container yzj-top-distance50">
			<div class="col-xs-offset-1 col-xs-10 clear-both">
				<h3 class="text-muted text-center">创建您的个人资料</h3>
				<div class="yzj-top-distance50">
					<div class="col-xs-1 clear-both text-center">
						<img src="/static/images/edit-profile-icon01.png"/>
						<h5 class="yzj-top-distance10">自我介绍</h5>
					</div>
					<div class="col-xs-4">
						<div class="edit-profile-line"></div>
					</div>
					<div class="col-xs-1 clear-both text-center">
						<img src="/static/images/edit-profile-icon02.png"/>
						<h5 class="yzj-top-distance10">经历/教育</h5>
					</div>
					<div class="col-xs-4">
						<div class="edit-profile-line"></div>
					</div>
					<div class="col-xs-1 clear-both text-center">
						<img src="/static/images/edit-profile-icon03.png"/>
						<h5 class="yzj-top-distance10">最后的细节</h5>
					</div>
				</div>
				<div class="clearfix"></div>
				<!--经验水平-->
				<div class="yzj-top-distance50">
					<h4 class="text-muted"><strong>经验水平</strong></h4>
					<div class="line"></div>
					<table class="table-fix-width yzj-box">
						<tr>
							<td class="active">
								<img src="/static/images/send-icon03.png" class="yzj-top-distance30">
								<p class="yzj-top-distance20 text-info yzj-size-16">入门级</p>
							</td>
							<td>
								<img src="/static/images/send-icon04.png" class="yzj-top-distance30">
								<p class="yzj-top-distance20 text-info yzj-size-16">中间级</p>
							</td>
							<td>
								<img src="/static/images/send-icon05.png" class="yzj-top-distance30">
								<p class="yzj-top-distance20 text-info yzj-size-16">专业级</p>
							</td>
						</tr>
					</table>

					<h4 class="text-muted yzj-top-distance20"><strong>就业历史</strong></h4>
					<div class="line"></div>
					<!-- <div class="yzj-box">
						<h5 class="text-warning">
							<strong>
								<a href="javascript:()" data-toggle="modal" data-target=".modal01" class="text-warning">添加就业经历</a>
							</strong>
						</h5>
						<p class="yzj-size-14 yzj-top-distance10">告诉客户你的工作经验
						</p>
					</div> -->
					<div class="col-xs-12 clear-both yzj-size-16 text-info">
						<div class="col-xs-3 text-center">起止时间</div>
						<div class="col-xs-3 text-center">公司名称</div>
						<div class="col-xs-3 text-center">职位</div>
						<div class="col-xs-3 text-center">操作</div>
						<div class="clearfix"></div>
						<div class="yzj-small-box yzj-top-distance20 yzj-size-14">
							<div class="col-xs-3 clear-left yzj-height40">05/2010  ----  12/2015</div>
							<div class="col-xs-3 clear-both yzj-height40">大虎大虎（北京）科技有限公司</div>
							<div class="col-xs-3 text-center yzj-height40">测试工程师</div>
							<div class="col-xs-3 text-center clear-right">
								<a class="yzj-right-distance10 yzj-height40">
									<img src="/static/images/edit-btn-icon.png">
								</a>
								<a class="yzj-height40" >
								<img src="/static/images/del-btn-icon.png">
								</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<button class="yzj-top-distance15 btn btn-default btn-lg" data-toggle="modal" data-target=".modal01">添加</button>
					</div>
					<div class="clearfix"></div>

					<h4 class="text-muted yzj-top-distance20"><strong>教育</strong></h4>
					<div class="line"></div>
					<div class="col-xs-12 clear-both yzj-size-16">
						<div class="col-xs-3 text-center">起止时间</div>
						<div class="col-xs-3 text-center">学校名称</div>
						<div class="col-xs-3 text-center">专业</div>
						<div class="col-xs-3 text-center">操作</div>
						<div class="clearfix"></div>
						<div class="yzj-small-box yzj-top-distance20 yzj-size-14">
							<div class="col-xs-3 clear-left yzj-height40">05/2010  ----  12/2015</div>
							<div class="col-xs-3 clear-both yzj-height40">大虎大虎（北京）科技有限公司</div>
							<div class="col-xs-3 text-center yzj-height40">测试工程师</div>
							<div class="col-xs-3 text-center clear-right">
								<a class="yzj-right-distance10 yzj-height40">
									<img src="/static/images/edit-btn-icon.png">
								</a>
								<a class="yzj-height40" >
								<img src="/static/images/del-btn-icon.png">
								</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<button class="yzj-top-distance15 btn btn-default btn-lg" data-toggle="modal" data-target=".modal02">添加</button>
					</div>
					<div class="clearfix"></div>

						<h4 class="text-muted yzj-top-distance20"><strong>认证</strong></h4>
						<div class="line"></div>
						<div class="col-xs-12 clear-both yzj-size-16">
						<div class="yzj-small-box yzj-top-distance20 yzj-size-14 project-img">
							<img src="/static/images/zizhi.png">
							<div class="clearfix"></div>
						</div>
						<button class="yzj-top-distance15 btn btn-default btn-lg" data-toggle="modal" data-target=".modal04">添加</button>
					</div>
					<div class="clearfix"></div>


					<h4 class="text-muted yzj-top-distance20">
						<strong>
							项目经验
						</strong>
					</h4>
					<div class="line"></div>
					<div class="col-xs-12 clear-both yzj-size-16">
						<div class="yzj-small-box yzj-top-distance20 yzj-size-14">
							<div class="col-xs-9 clear-left text-left yzj-size-16">项目名称</div>
							<div class="col-xs-3 text-center yzj-size-16">操作</div>
							<div class="col-xs-9 clear-both yzj-height40">大虎大虎（北京）科技有限公司
							</div>
							<div class="col-xs-3 text-center yzj-height40">
									<a class="yzj-right-distance10 yzj-height40">
										<img src="/static/images/edit-btn-icon.png">
									</a>
									<a class="yzj-height40">
									<img src="/static/images/del-btn-icon.png">
									</a>
							</div>
							<div class="clearfix"></div>
						</div>

						<button class="yzj-top-distance15 btn btn-default btn-lg" data-toggle="modal" data-target=".modal03">添加</button>
					</div>
					<div class="clearfix"></div>

				</div>
				<div class="yzj-top-distance50">
					<button type="button" class="btn btn-primary btn-lg yzj-right-distance15">保存并继续</button>
					<button type="button" class="btn btn-default btn-lg yzj-right-distance15">后退</button>
				</div>
			</div>
	
	<!--就业经历弹框-->
	<div class="modal fade bs-example-modal-lg modal01" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="yzj-size-30">&times;</span></button>
				</div>
				<div class="modal-body">
					<h3 class="modal-title text-info text-center" id="myModalLabel">就业经历</h3>
					<form class="form-horizontal yzj-top-distance50">
						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">公司名称</label>
							<div class="col-xs-7">
								<input type="text" class="form-control" placeholder="学校名称为1~50字符">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">所在城市</label>
							<div class="col-xs-7">
								<input type="text" class="form-control" placeholder="学校名称为1~50字符">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">所在国家</label>
							<div class="col-xs-7">
								<select class="form-control select-control" v-model="" id="country">
									<option value="0">中国</option>
									<option value="1">美国</option>
									<option value="2">英国</option>
									<option value="3">外国不中国</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">职位</label>
							<div class="col-xs-7">
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">时间</label>
							<div class="col-xs-7">
								<div class="select-data">
									<select class="form-control select-control" v-model="" id="data01">
										<option value="0">1990</option>
										<option value="1">1991</option>
										<option value="2">1992</option>
										<option value="3">1993</option>
									</select>
								</div>
								<div class="select-data">
									<select class="form-control select-control" v-model="" id="data02">
										<option value="0">1990</option>
										<option value="1">1991</option>
										<option value="2">1992</option>
										<option value="3">1993</option>
									</select>
								</div>
								<div class="yzj-height50 pull-left yzj-right-distance10">——</div>
								<div class="select-data">
									<select class="form-control select-control" v-model="" id="data03">
										<option value="0">1990</option>
										<option value="1">1991</option>
										<option value="2">1992</option>
										<option value="3">1993</option>
									</select>
								</div>
								<div class="select-data">
									<select class="form-control select-control" v-model="" id="data04">
										<option value="0">1990</option>
										<option value="1">1991</option>
										<option value="2">1992</option>
										<option value="3">1993</option>
									</select>
								</div>
							</div>
						</div>

						<div class="">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">&nbsp;</label>
							<div class="col-xs-7">
								<input type="checkbox" class="bigbox"/>
								<span class="yzj-size-16">在职</span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">工作描述</label>
							<div class="col-xs-7">
								<textarea class="form-control" rows="15"></textarea>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group yzj-top-distance50">
							<div class="col-xs-10 col-xs-offset-1">
								<div class="col-xs-4">
									<button type="button" class="btn btn-primary btn-block yzj-right-distance15">保存</button>
								</div>
								<div class="col-xs-4">
									<button type="button" class="btn btn-info btn-block yzj-right-distance15">保存并继续</button>
								</div>
								<div class="col-xs-4">
									<button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--添加教育经历-->
	<div class="modal fade bs-example-modal-lg modal02" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="yzj-size-30">&times;</span></button>
				</div>
				<div class="modal-body">
					<h3 class="modal-title text-info text-center" id="myModalLabel">教育经历</h3>
					<form class="form-horizontal yzj-top-distance50">
						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">学校名称</label>
							<div class="col-xs-7">
								<input type="text" class="form-control" placeholder="学校名称为1~50字符">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">时间</label>
							<div class="col-xs-7">
								<div class="col-xs-3 clear-both">
									<select class="form-control select-control" v-model="" id="data05">
										<option value="0">1990</option>
										<option value="1">1991</option>
										<option value="2">1992</option>
										<option value="3">1993</option>
									</select>
								</div>
								<div class="col-xs-1 clear-both text-center yzj-height50">——</div>
								<div class="col-xs-3 clear-both">
									<select class="form-control select-control" v-model="" id="data06">
										<option value="0">1990</option>
										<option value="1">1991</option>
										<option value="2">1992</option>
										<option value="3">1993</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">学历</label>
							<div class="col-xs-7">
								<input type="text" class="form-control" placeholder="请填写自己的学历">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">专业</label>
							<div class="col-xs-7">
								<input type="text" class="form-control" placeholder="请填写自己的专业名称">
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">描述</label>
							<div class="col-xs-7">
								<textarea class="form-control" rows="15"></textarea>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group yzj-top-distance50">
							<div class="col-xs-10 col-xs-offset-1">
								<div class="col-xs-4">
									<button type="button" class="btn btn-primary btn-block yzj-right-distance15">保存</button>
								</div> 
								<div class="col-xs-4">
									<button type="button" class="btn btn-info btn-block yzj-right-distance15">保存并继续</button>
								</div>
								<div class="col-xs-4">
									<button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--添加项目经历-->
	<div class="modal fade bs-example-modal-lg modal03" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="yzj-size-30">&times;</span></button>
				</div>
				<div class="modal-body">
					<h3 class="modal-title text-info text-center" id="myModalLabel">项目经验</h3>
					<form class="form-horizontal yzj-top-distance50">
						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">项目名称</label>
							<div class="col-xs-7">
								<input type="text" class="form-control" placeholder="项目名称为1~50字符">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">项目描述</label>
							<div class="col-xs-7">
								<textarea class="form-control" rows="10"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">添加附件</label>
							<div class="clearfix"></div>
							<div class="col-xs-6 col-xs-offset-3">
								<div class="project-inputfile">
									<input type="file" class="project-input" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">添加图片</label>
							<div class="clearfix"></div>
							<div class="col-xs-6 col-xs-offset-3">
								<div class="project-inputfile">
									<input type="file" class="project-input" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">项目类别</label>
							<div class="col-xs-7">
								<div class="col-xs-6 clear-left">
									<select class="form-control select-control" v-model="" id="lb01">
										<option value="0">类别一</option>
										<option value="1">类别二</option>
										<option value="2">类别三</option>
										<option value="3">类别四</option>
									</select>
								</div>
								<div class="col-xs-6 clear-both">
									<select class="form-control select-control" v-model="" id="lb02">
										<option value="0">子类别1</option>
										<option value="1">子类别2</option>
										<option value="2">子类别3</option>
										<option value="3">子类别4</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">项目地址</label>
							<div class="col-xs-7">
								<input type="text" class="form-control" placeholder="请填写正确的地址格式">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">开始时间</label>
							<div class="col-xs-7">
								<select class="form-control select-control" v-model="" id="data07">
									<option value="0">1990</option>
									<option value="1">1991</option>
									<option value="2">1992</option>
									<option value="3">1993</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">结束时间</label>
							<div class="col-xs-7">
								<select class="form-control select-control" v-model="" id="data08">
									<option value="0">1990</option>
									<option value="1">1991</option>
									<option value="2">1992</option>
									<option value="3">1993</option>
								</select>
							</div>
						</div>
						<div class="form-group yzj-top-distance50">
							<div class="col-xs-10 col-xs-offset-1">
								<div class="col-xs-4">
									<button type="button" class="btn btn-primary btn-block yzj-right-distance15">保存</button>
								</div> 
								<div class="col-xs-4">
									<button type="button" class="btn btn-info btn-block yzj-right-distance15">保存并继续</button>
								</div>
								<div class="col-xs-4">
									<button type="button" class="btn btn-default btn-block yzj-right-distance15">取消</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!--添加资质认证-->
	<div class="modal fade bs-example-modal-lg modal04" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="yzj-size-30">&times;</span></button>
				</div>
				<div class="modal-body">
					<h3 class="modal-title text-info text-center" id="myModalLabel">资质证书
					</h3>
					<form class="form-horizontal yzj-top-distance50">
						<div class="form-group">
							<label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">证书名称</label>
							<div class="col-xs-7">
								<select class="form-control select-control" v-model="" id="zizhi">
									<option value="0">证书一</option>
									<option value="1">证书二</option>
									<option value="2">证书三</option>
									<option value="3">证书四</option>
								</select>
							</div>
						</div>
						<div class="form-group yzj-top-distance30">
							<div class="col-xs-2 clear-left col-xs-offset-4">
								<button type="button" class="btn btn-primary btn-block yzj-right-distance15">保存</button>
							</div>
							<div class="col-xs-2 clear-left">
								<button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	{% include "footer.html" %}
	<script src="/static/js/jquery-2.1.4.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/selectlist.js"></script>
	<script src="/static/js/editicon-dis.js"></script>
	<script src="/static/js/vue.min.js"></script>
	<script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/js/notice.js"></script>
	<script type="text/javascript">
		$(function(){
			$('select').selectlist({
				zIndex: 10,
			});   
		})
	</script>
</body>
</html>
