<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>工作详情</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
        {% include "header-my.html" %}
      </nav>
    </header>

    <div id="body" class="container yzj-top-distance50">
      <div class="col-xs-offset-1 col-xs-10 clear-both">
        <h3 class="text-muted text-center">创建您的个人资料</h3>
        <div class="yzj-top-distance50">
          <div class="col-xs-1 clear-both text-center">
            <img src="/static/images/edit-profile-icon01.png" />
            <h5 class="yzj-top-distance10">自我介绍</h5>
          </div>
          <div class="col-xs-4">
            <div class="edit-profile-line editline"></div>
          </div>
          <div class="col-xs-1 clear-both text-center">
            <img src="/static/images/edit-profile-icon02-color.png" />
            <h5 class="yzj-top-distance10">经历/教育</h5>
          </div>
          <div class="col-xs-4">
            <div class="edit-profile-line editline"></div>
          </div>
          <div class="col-xs-1 clear-both text-center">
            <img src="/static/images/edit-profile-icon03-color.png" />
            <h5 class="yzj-top-distance10">最后的细节</h5>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--经验水平-->
        <div class="yzj-top-distance50">
          <h4 class="text-muted"><strong>设置时薪</strong></h4>
          <div class="line"></div>
          <form class="form-horizontal col-xs-12 clear-both" id="form-other">
            <div class="col-xs-12 clear-both">
              <div class="col-xs-6 clear-both">
                <div class="text-info yzj-size-16">
                  <div class="col-xs-5 clear-left">
                    网站显示
                    <p class="yzj-top-distance10 yzj-size-14">需求者看到的您的标价</p>
                  </div>
                  <div class="col-xs-1 clear-both">
                    <img class="yzj-top-distance10" src="/static/images/rmb-icon.png">
                  </div>
                  <div class="col-xs-4">
                    <input type="number" min="1" max="99999.99" maxlength="8" name="amount" data-regular="/^(\d{1,5}\.{1}\d{0,2}|\d{1,5})$/" data-msg="时薪必须是最多两位小数且小于6位的数字" required required-msg="标价必填" class="form-control" v-model="amount" v-on:blur="setNum()" />
                  </div>
                  <div class="col-xs-2 clear-both">
                    <label class="control-label">/小时</label>
                  </div>
                </div>
                <div class="col-xs-offset-2 col-xs-10 clear-left text-warning yzj-size-14 ml54 error-div" name="error" data-name="amount">
                  <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                  <span class="errorMsg"></span>
                </div>
                <div class="clearfix"></div>
                <div class="text-info yzj-size-16 yzj-top-distance30">
                  <div class="col-xs-5 clear-left">
                    实际收益
                    <p class="yzj-top-distance10 yzj-size-14">您实际获得的回报</p>
                  </div>
                  <div class="col-xs-1 clear-both">
                    <img class="yzj-top-distance10" src="/static/images/rmb-icon.png">
                  </div>
                  <div class="col-xs-4">
                    <input type="text" readonly class="form-control" v-model="actual_amount" />
                  </div>
                  <div class="col-xs-2 clear-both">
                    <label class="control-label">/小时</label>
                  </div>
                </div>
              </div>
              <div class="col-xs-1"></div>
              <div class="col-xs-1">
                <div class="line-box"></div>
              </div>
              <div class="col-xs-4 clear-right yzj-size-14 yzj-height30">
                云沃客将在需求者支付的金额中，收取10%的 平台服务费用
                <p class="yzj-top-distance15">
                  服务费的比例调整，我们将在网站上进行公告 最终解释权归云沃客所有
                </p>
              </div>
            </div>

            <div class="clearfix"></div>
            <h4 class="text-muted yzj-top-distance20"><strong>地址设置</strong></h4>
            <div class="line"></div>
            <label class="control-label col-xs-2 yzj-size-16 clear-left text-left text-info">
              <span class="text-warning size-18">*</span>
              所在城市
            </label>
            <div class="col-xs-3 clear-left">
              <select class="form-control select-control" v-on:change="select_child_address()" v-model="address_pid">
                <option value="">选择省份</option>
                <option v-for="item in prarent_address" v-bind:value="item.address_id">
                  {[ item.name ]}
                </option>
              </select>
            </div>
            <div class="col-xs-3 clear-left">
              <select class="form-control select-control" name="address_id" required required-msg="城市必选" v-model="address_id">
                <option value="">选择市/区域</option>
                <option v-for="item in child_address" v-bind:value="item.address_id">
                  {[ item.name ]}
                </option>
              </select>
            </div>
            <div class="col-xs-offset-2 col-xs-10 clear-left text-warning yzj-size-14 error-div" name="error" data-name="address_id">
              <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
              <span class="errorMsg"></span>
            </div>



            <div class="clearfix"></div>
            <div class="yzj-top-distance15">
              <label class="control-label col-xs-2 yzj-size-16 clear-left text-left text-info">
                <span class="text-warning size-18">*</span> 详细地址
              </label>
              <div class="col-xs-6 clear-left">
                <input class="form-control" name="address" required required-msg="详细地址必填" type="text" v-model="profile.address" />
              </div>
            </div>
            <div class="col-xs-offset-2 col-xs-10 clear-left text-warning yzj-size-14 error-div" name="error" data-name="address">
              <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
              <span class="errorMsg"></span>
            </div>
            <div class="clearfix"></div>
            <div class="yzj-top-distance15">
              <label class="control-label col-xs-2 yzj-size-16 clear-left text-left text-info">邮编</label>
              <div class="col-xs-6 clear-left">
                <input class="form-control" type="text" v-model="profile.postcode" />
              </div>
            </div>
            <div class="col-xs-offset-2 col-xs-10 clear-left text-warning yzj-size-14" v-show="errPostcode">
              <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[ errPostcode ]}
            </div>

          </form>
        </div>
        <div class="clearfix"></div>
        <div class="yzj-top-distance50">
          <button type="button" class="btn btn-primary btn-lg yzj-right-distance15" v-on:click="save_other_profile">保存并继续</button>
          <button type="button" class="btn btn-default btn-lg yzj-right-distance15" v-on:click="prev_step">后退</button>
        </div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}

  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/frontend/profile-other.js"></script>
  <script src="/static/js/notice.js"></script>
</body>

</html>