<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>创建您的个人资料</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
        {% include "header-my.html" %}
      </nav>
    </header>

    <div id="profile_edit" class="container yzj-top-distance50">
      <div class="col-xs-offset-1 col-xs-10 clear-both">
        <h3 class="text-muted text-center">创建您的个人资料</h3>

        <div class="yzj-top-distance50">
          <div class="col-xs-1 clear-both text-center">
            <img src="/static/images/edit-profile-icon01.png" />
            <h5 class="yzj-top-distance10">自我介绍</h5>
          </div>
          <div class="col-xs-4">
            <div class="edit-profile-line editline"></div>
          </div>
          <div class="col-xs-1 clear-both text-center">
            <img src="/static/images/edit-profile-icon02-color.png" />
            <h5 class="yzj-top-distance10">经历/教育</h5>
          </div>
          <div class="col-xs-4">
            <div class="edit-profile-line"></div>
          </div>
          <div class="col-xs-1 clear-both text-center">
            <img src="/static/images/edit-profile-icon03.png" />
            <h5 class="yzj-top-distance10">最后的细节</h5>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--经验水平-->
        <div class="yzj-top-distance50 table-border">
          <h4 class="text-muted"><span class="text-warning">* </span><strong>经验水平</strong></h4>
          <div class="line"></div>
          <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20 table-sort" v-bind:class="{'active': level == 'entry'}" v-on:click="change_level('entry', $event)">
            <img src="/static/images/send-icon03.png">
            <p class="yzj-top-distance20 text-info yzj-size-16">入门级</p>
          </div>

          <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20 table-sort" v-bind:class="{'active': level == 'middle'}" v-on:click="change_level('middle', $event)">
            <img src="/static/images/send-icon04.png">
            <p class="yzj-top-distance20 text-info yzj-size-16">中间级</p>
          </div>

          <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20 table-sort" v-bind:class="{'active': level == 'expert'}" v-on:click="change_level('expert', $event)">
            <img src="/static/images/send-icon05.png">
            <p class="yzj-top-distance20 text-info yzj-size-16">专业级</p>
          </div>
          <div class="form-group" v-show="errLevel">
            <div class="col-xs-12 text-warning yzj-size-14">
              <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errLevel]}
            </div>
          </div>
          <div class="clearfix"></div>
          <h4 class="text-muted yzj-top-distance20">
						<strong>就业经历</strong>
						<a href="javascript:;" class="pull-right text-info" v-on:click="add_item('modal01')">添加+</a>
					</h4>
          <div class="line"></div>
          <div class="yzj-box yzj-border" v-show="employments.length <= 0 ">
            <h5 class="text-warning pro-add">
							<strong>
								<a href="javascript:;" data-toggle="modal" data-target=".modal01" class="text-warning">添加就业经历</a>
							</strong>
						</h5>
            <p class="yzj-size-14 yzj-top-distance10">您还没有填写工作经验，快完善一下吧
            </p>
          </div>
          <div class="col-xs-12 clear-both yzj-box yzj-border" v-if="employments.length > 0">
            <div v-for="item in employments">
              <div v-if="$index / 2 != 0">
                <div class="line02"></div>
              </div>
              <div class="work-experience">
                <p class="text-primary yzj-size-14">
                  职位: {[item.title]}
                  <span class="both-line">|</span> 公司: {[item.company]}
                  <span class="pull-right">
										<img class="yzj-right-distance10" src="/static/images/edit-btn-icon.png"  v-on:click="edit_employment(item, $event)">
										<img src="/static/images/del-btn-icon.png" v-on:click="del_item(item,$index,'employment')">
									</span>
                </p>
                <p class="yzj-top-distance20 yzj-size-14">
                  <span class="yzj-right-distance10">时间：{[item.start_at | date_to_str]}  ----  {[item.end_at | date_to_str ]}</span>
                  <span class="text-warning">{[ globel._role[item.role] ]}</span>
                </p>
                <p class="yzj-top-distance20 yzj-size-14 yzj-height30 yzj-word-break">
                  工作描述：{[item.detail]}
                </p>
              </div>
            </div>

          </div>
          <div class="clearfix"></div>

          <h4 class="text-muted yzj-top-distance20">
						<span class="text-warning">* </span><strong>教育经历</strong>
						<a href="javascript:;" class="pull-right text-info" v-on:click="add_item('modal02')">添加+</a>
					</h4>
          <div class="line"></div>
          <div class="yzj-box yzj-border" v-if="educations.length <= 0">
            <h5 class="text-warning pro-add">
							<strong>
								<a href="javascript:;" data-toggle="modal" data-target=".modal02" class="text-warning">添加教育经历</a>
							</strong>
						</h5>
            <p class="yzj-size-14 yzj-top-distance10">您还没有填写教育经历，快完善一下吧
            </p>
          </div>
          <div v-for="item in educations" v-show="educations.length > 0">
            <div class="col-xs-12 clear-both yzj-box yzj-border">
              <div class="work-experience">
                <p class="text-primary yzj-size-16">
                  {[ globel._degree[item.degree] ]}
                  <span v-show="item.area != ''">
									<span class="both-line">|</span> {[item.area]}
                  </span>
                  <span class="both-line">|</span> {[item.school]}
                  <span class="pull-right">
										<img class="yzj-right-distance10" src="/static/images/edit-btn-icon.png"  v-on:click="edit_education(item, $event)">
										<img src="/static/images/del-btn-icon.png" v-on:click="del_item(item,$index,'education')">
									</span>
                </p>
                <p class="yzj-top-distance20 yzj-size-14">
                  <span class="yzj-right-distance10">时间：{[item.start_at | date_to_str '4']}年  ----  {[item.end_at | date_to_str '4']}年</span>
                </p>
                <p class="yzj-top-distance20 yzj-size-14 yzj-height30" v-show="item.detail != ''">
                  简介：{[item.detail]}
                </p>
              </div>
            </div>
          </div>


          <div class="clearfix"></div>

          <h4 class="text-muted yzj-top-distance20">
						<strong>项目经验</strong>
						<a href="javascript:;" class="pull-right text-info" v-on:click="add_item('modal03')">添加+</a>
					</h4>
          <div class="line"></div>
          <div class="yzj-box yzj-border" v-show="portfolios.length <= 0">
            <h5 class="text-warning pro-add">
							<strong>
								<a href="javascript:;" data-toggle="modal" data-target=".modal03" class="text-warning">添加项目经验</a>
							</strong>
						</h5>
            <p class="yzj-size-14 yzj-top-distance10">您还没有填写项目经验，快完善一下吧
            </p>
          </div>

          <div v-for="item in portfolios" v-show="portfolios.length > 0">
            <div v-if="item.picture.path !== '' ">
              <div class="col-xs-12 clear-both yzj-box yzj-border">
                <div class="work-experience">
                  <div class="col-xs-3 clear-left">
                    <img src="/static/images/add-project-img.png" width="220" height="160" v-bind:src="item.picture.path" />
                  </div>
                  <div class="col-xs-9">
                    <!--div class="col-md-9 clear-both"-->
                    <p class="text-primary yzj-size-16">
                      项目名称：{[item.name]}
                      <span class="pull-right">
											<img class="yzj-right-distance10" src="/static/images/edit-btn-icon.png"  v-on:click="edit_project(item)">
											<img src="/static/images/del-btn-icon.png" v-on:click="del_item(item,$index,'project')">
										</span>
                    </p>
                    <p class="yzj-top-distance20 yzj-size-14" v-show="item.link != '' ">
                      <span class="yzj-right-distance10">项目链接：{[item.link ]}</span>
                    </p>
                    <p class="yzj-top-distance20 yzj-size-14">
                      <span class="yzj-right-distance10">时间：{[item.end_at | date_to_str ]}</span>
                    </p>
                    <p class="yzj-top-distance20 yzj-size-14 yzj-height30">
                      工作描述：{[item.detail]}
                    </p>
                    <p class="yzj-top-distance20">
                      <span class="label label-default label-pro-detail yzj-right-distance10">
											{[item.category.parent_name]}
										</span>
                      <span class="label label-default label-pro-detail yzj-right-distance10">
											{[item.category.name]}
										</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--有项目无图片-->
            <div v-if="item.picture.path == '' ">
              <div class="col-xs-12 clear-both yzj-box yzj-border">
                <div class="work-experience">
                  <div class="col-xs-12 clear-left">
                    <p class="text-primary yzj-size-16">
                      项目名称：{[item.name]}
                      <span class="pull-right">
											<img class="yzj-right-distance10" src="/static/images/edit-btn-icon.png"  v-on:click="edit_project(item)">
											<img src="/static/images/del-btn-icon.png" v-on:click="del_item(item,$index,'project')">
										</span>
                    </p>
                    <p class="yzj-top-distance20 yzj-size-14" v-show="item.link != '' ">
                      <span class="yzj-right-distance10">项目链接：{[item.link ]}</span>
                    </p>
                    <p class="yzj-top-distance20 yzj-size-14">
                      <span class="yzj-right-distance10">时间：{[item.end_at | date_to_str ]}</span>
                    </p>
                    <p class="yzj-top-distance20 yzj-size-14 yzj-height30">
                      工作描述：{[item.detail]}
                    </p>
                    <p class="yzj-top-distance20">
                      <span class="label label-default label-pro-detail yzj-right-distance10">
											{[item.category.parent_name]}
										</span>
                      <span class="label label-default label-pro-detail yzj-right-distance10">
											{[item.category.name]}
										</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="clearfix"></div>
        <div class="yzj-top-distance50">
          <button type="button" class="btn btn-primary btn-lg yzj-right-distance15" v-on:click="undate_profile()">保存并继续</button>
          <button type="button" class="btn btn-default btn-lg yzj-right-distance15" v-on:click="prev_category">后退</button>
        </div>
      </div>

      <!--就业经历弹框-->
      <div class="modal fade bs-example-modal-lg modal01" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="work_company_close"><span aria-hidden="true" class="yzj-size-30">&times;</span></button>
            </div>
            <div class="modal-body">
              <h3 class="modal-title text-info text-center" id="myModalLabel"><span v-show="!employment.id">添加</span><span v-show="employment.id">编辑</span>就业经历</h3>
              <form class="form-horizontal yzj-top-distance50" id="employment-form">
                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
                    <span class="text-warning size-18">*</span>
                    所在公司
                  </label>
                  <div class="col-xs-7">
                    <input type="text" class="form-control" name="company" required required-msg="公司必填" data-regular="/^(.*){1,50}/" placeholder="公司名称为1~50字符" maxlength="50" v-model="employment.company">
                  </div>
                </div>

                <div class="form-group error-div" name="error" data-name="company">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errCompany]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
                    <span class="text-warning size-18">*</span>
                    所在城市
                  </label>
                  <div class="col-xs-3 clear-right">
                    <select class="form-control select-control" v-on:change="select_child_address()" v-model="address_pid">
								<option value="">选择省份</option>
								<option v-for="item in prarent_address" v-bind:value="item.address_id">
									{[ item.name ]}
								</option>
							</select>
                  </div>

                  <div class="col-xs-3">
                    <select class="form-control select-control" name="city" required required-msg="城市必填" v-model="address_id">
                      <option value="">选择市/区域</option>
                      <option v-for="item in child_address" v-bind:value="item.address_id">
                        {[ item.name ]}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group error-div" name="error" data-name="city">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errCity]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
                    <span class="text-warning size-18">*</span>
                    工作职位
                  </label>
                  <div class="col-xs-7">
                    <input type="text" name="title" required required-msg="职位必填" class="form-control" placeholder="" v-model="employment.title">
                  </div>
                </div>
                <div class="form-group error-div" name="error" data-name="title">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errTitle]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
                    <span class="text-warning size-18">*</span>
                    身份角色
                  </label>
                  <div class="col-xs-7">
                    <select name="role" required required-msg="身份角色必选" class="form-control select-control" id="role" v-model="employment.role">
								<option value="" selected>--请选择--</option>
								<option v-for="item in globel._role" v-bind:value="$key">{[ item ]}</option>
							</select>
                  </div>
                </div>

                <div class="form-group error-div" name="error" data-name="role">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errTitle]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
                    <span class="text-warning size-18">*</span>
                    工作时间
                  </label>
                  <div class="col-xs-7">
                    <div class="col-xs-5 clear-both">
                      <select class="form-control select-control" v-yzj-year="1970" v-model="employment_start_year">
								      </select>
                      <select class="form-control select-control yzj-top-distance10" v-yzj-year="1970" v-model="employment_end_year">
								      </select>
                    </div>
                    <div class="col-xs-2 yzj-height30 text-center yzj-top-distance40">至</div>
                    <div class="col-xs-5 clear-both">
                      <select class="form-control select-control" v-yzj-month v-model="employment_start_month"></select>
                      <select class="form-control select-control yzj-top-distance10" v-yzj-month v-model="employment_end_month"></select>
                    </div>

                  </div>
                </div>
                <div class="form-group" v-show="dateErr">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" v-text="dateErr">
										</span>
                  </div>
                </div>
                <div class="">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">&nbsp;
					  	    </label>
                  <div class="col-xs-7">
                    <input type="checkbox" class="bigbox" v-model="employment.working" />
                    <span class="yzj-size-16">仍在该公司工作</span>
                  </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
                    工作描述
                  </label>
                  <div class="col-xs-7">
                    <textarea name="detail" class="form-control" rows="15" v-model="employment.detail"></textarea>
                  </div>
                </div>
                <div class="form-group error-div" name="error" data-name="detail">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errTitle]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group yzj-top-distance50">
                  <div class="col-xs-10 col-xs-offset-1">
                    <div :class="{'col-xs-4': !employment.id, 'col-xs-6': employment.id}">
                      <button type="button" class="btn btn-primary btn-block yzj-right-distance15" v-on:click="save_employment(0)">保存</button>
                    </div>
                    <div class="col-xs-4">
                      <button type="button" v-show="!employment.id" class="btn btn-info btn-block yzj-right-distance15" v-on:click="save_employment(1)">保存并继续</button>
                    </div>
                    <div :class="{'col-xs-4': !employment.id, 'col-xs-6': employment.id}">
                      <button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--添加教育经历-->
      <div class="modal fade bs-example-modal-lg modal02" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="education_close"><span aria-hidden="true" class="yzj-size-30">&times;</span></button>
            </div>
            <div class="modal-body">
              <h3 class="modal-title text-info text-center" id="myModalLabel"><span v-show="!education.id">添加</span><span v-show="education.id">编辑</span>教育经历</h3>
              <form class="form-horizontal yzj-top-distance50" id="education-form">
                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
                    <span class="text-warning size-18">*</span>
                    学校
                  </label>
                  <div class="col-xs-7">
                    <input type="text" name="school" required="" required-msg="学校必填" class="form-control" v-model="education.school" placeholder="学校名称为1~50字符" v-model="school">
                  </div>
                </div>
                <div class="form-group error-div" name="error" data-name="school">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errSchool]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
                    <span class="text-warning size-18">*</span>
                    年份
                  </label>
                  <div class="col-xs-7">
                    <div class="col-xs-3 clear-both">
                      <select class="form-control select-control" v-yzj-year="1980" type="start" required="" required-msg="请选择入学时间和毕业时间" name="datetime" v-model="education_start_year">
                        <template>
                        <option selected value="">入学时间</option>
                        </template>
								      </select>
                    </div>
                    <div class="col-xs-1 clear-both text-center yzj-height50">——</div>
                    <div class="col-xs-3 clear-both">
                      <select class="form-control select-control" v-yzj-year="1980" type="end" required="" required-msg="请选择入学时间和毕业时间" name="datetime" v-model="education_end_year">
                      <template>
                        <option selected value="">毕业时间</option>
                      </template>
								      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group error-div" name="error" data-name="datetime">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errDateEdu]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
      							<span class="text-warning size-18">*</span>
      							学位
      						</label>
                  <div class="col-xs-7">
                    <select class="form-control select-control" name="degree" required="" required-msg="请选择学位" v-model="education.degree">
      								<option value="">--请选择--</option>
      								<option value="senior" >高中</option>
      								<option value="college" >大专</option>
      								<option value="bachelor" >本科</option>
      								<option value="master" >硕士</option>
      								<option value="mba" >MBA</option>
      								<option value="emba" >EMBA</option>
      								<option value="doctor" >博士</option>
      								<option value="others" >其他</option>
      							</select>
                  </div>
                </div>
                <div class="form-group error-div" name="error" data-name="degree">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errDegree]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">专业
						</label>
                  <div class="col-xs-7">
                    <input type="text" name="area" class="form-control" placeholder="请填写自己的专业名称" v-model="education.area">
                  </div>
                </div>
                <div class="form-group error-div" name="error" data-name="area">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errArea]}
                    <span class="errorMsg"></span>
                  </div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">简介
						</label>
                  <div class="col-xs-7">
                    <textarea name="detail" class="form-control" rows="15" v-model="education.detail"></textarea>
                  </div>
                </div>
                <div class="form-group error-div" name="error" data-name="detail">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errDetailEdu]}
                    <span class="errorMsg"></span>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group yzj-top-distance50">
                  <div class="col-xs-10 col-xs-offset-1">
                    <div :class="{'col-xs-4': !education.id, 'col-xs-6': education.id}">
                      <button type="button" class="btn btn-primary btn-block yzj-right-distance15" v-on:click="save_education(0)">保存</button>
                    </div>
                    <div class="col-xs-4" v-show="!education.id">
                      <button type="button" class="btn btn-info btn-block yzj-right-distance15" v-on:click="save_education(1)">保存并继续</button>
                    </div>
                    <div :class="{'col-xs-4': !education.id, 'col-xs-6': education.id}">
                      <button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--添加项目经历-->
      <div class="modal fade bs-example-modal-lg modal03" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="project_close"><span aria-hidden="true" class="yzj-size-30">&times;</span></button>
            </div>
            <div class="modal-body">
              <h3 class="modal-title text-info text-center" id="myModalLabel"><span v-show="!project.id">添加</span><span v-show="project.id">编辑</span>项目经验</h3>
              <form class="form-horizontal yzj-top-distance50" id="project-form">
                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
                    <span class="text-warning size-18">*</span>
                    项目名称
                  </label>
                  <div class="col-xs-7">
                    <input type="text" name="name" required required-msg="项目必填" data-regular="/^(.*){1,50}/" data-msg="项目名称为1-50个字符" class="form-control" placeholder="项目名称为1~50字符" v-model="project.name" maxlength="50" />
                  </div>
                </div>
                <div class="form-group error-div" data-name="name" name="error">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errName]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
							<span class="text-warning size-18">*</span>
							项目类别
						</label>
                  <div class="col-xs-4 clear-right">
                    <select class="form-control select-control" v-on:change="select_child_category" v-model="category_pid">
								<option value="">选择项目分类</option>
								<option v-for="item in category_list_map" v-bind:value="item.category_id">{[ item.name ]}</option>
							</select>
                  </div>
                  <div class="col-xs-3">
                    <select class="form-control select-control" name="category" required required-msg="项目分类必选" v-model="project.category_id">
								<option value="">选择项目分类</option>
								<option v-for="item in child_category"
									 v-bind:value="item.category_id">{[ item.name ]}</option>
							</select>
                  </div>
                </div>

                <div class="form-group error-div" data-name="category" name="error">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errName]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">
							<span class="text-warning size-18">*</span>
							项目简介
						</label>
                  <div class="col-xs-7">
                    <textarea name="detail" required required-msg="项目简介必填" class="form-control" rows="10" v-model="project.detail"></textarea>
                  </div>
                </div>

                <div class="form-group error-div" data-name="detail" name="error">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errName]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">完成时间
						</label>
                  <div class="col-xs-4 clear-right">
                    <select class="form-control select-control" v-yzj-year="1970" v-model="project_year"></select>
                  </div>
                  <div class="col-xs-3">
                    <select class="form-control select-control" name="finish_time" required required-msg="完成时间必选" v-yzj-month v-model="project_month"></select>
                  </div>
                </div>

                <div class="form-group error-div" data-name="finish_time" name="error">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errName]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">项目链接
						</label>
                  <div class="col-xs-7">
                    <input type="text" name="link" data-regular="/^(http|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?/" data-msg="请填写正确的http或https地址格式" class="form-control" placeholder="请填写正确的地址格式" v-model="project.link">
                  </div>
                </div>
                <div class="form-group error-div" data-name="link" name="error">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errName]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16">项目图片
						</label>
                  <div class="col-xs-2">
                    <input type="hidden" name="picture" v-model="picture.path">
                    <img v-bind:src="picture.path" width="100" height="100" />
                  </div>
                  <div class="col-xs-5 clear-left">
                    <p class="yzj-size-12 text-primary yzj-top-distance10">支持JPG,JPEG,GIF,PNG,BMP格式，且不超过
                      <span class="text-warning">5M</span>
                    </p>
                    <div class="inputfileload pull-left yzj-top-distance15">
                      <div class="uploadphoto">上传文件</div>
                      <input type="file" class="inputfile" v-on:change="picture_upload($event)" id="picture" name="photo">
                    </div>
                  </div>
                </div>
                <div class="form-group error-div" data-name="picture" name="error">
                  <div class="col-xs-offset-3 col-xs-9 text-warning yzj-size-14">
                    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errName]}
                    <span class="errorMsg"></span>
                  </div>
                </div>

                <div class="form-group yzj-top-distance50">
                  <div class="col-xs-10 col-xs-offset-1">
                    <div :class="{'col-xs-4': !project.id, 'col-xs-6': project.id}">
                      <button type="button" class="btn btn-primary btn-block yzj-right-distance15" v-on:click="save_project()">保存</button>
                    </div>
                    <div class="col-xs-4" v-show="!project.id">
                      <button type="button" class="btn btn-info btn-block yzj-right-distance15" v-on:click="save_project(1)">保存并继续</button>
                    </div>
                    <div :class="{'col-xs-4': !project.id, 'col-xs-6': project.id}">
                      <button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--错误框开始-->
      <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-warning" role="document">
          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <h4 class="modal-title text-center text-danger" id="myModalLabel"><strong>{[errRes]}</strong></h4>
            </div>
            <div class="modal-footer text-center">
              <button type="button" class="btn btn-danger btn-sm" v-on:click="do_del_item(item,index,type)">确定</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="lackprofile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-warning" role="document">
          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <h4 class="modal-title text-center text-danger" id="myModalLabel"><strong>资料还有未完善的项</strong></h4>
            </div>
            <div class="modal-footer text-center">
              <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm">取消</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/vue-directive.js"></script>
  <script src="/static/common/js/module/resume.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/frontend/profile-work-edu.js"></script>
  <script src="/static/js/notice.js"></script>
</body>

</html>