<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>完善我的个人资料</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectize.css">
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.Jcrop.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
        {% include "header-my.html" %}
      </nav>
    </header>

    <div id="body" class="container yzj-top-distance50">
      <div class="col-xs-offset-1 col-xs-10 clear-both">
        <h3 class="text-muted text-center">创建您的个人资料</h3>
        <h5 class="text-center yzj-top-distance15">
        打动潜在客户，开启你自由职业人的第一份工作，这就像一个人的简历、名片和营销手册，所有合而为一，只为最好的你。
      </h5>
        <div class="yzj-top-distance50">
          <div class="col-xs-1 clear-both text-center">
            <img src="/static/images/edit-profile-icon01.png" />
            <h5 class="yzj-top-distance10">自我介绍</h5>
          </div>
          <div class="col-xs-4">
            <div class="edit-profile-line"></div>
          </div>
          <div class="col-xs-1 clear-both text-center">
            <img src="/static/images/edit-profile-icon02.png" />
            <h5 class="yzj-top-distance10">经历/教育</h5>
          </div>
          <div class="col-xs-4">
            <div class="edit-profile-line"></div>
          </div>
          <div class="col-xs-1 clear-both text-center">
            <img src="/static/images/edit-profile-icon03.png" />
            <h5 class="yzj-top-distance10">最后的细节</h5>
          </div>
        </div>
        <div class="clearfix"></div>
        <!--经验水平-->
        <div class="yzj-top-distance50">
          <h4 class="text-muted"><strong>介绍你自己</strong></h4>
          <div class="line"></div>
          <form class="form-horizontal col-xs-10" id="form-profile">
            <div class="form-group">
              <label class="control-label col-xs-2 yzj-size-16 clear-left text-left text-info">
       <span class="text-warning yzj-size-18"></span>
       头像</label>
              <div class="col-xs-1 clear-both">
                <img v-bind:src="profile.avatar" src="/static/images/default-img.png" width="64" height="64" id="photo_view" />
              </div>
              <div class="col-xs-5 yzj-size-14 text-left text-info">
                <p class="yzj-size-12 text-primary yzj-top-distance10">支持JPG,JPEG,GIF,PNG,BMP格式，且不超过
                  <span class="text-warning">5M</span>
                </p>
                <p class="inputfileload yzj-bac-fff text-center yzj-top-distance10 text-primary" data-toggle="modal" data-target="#editavatar">
                  上传文件
                </p>

              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2 yzj-size-16 clear-left text-left text-info">
      <span class="text-warning yzj-size-18">*</span>
     职位</label>
              <div class="col-xs-6 clear-left">
                <input type="text" name="title" data-regular="/^.{2,20}$/" data-msg="职位为2--20个字符" required required-msg="职位必填" class="form-control" v-model="profile.title" />
              </div>
            </div>

            <div class="form-group error-div" name="error" data-name="title">
              <div class="col-xs-offset-2 col-xs-10 clear-left text-warning yzj-size-14">
                <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                <span class="errorMsg"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-2 yzj-size-16 clear-left text-left text-info">
    <span class="text-warning yzj-size-18">*</span>
   个人简介</label>
              <div class="col-xs-6 clear-left">
                <textarea class="form-control" name="intro" data-regular="/^.{10,200}$/" data-msg="个人简介为10--200个字符" required required-msg="个人简介必填" rows="5" placeholder="请输入个人简介" v-model="profile.overview"></textarea>
              </div>
            </div>
            <div class="form-group error-div" name="error" data-name="intro">
              <div class="col-xs-offset-2 col-xs-10 clear-left text-warning yzj-size-14">
                <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                <span class="errorMsg"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-2 yzj-size-16 clear-left text-left text-info">
    <span class="text-warning yzj-size-18">*</span>
 邮箱地址</label>
              <div class="col-xs-6 clear-left">
                <input type="text" name="email" data-regular="/^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/" data-msg="邮箱格式不正确" required required-msg="邮箱必填" class="form-control" v-model="profile.email" />
              </div>
            </div>
            <div class="form-group error-div" name="error" data-name="email">
              <div class="col-xs-offset-2 col-xs-10 clear-left text-warning yzj-size-14">
                <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                <span class="errorMsg"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-2 yzj-size-16 clear-left text-left text-info">
  <span class="text-warning yzj-size-18">*</span>
 擅长技能</label>
              <div class="col-xs-6 clear-left">
                <input type="text" name="skills" required required-msg="技能必选" v-model="profile.skills" id="select-skills" />
                <input class="selectize-dropdown multi plugin-remove_button" type="hidden" id="ipt-skills" value="{{skills}}" />
              </div>
            </div>
            <div class="form-group error-div" name="error" data-name="skills">
              <div class="col-xs-offset-2 col-xs-10 clear-left text-warning yzj-size-14">
                <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                <span class="errorMsg"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-2 yzj-size-16 clear-left text-left text-info">
  <span class="text-warning yzj-size-18">*</span>
 英语水平</label>
              <div class="col-xs-6 clear-left">
                <select v-model="profile.english" name="english_level" required required-msg="英语水平必选" class="form-control select-control">
    	<option value="" selected>--请选择--</option>
		 <option v-for="option in globel._lang_level" v-bind:value="$key ">
	     {[ option ]}
	   </option>
  </select>
              </div>
            </div>
            <div class="form-group error-div" name="error" data-name="english_level">
              <div class="col-xs-offset-2 col-xs-10 clear-left text-warning yzj-size-14">
                <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                <span class="errorMsg"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-xs-2 yzj-size-16 clear-left text-left text-info">
 其他语言</label>
              <div class="col-xs-6 clear-left">
                <div v-for="item in other_languages">
                  <p class="yzj-size-14 pull-left yzj-height40">
                    {[ globel[item.name] ]}：<span class="text-warning">{[ globel._lang_level[item.level] ]}</span>
                  </p>
                  <p class="pull-right yzj-height40">
                    <img class="yzj-right-distance10" src="/static/images/edit-btn-icon.png" v-on:click="edit_other_languages(item)" />
                    <img src="/static/images/del-btn-icon.png" data-toggle="modal" data-target="#del-modal" v-on:click="del_index=$index" />
                  </p>
                  <div class="clearfix"></div>
                  <div class="line04"></div>
                </div>
                <a href="javascript:;" class="text-warning  yzj-height50  yzj-size-14" data-toggle="modal" data-target=".addlanguage">
                  <img src="/static/images/add-icon.png" width="20" height="20" class="yzj-right-distance10" />添加语言
                </a>
              </div>
            </div>

            <div class="clearfix"></div>
            <div class="form-group">
              <label class="control-label col-xs-2 yzj-size-16 clear-left text-left text-info">
  <span class="text-warning yzj-size-18">*</span>
 工作时长</label>
              <div class="col-xs-6 clear-left">
                <select name="workload" required required-msg="工作时长必选" v-model="profile.workload" class="form-control select-control" id="workload">
    <option value="">选择你可在云沃客上工作的时长</option>
		<option v-for="option in globel._workload" v-bind:value="$key">
				{[ option ]}
		</option>
  </select>
              </div>
            </div>
            <div class="col-xs-offset-2 col-xs-10 clear-left text-warning yzj-size-14">
              <div class="form-group error-div" name="error" data-name="workload">
                <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                <span class="errorMsg"></span>
              </div>
            </div>
          </form>
        </div>
        <div class="clearfix"></div>
        <div class="yzj-top-distance50">
          <button type="button" class="btn btn-primary btn-lg yzj-right-distance15" v-on:click="save_go_on">保存并继续</button>
          <button type="button" class="btn btn-default btn-lg yzj-right-distance15" v-on:click="prev_category">后退</button>
        </div>
      </div>

      <!--添加语言-->
      <div class="modal fade bs-example-modal-lg addlanguage" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="yzj-size-30">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" id="modal-lang">
                <div class="form-group">
                  <label for="" class="col-xs-offset-1 col-xs-2 control-label yzj-size-16 text-info">输入语言名称</label>
                  <div class="col-xs-7">
                    <select class="form-control select-control" id="language" v-model="other_language">
          <option selected value="">请选择语言</option>
          {% for x in languages %}
            <option value="{{ x }}">{{ _(x, lang) }}</option>
          {% endfor %}
        </select>
                  </div>
                </div>
                <div class="col-xs-offset-1 col-xs-2 yzj-size-16 text-right">
                  <h4 class="yzj-top-distance40 text-info">
      <strong>选择水平</strong>
    </h4>
                </div>
                <div class="clearfix"></div>
                <div class="yzj-top-distance40">
                  <div class="col-xs-2 clear-both text-right">
                    <input type="radio" name="language_level" v-model="language_level" class="language" value="1" data="{{_('basic', lang)}}" />
                  </div>
                  <div class="col-xs-8">
                    <p class="yzj-size-16 text-muted">{{_("basic", lang)}}</p>
                    <p class="yzj-size-14 text-primary yzj-top-distance10">只能通过书写简单沟通</p>
                  </div>
                  <div class="clearfix"></div>
                  <div class="yzj-top-distance30">
                    <div class="col-xs-2 clear-both text-right">
                      <input type="radio" name="language_level" v-model="language_level" class="language" value="2" data="{{_('conversational', lang)}}" />
                    </div>
                    <div class="col-xs-8">
                      <p class="yzj-size-16 text-muted">{{_("conversational", lang)}}</p>
                      <p class="yzj-size-14 text-primary yzj-top-distance10">可以和雇主针对于项目进行沟通交谈</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="yzj-top-distance30">
                    <div class="col-xs-2 clear-both text-right">
                      <input type="radio" name="language_level" v-model="language_level" class="language" value="3" data="{{_('fluent', lang)}}" />
                    </div>
                    <div class="col-xs-8">
                      <p class="yzj-size-16 text-muted">{{_("fluent", lang)}}</p>
                      <p class="yzj-size-14 text-primary yzj-top-distance10">可以完美掌握这门语言完成指令</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="yzj-top-distance30">
                    <div class="col-xs-2 clear-both text-right">
                      <input type="radio" name="language_level" v-model="language_level" class="language" value="4" data="{{_('native_or_Bilingual', lang)}}" />
                    </div>
                    <div class="col-xs-8">
                      <p class="yzj-size-16 text-muted">{{_("native_or_Bilingual", lang)}}</p>
                      <p class="yzj-size-14 text-primary yzj-top-distance10">可以使用这门语言完成指令，包括各种词汇，成语，口语</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="yzj-top-distance70">
                  <div class="col-xs-10 col-xs-offset-1">
                    <div class="col-xs-4">
                      <button type="button" class="btn btn-primary btn-block yzj-right-distance15" v-on:click="save_language(0)">{{_("Save", lang)}}</button>
                    </div>
                    <div class="col-xs-4">
                      <button type="button" class="btn btn-info btn-block yzj-right-distance15" v-on:click="save_language(1)">{{_("Save_go_on", lang)}}</button>
                    </div>
                    <div class="col-xs-4">
                      <button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="yzj-top-distance70"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="editavatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="yzj-size-30">&times;</span></button>
            </div>
            <div class="clearfix"></div>
            <div class="modal-body">
              <div class="col-xs-12">
                <div class="yzj-box">
                  <div class="col-xs-6 clear-left">
                    <!--上传框-->
                    <div class="inputfileload pull-left yzj-right-distance15">
                      <div class="uploadphoto">上传文件</div>
                      <input type="file" class="inputfile" id="photo" name="photo" accept="image/*" />
                    </div>
                    <div class="fileloadtext pull-left yzj-right-distance45 hide">文件名称</div>
                    <div class="fileloadtext pull-left">现在未选择任何文件</div>
                    <div class="clearfix"></div>
                    <p class="yzj-top-distance20">
                      <img src="/static/images/edit-img.png" id="sourceImg" alt="upload avatar" />
                    </p>
                  </div>

                  <!--右侧-->
                  <div class="col-xs-6 text-center">
                    <h4 class="text-muted"><strong>您的头像预览</strong></h4>
                    <div class="yzj-top-distance20">
                      <div id="preview-pane">
                        <div class="preview-container img-circle">
                          <img src="/static/images/edit-img.png" class="jcrop-preview" alt="Preview" id="cutImg" />
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div style="height:200px"></div>
                    <div class="yzj-top-distance50">
                      <div class="col-xs-6 clear-left">
                        <button class="btn btn-block btn-primary" type="button" v-on:click="upload_avatar">保存头像</button>
                      </div>
                      <div class="col-xs-6 clear-left">
                        <button class="btn btn-block btn-default" id="btn-closeM" data-dismiss="modal">取消</button>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="del-modal" role="dialog">
        <div class="modal-dialog modal-warning" role="document">
          <div class="modal-content confirm-content">
            <div class="modal-header confirm-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">删除语言</h4>
            </div>
            <div class="modal-body confirm-body">
              <h4 class="modal-title">确定删除这门语言么?
        </h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" @click="delete_other_languages(del_index)">确定</button>
              <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}



  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/selectize.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/jquery.Jcrop.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/vue-directive.js"></script>
  <script src="/static/common/js/module/profile.js"></script>
  <script src="/static/common/js/module/other_language.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/frontend/profile-create.js"></script>
  <script src="/static/js/notice.js"></script>
</body>

</html>