<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>个人资料</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>

  <!--头部-->
  <header class="header-navbar">
    <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
      {% include "header-my.html" %}
    </nav>
  </header>
  <div id="layout">
    <div class="container yzj-top-distance50">
      <h4 class="text-muted"><strong>请选择一个项目分类</strong></h4>
      <form class="form-horizontal">
        <div class="form-group yzj-top-distance20">
          <div class="col-xs-3">
            <select class="form-control select-control" v-model="" id="list1">
         <option value="0">初中</option>
         <option value="1">高中</option>
         <option value="2">中技</option>
         <option value="3">中专</option>
         <option value="4">大专</option>
         <option value="5">本科</option>
         <option value="0">初中</option>
         <option value="1">高中</option>
         <option value="2">中技</option>
         <option value="3">中专</option>
         <option value="4">大专</option>
         <option value="5">本科</option>
       </select>
          </div>
          <div class="col-xs-3 clear-left">
            <select class="form-control select-control" v-model="" id="list2">
         <option value="0">初中</option>
         <option value="1">高中</option>
         <option value="2">中技</option>
         <option value="3">中专</option>
         <option value="4">大专</option>
         <option value="5">本科</option>
         <option value="0">初中</option>
         <option value="1">高中</option>
         <option value="2">中技</option>
         <option value="3">中专</option>
         <option value="4">大专</option>
         <option value="5">本科</option>
       </select>
          </div>
        </div>
        <div class="yzj-top-distance30 yzj-box">
          <h4 class="text-muted"><strong>项目描述</strong></h4>
          <p class="yzj-top-distance40 yzj-size-16 text-info">* 简单描术一下您的项目名称</p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-9">
              <input type="text" class="form-control" placeholder="" v-model="">
            </div>
          </div>
          <p class="yzj-top-distance40 yzj-size-16 text-info col-xs-9 clear-both">
            <span class="pull-left">* 说说您的详细要求</span>
            <span class="col-xs-2 pull-right text-right text-primary">
        0/3000
      </span>
          </p>
          <div class="clearfix"></div>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-9">
              <textarea class="form-control" rows="10" v-model=""></textarea>
            </div>
            <div class="col-xs-1 clear-left">
              <button class="btn btn-xs btn-default btn-example">示例</button>
            </div>
          </div>


          <p class="yzj-size-16 text-warning" role="tab" id="headingOne">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed text-warning">
              <img src="/static/images/panel-title-icon02.png" class="yzj-right-distance10">上传我的附加文档
              <span class="yzj-size-12 text-info">(可选)</span>
            </a>
          </p>
          <div id="collapseOne" class="panel-collapse collapse yzj-top-distance15" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
            <div class="inputfileload pull-left yzj-right-distance15">
              <div class="uploadphoto">上传文件</div>
              <input type="file" class="inputfile" />
            </div>
            <div class="fileloadtext pull-left yzj-right-distance45 hide">文件名称</div>
            <div class="fileloadtext pull-left">文件大小不得超过5MB</div>
          </div>
          <div class="clearfix"></div>
          <hr/>
          <p class="yzj-top-distance30 yzj-size-16 text-info">* 你是否有正在进行的项目或工作</p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-12 yzj-size-14">
              <input type="radio" name="works" checked>一次性项目<br/>
              <p class="yzj-top-distance20"> <input type="radio" name="works">正在进行的工作</p>
              <p class="yzj-top-distance20"> <input type="radio" name="works">我不确定</p>
            </div>
          </div>

          <p class="yzj-top-distance30 yzj-size-16 text-info">* 以下哪个选项可以最好的描述你的工作</p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-12 yzj-size-14">
              <input type="radio" name="mostdetail" checked>安装/集成软件<br/>
              <p class="yzj-top-distance20"> <input type="radio" name="mostdetail">创建浏览器扩展</p>
              <p class="yzj-top-distance20"> <input type="radio" name="mostdetail">其他</p>
            </div>
          </div>

          <p class="yzj-top-distance30 yzj-size-16 text-info">* 一个自由职业者应该什么样的工作？</p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-12 yzj-size-14">
              <input type="checkbox" name="mostdetail" class="bigbox">设计<br/>
              <p class="yzj-top-distance20"> <input type="checkbox" name="mostdetail" class="bigbox">开发</p>
              <p class="yzj-top-distance20"> <input type="checkbox" name="mostdetail" class="bigbox">项目管理</p>
              <p class="yzj-top-distance20"> <input type="checkbox" name="mostdetail" class="bigbox">QA</p>
              <p class="yzj-top-distance20"> <input type="checkbox" name="mostdetail" class="bigbox">其他</p>
            </div>
          </div>


          <p class="yzj-top-distance30 yzj-size-16 text-info">* 这个过程要在哪些平台应用</p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-12">
              <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20">
                <img src="/static/images/send-icon016.png">
                <p class="yzj-top-distance20 yzj-size-16 text-info">Android</p>
              </div>
              <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20">
                <img src="/static/images/send-icon017.png">
                <p class="yzj-top-distance20 yzj-size-16 text-info">IOS</p>
              </div>
              <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20">
                <img src="/static/images/send-icon018.png">
                <p class="yzj-top-distance20 yzj-size-16 text-info">WinPhone</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>


          <p class="yzj-top-distance30 yzj-size-16 text-info">* 您想为这份工作雇佣多少开发者?</p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-12 yzj-size-14">
              <input type="radio" name="mostdetail" checked>一个就够了<br/>
              <p class="yzj-top-distance20"> <input type="radio" name="mostdetail">需要两个以上</p>
              <p class="yzj-top-distance20">
                <input type="radio" name="mostdetail" class=" pull-left">
                <span class="pull-left">需要两个以上</span>
                <span class="col-xs-2 clear-both pull-left">
          <input type="text" class="form-control project-text" placeholder="请输入您需要的人数"/>
        </span>
                <span class="col-xs-1" style="padding-left:35px;">人</span>
              </p>
            </div>
          </div>

          <p class="yzj-top-distance30 yzj-size-16 text-info">* 项目现在处于什么阶段(帮助我们提供给您更合适的候选人)</p>
          <div class="yzj-top-distance15">
            <table class="table-fix-width">
              <tr>
                <td>
                  <img src="/static/images/send-icon019.png" class="yzj-top-distance30">
                  <p class="yzj-top-distance20 yzj-size-16 text-info">我有设计</p>
                </td>
                <td class="active">
                  <img src="/static/images/send-icon020.png" class="yzj-top-distance30">
                  <p class="yzj-top-distance20 yzj-size-16 text-info">我有说明书</p>
                </td>
                <td>
                  <img src="/static/images/send-icon021.png" class="yzj-top-distance30">
                  <p class="yzj-top-distance20 yzj-size-16 text-info">这并不适用</p>
                </td>
                <td>
                  <img src="/static/images/send-icon022.png" class="yzj-top-distance30">
                  <p class="yzj-top-distance20 yzj-size-16 text-info">我有一个想法</p>
                </td>
              </tr>
            </table>
            <div class="clearfix"></div>
          </div>

          <p class="yzj-size-16 yzj-top-distance30 text-info">对于一个自由职业者来说最重要的两门语言是什么？
            <span class="yzj-size-14 text-primary">(可选)</span>
          </p>
          <div class="form-group yzj-top-distance15 table-fix-width">
            <div class="col-xs-7">
              <select class="form-control select-control" v-model="" id="language02">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
            </div>
            <div class="clearfix"></div>
          </div>

          <p class="yzj-size-16 yzj-top-distance30 text-info">你更喜欢用哪个软件框架？
            <span class="yzj-size-14 text-primary">(可选)</span>
          </p>
          <div class="form-group yzj-top-distance15 table-fix-width">
            <div class="col-xs-7">
              <select class="form-control select-control" v-model="" id="frame">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
            </div>
            <div class="clearfix"></div>
          </div>

          <p class="yzj-size-16 yzj-top-distance30 text-info">一个自由职业者应该还具备什么其他能力？
            <span class="yzj-size-14 text-primary">(可选)</span>
          </p>
          <div class="form-group yzj-top-distance15 table-fix-width">
            <div class="col-xs-7">
              <select class="form-control select-control" v-model="" id="other">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
            </div>
            <div class="clearfix"></div>
          </div>

          <p class="yzj-size-16 yzj-top-distance30 text-info">* 你需要集成什么API吗？
            <span class="yzj-size-14 text-primary">(可选)</span>
          </p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-12">
              <table class="table-fix-width">
                <tr>
                  <td>
                    <img src="/static/images/send-icon014.png" class="yzj-top-distance30">
                    <p class="yzj-top-distance20 text-info yzj-size-16">是</p>
                  </td>
                  <td>
                    <img src="/static/images/send-icon015.png" class="yzj-top-distance30">
                    <p class="yzj-top-distance20 text-info yzj-size-16">否</p>
                  </td>
                </tr>
              </table>
            </div>
            <div class="clearfix"></div>
          </div>

          <p class="yzj-size-16 yzj-top-distance30 text-info">* 选择一种付款方式</p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-12">
              <table class="table-fix-width">
                <tr>
                  <td class="active">
                    <img src="/static/images/send-icon01.png" class="yzj-top-distance30">
                    <p class="yzj-top-distance20 text-info yzj-size-16">按小时付费</p>
                  </td>
                  <td>
                    <img src="/static/images/send-icon02.png" class="yzj-top-distance30">
                    <p class="yzj-top-distance20 text-info yzj-size-16">按固定价格付费</p>
                  </td>
                </tr>
              </table>
            </div>
            <div class="clearfix"></div>
          </div>

          <p class="yzj-size-16 yzj-top-distance30 text-info">* 开发者需要的经验水平</p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-12">
              <table class="table-fix-width">
                <tr>
                  <td class="active">
                    <img src="/static/images/send-icon03.png" class="yzj-top-distance30">
                    <p class="yzj-top-distance20 text-info yzj-size-16">入门级</p>
                    <p class="yzj-top-distance20 text-info yzj-size-12">
                      <100元 / 小时</p>
                        <p class="yzj-top-distance20 text-primary yzj-size-12">我愿意接受一个经验较少价格较<br/>低的开发者</p>
                  </td>
                  <td>
                    <img src="/static/images/send-icon04.png" class="yzj-top-distance30">
                    <p class="yzj-top-distance20 text-info yzj-size-16">中间级</p>
                    <p class="yzj-top-distance20 text-info yzj-size-12">100元-300元/小时</p>
                    <p class="yzj-top-distance20 text-primary yzj-size-12">需要寻找一个比较有经验的自由<br/>职业者</p>
                  </td>
                  <td>
                    <img src="/static/images/send-icon05.png" class="yzj-top-distance30">
                    <p class="yzj-top-distance20 text-info yzj-size-16">专业级</p>
                    <p class="yzj-top-distance20 text-info yzj-size-12">>300元/小时</p>
                    <p class="yzj-top-distance20 text-primary yzj-size-12">我愿意支付更高的费用给与经验<br/>丰富的人</p>
                  </td>
                </tr>
              </table>
            </div>
            <div class="clearfix"></div>
          </div>

          <p class="yzj-size-16 yzj-top-distance30 text-info">* 你预期这个工作什么时候结束</p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-12">
              <table class="table table-bordered table-fix-width">
                <tbody>
                  <tr>
                    <td>
                      <img src="/static/images/send-icon06.png" class="yzj-top-distance30">
                      <p class="yzj-top-distance20 text-info yzj-size-16">大于6个月</p>
                    </td>
                    <td>
                      <img src="/static/images/send-icon07.png" class="yzj-top-distance30">
                      <p class="yzj-top-distance20 text-info yzj-size-16">3至6个月</p>
                    </td>
                    <td>
                      <img src="/static/images/send-icon08.png" class="yzj-top-distance30">
                      <p class="yzj-top-distance20 text-info yzj-size-16">1至3个月</p>
                    </td>
                    <td>
                      <img src="/static/images/send-icon09.png" class="yzj-top-distance30">
                      <p class="yzj-top-distance20 text-info yzj-size-16">不到1个月</p>
                    </td>
                    <td>
                      <img src="/static/images/send-icon010.png" class="yzj-top-distance30">
                      <p class="yzj-top-distance20 text-info yzj-size-16">小于1个周</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="clearfix"></div>
          </div>

          <p class="yzj-size-16 yzj-top-distance30 text-info">* 承诺必须在这个工作上投入多少时间</p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-12">
              <table class="table-fix-width">
                <tr>
                  <td class="active">
                    <img src="/static/images/send-icon013.png" class="yzj-top-distance30">
                    <p class="yzj-top-distance20 text-info yzj-size-16">超过30小时/周</p>
                  </td>
                  <td>
                    <img src="/static/images/send-icon011.png" class="yzj-top-distance30">
                    <p class="yzj-top-distance20 text-info yzj-size-16">小于30小时/周</p>
                  </td>
                  <td>
                    <img src="/static/images/send-icon012.png" class="yzj-top-distance30">
                    <p class="yzj-top-distance20 text-info yzj-size-16">我不知道</p>
                  </td>
                </tr>
              </table>
            </div>
            <div class="clearfix"></div>
          </div>
          <p class="yzj-size-16 yzj-top-distance30 text-info">* 预算</p>
          <div class="form-group yzj-top-distance15">
            <div class="col-xs-3">
              <input type="text" class="form-control" placeholder="请输入大于1的整数" />
            </div>
            <label class="control-label yzj-size-16">元</label>
          </div>
        </div>
        <div class="yzj-box-special">
          <button type="button" class="btn btn-primary btn-lg yzj-right-distance15">发布项目</button>
          <button type="button" class="btn btn-default btn-lg yzj-right-distance45">保存草稿</button>
          <a class="yzj-size-16" href="#">预览</a>
        </div>
      </form>
    </div>
  </div>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/selectlist.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/notice.js"></script>
  <script type="text/javascript">
    $(function() {
      $('select').selectlist({
        zIndex: 10,
      });
    })
  </script>
</body>

</html>