<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>个人资料</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
      </nav>
    </header>
    <div id="layout">
    <div class="container">
      <div class="alert alert-success yzj-top-distance5">
        <span class="yzj-right-distance15">你已经被雇佣</span> 
        <a href="#" class="text-warning">查看合同</a>
      </div>
    </div>

    <div class="container yzj-top-distance30">
      <!--左侧-->
      <div class="col-xs-9 clear-both">
        <div class="yzj-box">
          <h3 class="text-muted">系列工作任务之一 , Web高手速度来抢单</h3>
          <div class="yzj-top-distance20">
            <div class="col-xs-2 clear-left">
              <span class="yzj-right-distance10">
                <img src="/static/images/pro-detail-icon01.png">
              </span>
              <a href="#" class="yzj-size-14 text-info">编辑项目</a>
            </div>
            <div class="col-xs-2 clear-left">
              <span class="yzj-right-distance10">
                <img src="/static/images/pro-detail-icon02.png">
              </span>
              <a href="#" class="yzj-size-14 text-info">关闭项目</a>
            </div>
            <div class="col-xs-2 clear-left">
              <span class="yzj-right-distance10">
                <img src="/static/images/pro-detail-icon03.png">
              </span>
              <a href="#" class="yzj-size-14 text-info">再次发布</a>
            </div>
            <div class="col-xs-2 clear-left">
              <span class="yzj-right-distance10">
                <img src="/static/images/pro-detail-icon04.png">
              </span>
              <a href="#" class="yzj-size-14 text-info">转为私有状态</a>
            </div>
            <div class="col-xs-2 clear-left">
              <span class="yzj-right-distance10">
                <img src="/static/images/pro-detail-icon05.png">
              </span>
              <a href="#" class="yzj-size-14 text-info">查看申请人</a>
            </div>
            <div class="col-xs-2 clear-left">
              <span class="yzj-right-distance10">
                <img src="/static/images/pro-detail-icon05.png">
              </span>
              <a href="#" class="yzj-size-14 text-info">查看已雇佣人</a>
            </div>
          </div>
          <div class="clearfix"></div>
          <p class="yzj-top-distance30 yzj-height30">
            <span class="label label-default label-pro-detail">其他设计创意</span>
            发布于8小时前
          </p>
          <div class="yzj-top-distance30">
            <div class="col-xs-4 clear-left">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object" src="/static/images/pro-detail-icon06.png">
                  </div>
                  <div class="media-body yzj-height20">
                  <p class="yzj-size-18 text-info">固定价格</p>
                  <p class="yzj-top-distance10">交付时间2016年3月5日</p>
                  </div>
              </div>
            </div>
            <div class="col-xs-4 clear-left">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object" src="/static/images/pro-detail-icon02.png">
                  </div>
                  <div class="media-body yzj-height20">
                  <p class="yzj-size-18 text-info">中间级</p>
                  <p class="yzj-top-distance10">
                  我想找一个经验和能力比较出众的人</p>
                  </div>
              </div>
            </div>
            <div class="col-xs-4 clear-left">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object" src="/static/images/pro-detail-icon03.png">
                  </div>
                  <div class="media-body yzj-height20">
                  <p class="yzj-size-18 text-info">预算</p>
                  <p class="yzj-top-distance10">500元</p>
                  </div>
              </div>
            </div>
        <div class="clearfix"></div>
        <div class="yzj-top-distance30">
          <p class="yzj-size-16 text-info">工作描述</p>
          <p class="yzj-top-distance20 yzj-height30">
            我们是一家电影制作公司，致力于在该市的一个短片项目，我们在寻找一个生产经理。要求有积分卡了几克拉结果看国际几节课了金坷垃附件良好协调能力和时
理能力。最好是知道如何处理金钱 .您好，我们是一家电影制作公司，致力于在该市的一个短片项目，我们在寻找一个生产经理。要求有积分卡了几克拉结果看
节课了金坷垃附件良好协调能力和时间管的理能力。最好是知道如何处理金钱 .
我们在寻找一个生产经理。要求有积分卡了几克拉结果看国际几节课了金坷垃附件良好协调能力和时间管的理能力。最好是知道如何处理金钱 .我们在寻找一个
理。要求有积分卡了几克拉结果
          </p>
          <p class="line"></p>
          <p class="yzj-size-16 text-info">需要方最近的活动</p>
          <p class="yzj-top-distance20 yzj-height30">
          <p class="yzj-top-distance20 yzj-size-14">最后查看：3天前</p>
          <p class="yzj-top-distance15 yzj-size-14">报名人数：0</p>
          <p class="yzj-top-distance15 yzj-size-14">面试：0</p>
          </p>
        </div>
      </div>
      </div>
      <div class="yzj-box yzj-top-distance30 yzj-size-14">
        <div role="tab" id="headingOne" class="yzj-size-16 col-xs-10 clear-both">
        <span class="pull-left">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed text-warning">
              申请人
            </a>
        </span>
        <span class="pull-right yzj-size-14">
          招标范围：高达11美元 | 平均10.5美元 | 最低10美元
        </span>
        </div>
        <div class="clearfix"></div>
        <div id="collapseOne" class="panel-collapse collapse yzj-top-distance40" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
          <div class="yzj-size-16">
          <p>
          <span class="col-xs-4">申请人</span>
          <span class="col-xs-4">申请时间</span>
          <span class="col-xs-4 text-center">申请人角色</span>
          <span class="clearfix"></span>
          </p>
          <p class="line"></p>
          <p>
            <span class="col-xs-4"><a href="#" class="text-warning">哇大虎</a></span>
          <span class="col-xs-4">一天前</span>
          <span class="col-xs-4 text-center">服务方</span>
          <span class="clearfix"></span>
          </p>
          <p class="line"></p>
          <p>
            <span class="col-xs-4"><a href="#" class="text-warning">哇大虎</a></span>
          <span class="col-xs-4">一天前</span>
          <span class="col-xs-4 text-center">服务方</span>
          <span class="clearfix"></span>
          </p>

          </div>
        </div>
      </div>
      <div class="yzj-box yzj-top-distance30 yzj-size-14">
        <p class="yzj-size-16 text-info">该需求方开放的其他工作（1）</p>
        <div class="col-xs-10 clear-both">
        <div class="yzj-top-distance15">
          <p class="pull-left"><a href="#" class="text-warning">项目APP开发</a></p>
          <p class="pull-right">固定价格</p>
          <div class="clearfix"></div>
        </div>
        <div class="yzj-top-distance15">
          <p class="pull-left"><a href="#" class="text-warning">项目APP开发</a></p>
          <p class="pull-right">固定价格</p>
          <div class="clearfix"></div>
        </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!--右侧-->
    <div class="col-xs-3 clear-right">
      <div class="line yzj-top-distance0"></div>
      <p class="text-muted yzj-size-16">中国</p>
      <p class="yzj-top-distance15 yzj-size-14">北京05:36PM</p> 

      <p class="text-muted yzj-top-distance30 yzj-size-16">2个工作的机会</p>
      <p class="yzj-top-distance15 yzj-size-14">0%出租率，2开的工作</p> 

      <p class="text-muted yzj-top-distance30 yzj-size-16">总支付0美元</p>
      <p class="yzj-top-distance15 yzj-size-14">1个已雇佣 1个活跃的职位</p> 

      <p class="yzj-top-distance30">
      <span class="yzj-right-distance10">
        <img src="/static/images/big-star-icon-color.png"/>
        <img src="/static/images/big-star-icon-color.png"/>
        <img src="/static/images/big-star-icon-color.png"/>
        <img src="/static/images/big-star-icon-color.png"/>
        <img src="/static/images/big-star-icon-color.png"/>
      </span>
      <span class="yzj-size-14">（0.00）0条评论</span>
      </p>
      <p class="yzj-top-distance30 yzj-size-14">
        注册时间：2014-03-04
      </p>
    </div>
  </div>
  </div>

    {% include "footer.html" %}
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/common/js/vue-directive.js"></script>
    <script src="/static/js/frontend/project-need-details.js"></script>
    <script src="/static/js/notice.js"></script>
  </body>
  </html>
