<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>修改密保问题</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>

  <!--头部-->
  <header class="header-navbar">
    <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
    </nav>
  </header>
  <div id="layout">
    <div class="container yzj-top-distance30">
      <!--左侧-->
      {% if user.identify[0] == "f" %} {% include "freelancer-setting-sider.html" %} {% else %} {% include "client/client-setting-sider.html" %} {% endif %}
      <!--右侧-->
      <div class="col-md-9 clear-both">
        <!--身份认证-认证中-->
        <h4 class="text-muted"><strong>修改密保问题</strong></h4>
        <div class="yzj-top-distance20 yzj-box">
          <p class="yzj-size-14">
            修改密保问题之前，请您先回答之前的密保问题。
          </p>
          <form id="form-question" class="form-horizontal yzj-top-distance50 text-info">
            <div class="form-group yzj-size-16">
              <div class="col-xs-3 text-left">当前密保</div>
              <div class="col-xs-6 clear-left" v-text="user_questions">
              </div>
            </div>
            <div class="form-group yzj-size-16">
              <label class="control-label col-xs-3 text-left">答案</label>
              <div class="col-xs-6 clear-left">
                <input type="text" name="answer_old" v-model="answer_old" required required-msg="答案必填" class="form-control">
              </div>
            </div>

            <div class="form-group error-div" name="error" data-name="answer_old">
              <div class="col-xs-offset-3 col-xs-6 clear-left text-warning yzj-size-14">
                <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                <span class="errorMsg"></span>
              </div>
            </div>

            <div class="form-group yzj-size-16">
              <label class="control-label col-xs-3 text-left">新问题</label>
              <div class="col-xs-6 clear-left">
                <select class="form-control select-control" v-model="question_id">
              <option value="">请选择一个密保问题</option>
              <option v-for="item in questions" v-bind:value="item.question_id">{[ item.name ]}</option>
            </select>
              </div>
            </div>
            <div class="form-group yzj-size-16">
              <label class="control-label col-xs-3 text-left">答案</label>
              <div class="col-xs-6 clear-left">
                <input type="text" name="answer" v-model="answer" required required-msg="答案必填" class="form-control">
              </div>
            </div>

            <div class="form-group error-div" name="error" data-name="answer">
              <div class="col-xs-offset-3 col-xs-6 clear-left text-warning yzj-size-14">
                <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                <span class="errorMsg"></span>
              </div>
            </div>

            <div class="form-group yzj-top-distance50">
              <div class="col-xs-offset-3 col-xs-6 clear-left">
                <div class="col-xs-6 clear-left">
                  <input type="button" v-on:click="update_user_question" class="btn btn-primary btn-block" value="提交">
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>

      </div>
    </div>
  </div>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/frontend/public-setting-question.js"></script>
  <script src="/static/js/notice.js"></script>
</body>

</html>