<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>账户信息</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
      </nav>
    </header>
<div id="layout">
    <div class="container yzj-top-distance30">
      <!--左侧-->
      {% if user.identify[0] == "f" %}
      {% include "freelancer-setting-sider.html" %}
      {% else %}
      {% include "client/client-setting-sider.html" %}
      {% endif %}
      <!--右侧-->
      <div class="col-md-9 clear-both">
        <div class="yzj-top-distance20 yzj-box">
          <h4 class="text-muted"><strong>账户基本信息</strong></h4>
          <div class="yzj-top-distance10 yzj-box text-muted clear-right">
            <div class="col-xs-9 clear-left">
              <div class="pull-left yzj-size-16"><i class="account-balance"></i>账户余额<span class="text-warning">{[margin.toFixed(2)]}</span>元</div>
              <div class="account-withdrawal yzj-size-16"><i></i>提现中<span class="text-warning">{[withdraw]}</span>元</div>
            </div>
            <div class="col-xs-3 clear-left clear-right" style="position: relative; top: -10px;">
              <div class="col-xs-5 clear-left clear-right">
                <a href="/freelancers/settings/cards" class="text-primary yzj-size-14 text-align-center category">银行卡<span class="text-warning">{[cards]}</span>张</a>
                <input type="button" v-on:click="withdrawal" class="yzj-top-distance15 btn-account-info text-primary yzj-size-14" value="提现">
              </div>
              <div class="col-xs-7 clear-right text-align-right">
                <a href="/settings/alipay" class="text-primary yzj-size-14 category">支付宝<span class="text-warning">{[alipay]}</span></a>
                <a href="/settings/recharge" class="yzj-top-distance15 btn btn-primary btn-account yzj-size-14">充值</a>
              </div>
            </div>           
          </div>
          <div class="yzj-top-distance50"></div>
          <div class="line"></div>
          <h4 class="yzj-top-distance30 text-muted"><strong>现金流水记录</strong></h4>
          <div class="table-responsive yzj-top-distance30" style="min-height:350px">
            <table class="table work-sort text-muted account-table">
              <thead>
                <tr>
                  <td width="20%">交易日期</td>
                  <td width="10%">类型</td>
                  <td width="25%">名称</td>
                  <td width="25%">金额</td>
                  <td width="10%">收/支</td>
                  <td width="10%">余额</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in records">
                  <td>{[item.create_at]}</td>
                  <td v-if="item.record_type=='deposit'">充值</td>
                  <td v-if="item.record_type=='withdraw'">提现</td>
                  <td v-if="item.record_type=='pay'">支付</td>
                  <td v-if="item.record_type=='income'">收入</td>
                  <td v-if="item.record_type=='refund'">退款</td>
                  <td v-if="item.record_type=='freeze'">冻结</td>
                  <td v-if="item.record_type=='bonus'">奖金</td>
                  <td>
                    <div v-if="item.record_type =='deposit' || item.record_type=='withdraw' || item.record_type=='bonus'">
                      <span v-if="item.record_type=='deposit'">充值</span>
                      <span v-if="item.record_type=='withdraw'">提现</span>
                      <span v-if="item.record_type=='bonus'">奖金</span>
                    </div>
                    <div v-else>
                      <p class="text-warning yzj-height20">{[item.job.team_name]}</p>
                      <p class="yzj-height20">{[item.job.name]}</p>
                    </div>
                  </td>
                  <td v-if="item.type=='D'" class="text-warning">
                  {% if user.identify[0] == "f" %}
                    {[(item.amount).toFixed(2)]}元<br/>(已扣手续费{[(item.fee).toFixed(2)]}元)
                  {% else %}
                    {[(item.amount + item.fee).toFixed(2)]}元
                  {% endif %}
                  </td>
                  <td v-if="item.type=='W'" class="text-success">-{[(item.amount + item.fee).toFixed(2)]}元</td>
                  <td v-if="item.type=='D'" class="text-warning">收入</td>
                  <td v-if="item.type=='W'" class="text-success">支出</td>
                  <td>{[(item.margin).toFixed(2)]}元</td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" v-page="pageObject" v-bind:query="query_work_list" ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog contract-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="education_close">
            <span aria-hidden="true" class="yzj-size-30">&times;</span>
          </button>
        </div>
        <div class="modal-body yzj-box yzj-height20 yzj-top-distance10 text-muted text-center"> 
          <h3 class="modal-title">提现</h3> 
          <div class="yzj-top-distance50 yzj-size-18"> 
            <p class="yzj-height30">您还没有进行个人认证，完成个人认证之后你才可以进行提现 ！</p>
            <div class="yzj-top-distance50 yzj-bot-distance40 col-xs-offset-2">
              <div class="col-xs-4 clear-right">
                <a type="button" class="btn btn-primary btn-block yzj-right-distance15" href="/freelancers/settings/identity">去认证</a>
              </div>
              <div class="col-xs-4 clear-right">
                <button type="button" class="btn btn-default btn-block yzj-right-distance15" data-dismiss="modal">取消</button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    {% include "footer.html" %}
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/vue-directive.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/js/frontend/account.js"></script>
    <script src="/static/js/notice.js"></script>
</body>
</html>
