<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>身份认证</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>

  <!--头部-->
  <header class="header-navbar">
    <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
      <!-- {% include "header-my.html" %} -->
    </nav>
  </header>
  <div id="layout">
    <div class="container yzj-top-distance30">
      <!--左侧-->
      {% include "freelancer-setting-sider.html" %}
      <!--右侧-->
      <div class="col-md-9 clear-both">
        <!--身份认证-未认证通过-->
        <h4 class="text-muted"><strong>身份认证</strong></h4>
        <div class="yzj-top-distance20 yzj-box">
          <div class="alert alert-info" role="alert">
            <span></span> 您还没有完成身份认证。
          </div>
          <form class="form-horizontal yzj-top-distance50" id="form-verify">
            <div class="form-group yzj-size-16 text-info">
              <label class="control-label col-xs-3 text-left"><span class="text-warning">*</span> 真实姓名</label>
              <div class="col-xs-6 clear-left">
                <input type="text" class="form-control" name="real-name" required required-msg="真实姓名不能为空" v-bind:blur="" />
              </div>
            </div>
            <div class="form-group error-div" name="error" data-name="real-name">
              <div class="col-xs-offset-3 col-xs-6 clear-left text-warning yzj-size-14">
                <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                <span class="errorMsg"></span>
              </div>
            </div>
            <div class="form-group yzj-size-16 text-info">
              <label class="control-label col-xs-3 text-left"><span class="text-warning">*</span> 身份证号</label>
              <div class="col-xs-6 clear-left">
                <input type="text" class="form-control" name="id-number" data-regular="/^[1-9]{1}[0-9]{14}$|^[1-9]{1}[0-9]{16}([0-9]|[xX])$/" data-msg="请输入正确的身份证号" required required-msg="身份证号不能为空" />
              </div>
            </div>
            <div class="form-group error-div" name="error" data-name="id-number">
              <div class="col-xs-offset-3 col-xs-6 clear-left text-warning yzj-size-14">
                <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10"></span>
                <span class="errorMsg"></span>
              </div>
            </div>

            <div class="form-group yzj-top-distance30 yzj-size-16" style="line-height:40px">
              <div class="col-xs-12 ">
                <p class="text-info">认证说明</p>
                <p class="yzj-size-14">
                  1.未完成身份认证前，您可以在网站上投标和工作，但是无法绑定银行卡、支付宝账户，也无法进行资金提现。
                </p>
                <p class="yzj-size-14">
                  2.您在管理账户时所绑定的银行卡和支付宝的所有人必须与认证身份一致。否则将无法提现。
                </p>
              </div>
            </div>
            <!-- <div class="form-group yzj-size-16 ">
          <label class="control-label col-xs-3 text-left">* 身份证正面照</label>
            <div class="col-xs-6 clear-left">
              <div class="inputfileload pull-left yzj-right-distance15 yzj-top-distance15">
                <div class="uploadphoto">
               <img class="yzj-right-distance15" src="/static/images/add-icon.png"/>
                上传文件</div>
                <input type="file" class="inputfile inputfile02" id="photo" name="photo" accept="image/*" /> 
              </div>
            </div>
          </div>
          <div class="form-group yzj-size-16 ">
          <label class="control-label col-xs-3 text-left">* 身份证反面照</label>
            <div class="col-xs-6 clear-left">
              <div class="inputfileload pull-left yzj-right-distance15 yzj-top-distance15">
                <div class="uploadphoto">
                <img class="yzj-right-distance15" src="/static/images/add-icon.png"/>
                上传文件</div>
                <input type="file" class="inputfile inputfile02" id="photo" name="photo" accept="image/*" /> 
              </div>
            </div>
          </div> -->
            <div class="form-group yzj-top-distance50">
              <div class="col-xs-offset-3 col-xs-6 clear-left">
                <div class="col-xs-6 clear-left">
                  <input type="button" class="btn btn-primary btn-block" value="提交认证" v-on:click="verify">
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/js/frontend/public-verify-identity.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/notice.js"></script>
</body>

</html>