<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>个人资料</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
 
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
      </nav>
    </header>
 <div id="layout">
    <div class="container yzj-top-distance30">
      <!--左侧-->
      <div class="col-xs-3 clear-left">
        <!--钱包-->
        <div class="left-small-box yzj-bot-distance40">
          <h4 class="text-muted">
            <img class="yzj-right-distance15" src="/static/images/title-icon01.png">钱包
          </h4>
          <div class="line"></div>
          <p class="col-xs-offset-2 yzj-top-distance20 yzj-size-16 text-info">
            <a class="active" href="#">账户信息</a>
          </p>
          <p class="col-xs-offset-2 yzj-top-distance20 yzj-size-16 text-info">
            <a href="#">银行卡</a>
          </p>
          <p class="col-xs-offset-2 yzj-top-distance20 yzj-size-16 text-info">
            <a href="#">支付宝</a>
          </p>
        </div>
        <!--个人信息-->
        <div class="left-small-box yzj-bot-distance40">
          <h4 class="text-muted">
            <img class="yzj-right-distance15" src="/static/images/title-icon02.png">个人信息
          </h4> 
          <div class="line"></div>
          <p class="col-xs-offset-2 yzj-top-distance20 yzj-size-16 text-info">
            <a href="#">我的名片</a>
          </p>
          <p class="col-xs-offset-2 yzj-top-distance20 yzj-size-16 text-info">
            <a href="#">我的档案</a>
          </p>
          <p class="col-xs-offset-2 yzj-top-distance20 yzj-size-16 text-info">
            <a href="#">档案设置</a>
          </p>
          <p class="col-xs-offset-2 yzj-top-distance20 yzj-size-16 text-info">
            <a href="#">我的团队</a>
          </p>
          <p class="col-xs-offset-2 yzj-top-distance20 yzj-size-16 text-info">
            <a href="#">身份认证</a>
          </p>
        </div>
        <!--个人信息-->
        <div class="left-small-box yzj-bot-distance40">
          <h4 class="text-muted">
            <img class="yzj-right-distance15" src="/static/images/title-icon03.png">账号安全
          </h4> 
          <div class="line"></div>
          <p class="col-xs-offset-2 yzj-top-distance20 yzj-size-16 text-info">
            <a href="#">修改密码</a>
          </p>
          <p class="col-xs-offset-2 yzj-top-distance20 yzj-size-16 text-info">
            <a href="#">修改密保问题</a>
          </p>
        </div>
        <div class="line"></div>
        <p class="yzj-size-14 yzj-height30">
          如果您想在网站上发布项目，寻找服务方为您工作，您可以添加需求者身份。
        </p>
        <p class="col-xs-offset-1 col-xs-10">
        <button class="btn btn-primary btn-block yzj-top-distance20">创建需求者身份</button>
      </p>
      </div>
      <!--右侧-->
      <div class="col-md-9 clear-both">
      <h4 class="text-muted"><strong>设置您的密保问题</strong></h4>
      <div class="yzj-top-distance20 yzj-box">
        <p class="yzj-size-14">为了增强您的账号的安全性，我们需要您创建一个密保问题。<br/><br/>
          在您使用新的电脑登录和重置您的密码的时候，您需要回答密保问题。
        </p>
        <form class="form-horizontal yzj-top-distance50 yzj-size-16 text-info">
          <div class="form-group">
            <label class="control-label col-xs-3 text-left">问题</label>
            <div class="col-xs-6 clear-left">
              <select class="form-control select-control" id="question">
                <option>请选择一个密保问题</option>
                <option>问题一</option>
                <option>问题二</option>
                <option>问题三</option>
                <option>问题四</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3 yzj-size-16 text-left">答案</label>
            <div class="col-xs-6 clear-left">
              <input type="text" class="form-control"/>
            </div>
          </div>
          <div class="form-group yzj-top-distance50">
            <div class="col-xs-offset-3 col-xs-6 clear-left">
              <div class="col-xs-6 clear-left">
              <button class="btn btn-primary btn-block">保存</button>
              </div>
              <div class="col-xs-6 clear-left">
              <button class="btn btn-default btn-block">取消</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      </div>
    </div>
  </div>
    {% include "footer.html" %}
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/js/notice.js"></script>
  </body>
  </html>
