<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>银行卡</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
      </nav>
    </header>
    <div id="body" class="container yzj-top-distance30">
      <!--左侧-->
      {% if user.identify[0] == "f" %} {% include "freelancer-setting-sider.html" %} {% else %} {% include "client/client-setting-sider.html" %} {% endif %}
      <!--右侧-->
      <div class="col-md-9 clear-both">
        <!--身份认证-名片信息-->
        <input type="hidden" name="{{user.profile.nam}}" id="username" /> {% if user.profile.id_number == "" %}
        <input type="hidden" name="0" id="id_verify" /> {% else %}
        <input type="hidden" name="1" id="id_verify" /> {% endif %}

        <h4 class="text-muted"><strong>银行卡</strong></h4>
        <div class="yzj-top-distance20 yzj-box bg_hover" id="wallet-bankcard">
          <div class="bankcard" v-show="cards.length > 0">
            <div class="yzj-size-18 text-muted">
              <p class="pull-left yzj-height30">银行卡</p>
              <p class="pull-right yzj-size-16">
                <a href="javascript:;" class="text-warning" v-on:click="add_bankcard()">添加银行卡+</a>
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="line"></div>

            <div class="pull-left yzj-width350 yzj-border text-center yzj-right-distance20 bg_hover yzj-bot-distance20" v-for="item in cards">
              <p class="text-right choice-select">
                <a href="javascript:;" v-on:click="del_item(item.card_id)">
                  <img class="dis_icon hide" src="/static/images/del-btn-icon.png" />
                </a>
              </p>
              <p><img src="/static/images/bank/{[item.bank_code]}-B.png" /></p>
              <p class="yzj-size-16 text-primary yzj-top-distance10">{[item.bank]} | {{user.profile.name}}</p>
              <p class="yzj-size-14 text-primary yzj-top-distance10" v-text="item.card_no | formatAccount">
              </p>
              <p class="yzj-top-distance30"></p>
            </div>

          </div>
          <div class="clearfix"></div>
          <div class="bankcard" v-show="cards.length <= 0">
            <div class="yzj-size-16">
              <p class="pull-left yzj-height30">银行卡(未添加)</p>
              <p class="pull-right" {% if user.profile.id_number=="" %} <a href="javascript:;" class="text-warning" data-toggle="modal" data-target="#add-warn">添加银行卡+</a>
                {% else %}
                <a href="javascript:;" class="text-warning" v-on:click="add_bankcard()">添加银行卡+</a> {% endif %}
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="line"></div>
            <div class="yzj-top-distance70 text-center">
              <img src="/static/images/nofavorite-icon.png" />
            </div>
            <p class="yzj-top-distance30 yzj-size-16 text-primary text-center">您还没有添加任何银行卡</p>
          </div>
        </div>
      </div>
      <!--删除框-->
      {% include "modal-delete-box.html" %}
      <!--警告-->
      {% include "modal-add-warn.html" %}
      <!--添加银行卡-->
      {% include "modal-add-bankcard.html" %}
    </div>
  </div>
  {% include "footer.html" %}

  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/common/js/vue-directive.js"></script>
  <script src="/static/js/frontend/public-wallet-bankcard.js"></script>
  <script src="/static/js/notice.js"></script>
</body>

</html>