<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>支付宝</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
      </nav>
    </header>
    <div id="body" class="container yzj-top-distance30">
      <!--左侧-->
      {% if user.identify[0] == "f" %} {% include "freelancer-setting-sider.html" %} {% else %} {% include "client/client-setting-sider.html" %} {% endif %}
      <!--右侧-->
      <div class="col-md-9 clear-both">
        <!--身份认证-名片信息-->
        <input type="hidden" name="{{user.profile.nam}}" id="username" /> {% if user.profile.id_number == "" %}
        <input type="hidden" name="0" id="id_verify" /> {% else %}
        <input type="hidden" name="1" id="id_verify" /> {% endif %}

        <h4 class="text-muted"><strong>支付宝</strong></h4>
        <div class="yzj-top-distance20 yzj-box bg_hover" id="person-information">
          <div class="bankcard" v-if="alipay_number !=''">
            <div class="yzj-size-18 text-muted">
              <p class="pull-left yzj-height30">支付宝账号</p>
            </div>
            <div class="clearfix"></div>
            <div class="line"></div>
            <div class="pull-left yzj-width350 yzj-border text-center yzj-right-distance20 bg_hover">
              <p class="text-right choice-select">
                <a href="javascript:;" data-toggle="modal" data-target="#card_del">
                  <img class="dis_icon hide" src="/static/images/del-btn-icon.png" />
                </a>
              </p>
              <p><img src="/static/images/pay-icon.png" /></p>
              <p class="yzj-size-16 text-primary yzj-top-distance10" v-text="name"></p>
              <p class="yzj-size-14 text-primary yzj-top-distance10" v-text="alipay_number"></p>
              <p class="yzj-top-distance30"></p>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="bankcard" v-if="alipay_number ==''">
            <div class="yzj-size-18 text-info">
              <p class="pull-left yzj-height30">支付宝账号(未添加)</p>
              <p class="pull-right yzj-size-16">
                <a href="javascript:;" class="text-warning" data-toggle="modal" data-target="#add-alipay" @click="addNew" v-if="id_number !=''">添加支付宝+</a>
                <a href="javascript:;" class="text-warning" data-toggle="modal" data-target="#add-warn" v-if="id_number ==''">添加支付宝+</a>
              </p>
            </div>
            <div class="clearfix"></div>
            <div class="line"></div>
            <div class="yzj-top-distance70 text-center">
              <img src="/static/images/nofavorite-icon.png" />
            </div>
            <p class="yzj-top-distance30 yzj-size-16 text-primary text-center">您还没有绑定支付宝账户</p>
          </div>
        </div>
      </div>
      {% include "modal-add-alipay.html" %} {% include "modal-delete-box.html" %} {% include "modal-add-alipay-warn.html" %}
    </div>
  </div>
  {% include "footer.html" %}


  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/editicon-dis.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/frontend/alipay.js"></script>t>
  <script src="/static/js/notice.js"></script>
</body>

</html>