<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>付费申请</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/css/yunzujiaicons.css">
  <link rel="stylesheet" type="text/css" href="/static/css/selectlist.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          {% include "header.html" %}
        </div>
      </nav>
    </header>
  <div id="body" class="container yzj-top-distance50">
    <div class="yzj-box">
      <h4 class="text-muted"><strong>付费申请</strong></h4>
      <div class="yzj-top-distance40 col-xs-12 clear-both yzj-size-16">
        <div class="form-group">
          <label class="control-label col-xs-2 clear-left text-left text-info">服务方</label>
          <div class="col-xs-8 clear-left">
            <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" v-bind:src="data.user.avatar" class="img-circle" width="64" height="64">
              </a>
            </div>
            <div class="media-body yzj-height20">
              <p class="yzj-size-16"><strong>{[data.user.name]}</strong></p>
              <p class="yzj-size-14 yzj-top-distance20">{[data.user.title]}</p>
            </div>
          </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group yzj-top-distance40">
          <label class="control-label col-xs-2 clear-left text-left text-info">里程碑</label>
          <div class="col-xs-8 clear-left">
            <p class="yzj-size-14">{[data.name]}</p>
            <p class="yzj-size-14 yzj-top-distance20">最后提交：{[data.records[0].create_at]}
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group yzj-top-distance40">
          <label class="control-label col-xs-2 clear-left text-left text-info">项目结束时间</label>
          <div class="col-xs-8 clear-left">
            <p class="yzj-size-14">{[data.end_at]}</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group yzj-top-distance40">
          <label class="control-label col-xs-2 clear-left text-left text-info">托管资金</label>
          <div class="col-xs-8 clear-left">
            <p class="yzj-size-14">￥{[data.amount]}</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group yzj-top-distance40">
          <label class="control-label col-xs-2 clear-left text-left text-info">消息及交付物</label>
          <div class="col-xs-8 clear-left">
            <p class="yzj-size-14">
              消息: {[record.message]}
            </p>
            <p v-if="records.length != 0" v-for="attach in records" class="clear-left yzj-size-14 yzj-top-distance20">
              <img src="/static/images/link-icon.png" class="yzj-right-distance10">
              <a href="{[attach.attachment]}">{[attach.attachment_name]}</a>
            </p>
        </div>
        <div class="clearfix"></div>
        <!--验收-->
        <div class="form-group yzj-top-distance40">
          <label class="control-label col-xs-2 clear-left text-left text-info">验收</label>
          <div class="col-xs-8 clear-left table-border">
            <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20 {[is_agree?'active':'']}" v-on:click="changeAgree()" >
              <img src="/static/images/send-icon018.png">
              <p class="yzj-top-distance20 yzj-size-16 text-info">同意</p>
              <p class="yzj-top-distance10 yzj-size-14">这一里程碑事件成功完成</p>
            </div>
            <div class="pull-left yzj-width240 yzj-box yzj-border text-center yzj-right-distance20 {[is_agree?'':'active']}" v-on:click="changeRefuse()" >
              <img src="/static/images/send-icon018.png">
              <p class="yzj-top-distance20 yzj-size-16 text-info">需要修改</p>
              <p class="yzj-top-distance10 yzj-size-14">这个里程碑有额外的工作</p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div v-if="is_agree" class="form-group yzj-top-distance40">
          <label class="control-label col-xs-2 clear-left text-left text-info">验收</label>
          <div class="col-xs-8 clear-left table-border yzj-size-14">
            <p>
              <input type="radio" name = "end-project" checked="checked" value="false" v-model="is_stop">保留这份合同，我有更多的工作给他的
            </p>
            <p class="yzj-top-distance20">
              <input type="radio" name = "end-project" value="true" v-model="is_stop">结束这个合同，工作是合格的
            </p>
          </div>
        </div>
        <div v-if="!is_agree" class="form-group yzj-top-distance40">
          <label class="control-label col-xs-2 clear-left text-left text-info">留言</label>
          <div class="col-xs-8 clear-left table-border yzj-size-14">
            <p>
              <textarea rows="4" class="form-control" placeholder="告诉服务方还需要做哪些事情才能完成这个里程碑" v-model="message" id="reason"></textarea>
            </p>
            <p class="yzj-top-distance20">
              <div class="inputfileload pull-left yzj-right-distance15" v-model="attachment"> 
                      <div class="uploadphoto">
                       上传文件
                      </div> 
                      <input type="file" v-on:change="notifyFileInput($event)" class="inputfile" id="fileupload" name="file" /> 
                     </div> 
                     <div class="fileloadtext pull-left yzj-right-distance45" v-show="filename != '' " v-model="filename">
                      {[ filename ]}
                     </div> 
                     <divv v-show="filename == '' " class="fileloadtext pull-left">
                      文件大小不得超过5MB
                     </div> 
                    </div>
                    <div class="form-group" v-show="errFile"> 
                     <div class="col-xs-12 text-warning yzj-size-14"> 
                      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[errFile]} 
                     </div> 
                    </div>  
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-10 col-xs-offset-2 clear-left yzj-top-distance40">
        <button v-if="is_agree" class="btn btn-primary btn-lg yzj-right-distance20" v-on:click="agreepay()">同意并付款</button>
        <button v-if="!is_agree" class="btn btn-primary btn-lg yzj-right-distance20" v-on:click="refusepay()">发送变更请求</button>
        <a href="/clients/jobs" class="btn btn-default btn-lg">取消</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  </div>

    {% include "footer.html" %}
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/common/js/vue-directive.js"></script>
    <script src="/static/js/frontend/release-capital.js"></script>
    <script src="/static/js/notice.js"></script>
  </body>
  </html>
