<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>云族佳2.0规范</title>
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/yzj.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<!--文字颜色定义-->
	<h1 class="text-center text-danger">云族佳2.0 css规范文档</h1>
<div class="yzj-box">
	<h3 class="text-danger">文字颜色</h3>
	<br/><br/>
	<p class="text-muted">主体颜色999</p>
	<p class="text-primary">标题颜色333</p>
	<p class="text-info">小标题颜色666</p>
</div>
<br/>
<br/>
<!--文字颜色定义-->
<div class="yzj-box">
	<h3 class="text-danger">文字大小</h3>
	<br/><br/>
	<p class="yzj-size-12">文字大小12px</p>
	<p class="yzj-size-14">文字大小14px</p>
	<p class="yzj-size-16">文字大小16px</p>
	<p class="yzj-size-18">文字大小18px</p>
</div>
<br/>
<br/>
<!--文字颜色定义-->
<div class="yzj-box">
	<h3 class="text-danger">标题大小</h3>
	<br/><br/>
	<h1>标题大小36</h1>
	<h2>标题大小30</h2>
	<h3>标题大小24</h3>
	<h4>标题大小18</h4>
	<h5>标题大小14</h5>
	<h6>标题大小12</h6>
</div>
<br/><br/>
<!--表格使用-->
<div class="yzj-box">
	<h3 class="text-danger">实例表格</h3>
	<table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
	</div>
	<br/><br/>
	<div class="yzj-box">
		<h3 class="text-danger">紧凑表格</h3>

		<table class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
	</div>
	<br/><br/>
	<div class="yzj-box">
		<h3 class="text-danger">表单类型</h3>
		<h4 class="text-muted">资料填写表单</h4>
		<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label text-muted">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label text-muted">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label text-muted">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Text input">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label text-muted">Details</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" placeholder="Details"></textarea>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label class="text-muted">
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
  
</form>
</div>
<br/><br/>
<!--网站图片样式-->
<div class="yzj-box">
	<h3 class="text-danger">图片</h3>
	<div class="row">
		<div class="col-md-3">
			<img src="/static/images/phone.gif" height="211" width="211" class="img-circle">
			<p class="text-danger">发送邮箱验证提示图标<br/>
			211×211</p>
		</div>

		<div class="col-md-3">
			<img src="/static/images/phone.gif" height="102" width="102" class="img-circle">
			<p class="text-danger">创建信息头像展示<br/>
			个人名片头像展示 <br/>
			102×102</p>
		</div>

		<div class="col-md-3">
			<img src="/static/images/phone.gif" height="69" width="69" class="img-circle">
			<p class="text-danger">个人中心头像 <br/>
			69×69</p>
		</div>

		<div class="col-md-3">
			<img src="/static/images/phone.gif" height="30" width="30" class="img-circle">
			<p class="text-danger">右上角头像 <br/>
			30×30</p>
		</div>		
	</div>
</div>
<br/><br/>
<!--按钮颜色-->
<div class="yzj-box">
	<h3 class="text-danger">按钮颜色</h3>
	<div class="row">
		<div class="col-md-3">
			<button type="button" class="btn btn-info">取消</button>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-primary">确认&编辑</button>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-warning">不可用</button>
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
</div>

<br/><br/>
<!--按钮大小-->
<div class="yzj-box">
	<h3 class="text-danger">按钮大小</h3>
	<div class="row">
		<div class="col-md-3">
			<button type="button" class="btn btn-primary btn-lg">（大按钮）Large button</button>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-primary">（默认尺寸）Default button</button>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-primary btn-sm">（小按钮）Small button</button>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-primary btn-xs">（超小尺寸）Extra small button</button>
		</div>
	</div>
</div>
<br/><br/>
<!--弹框-->
<!-- <div class="yzj-box">
    <h3 class="text-danger">弹框</h3>
    <div class="bs-example bs-example-padded-bottom">
        <button type="button" class="btn btn-lg btn-danger bs-docs-popover" data-toggle="popover" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="Popover title" aria-describedby="popover826457">点我弹出/隐藏弹出框</button>
        <div class="popover fade right in" role="tooltip" id="popover826457" style="top: 26px; left: 216.016px; display: block;">
            <div class="arrow" style="top: 50%;"></div>
            <h3 class="popover-title">Popover title</h3>
            <div class="popover-content">
                And here's some amazing content. It's very engaging. Right?
            </div>
        </div>
    </div>
</div>
<br/><br/> -->
<!--警告框-->
<div class="yzj-box">
    <h3 class="text-danger">警告框</h3>
	<div class="alert alert-info" role="alert">
		您提交的资料正在审核中，查看进度>>
	</div>
	<div class="alert alert-success" role="alert">
		您提交的资料审核成功，返回首页>>
	</div>
	<div class="alert alert-warning" role="alert">
		您所提交的资料失败了，查看原因>>
	</div>
	<div class="alert alert-danger" role="alert">
		警告！！！您所提交的资料有违法文件，查看原因>>
	</div>
</div>
<br/><br/>
<!--进度条-->
<div class="yzj-box">
    <h3 class="text-danger">进度条</h3>
	<div class="progress">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div>
</div>

<br/><br/>
<!--技能标签-->
<div class="yzj-box">
    <h3 class="text-danger">技能标签</h3>
	<span class="label label-default">PHP</span>
	<span class="label label-primary">Primary</span>

	<span class="label label-default lg">Default</span>
	<span class="label label-primary lg">Primary</span>
</div>

<br/><br/>
<!--分页-->
<div class="yzj-box">
    <h3 class="text-danger">分页</h3>
    <nav>
      <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
     </ul>
   </nav>
</div>

<br/><br/>
<!--TAB切换一-->
<div class="yzj-box">
    <h3 class="text-danger">TAB切换样式一</h3>
    <div>
    <!-- TAB导航一 -->
    	<ul class="nav nav-tabs yzj-tabs-one" role="tablist">
    		<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">首页</a></li>
    		<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">文件</a></li>
    		<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">文档</a></li>
    		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">状态</a></li>
    	</ul>
    	<!-- TAB内容一 -->
    	<div class="tab-content yzj-content-one">
    		<div role="tabpanel" class="tab-pane active" id="home">
    			<div class="yzj-box-tab01">首页</div>
    		</div>
    		<div role="tabpanel" class="tab-pane" id="profile">
    			<div class="yzj-box-tab01">文件</div>
    		</div>
    		<div role="tabpanel" class="tab-pane" id="messages">
    			<div class="yzj-box-tab01">文档</div>
    		</div>
    		<div role="tabpanel" class="tab-pane" id="settings">
    			<div class="yzj-box-tab01">状态</div>
    		</div>
    	</div>

    </div>
</div>

<br/><br/>
<!--TAB切换二-->
<div class="yzj-box">
    <h3 class="text-danger">TAB切换样式二</h3>
    <div>
    <!-- TAB导航二 -->
    	<ul class="nav nav-tabs yzj-tabs-two" role="tablist">
    		<li role="presentation" class="active">
    		<a href="#home2" aria-controls="home" role="tab" data-toggle="tab">
    		<span class="yunzujiaIcon-pen-thin yzj-right-distance8"></span>公司注册
    		</a>
    		</li>
    		<li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">个人注册</a></li>
    	</ul>
    	<!-- TAB内容二 -->
    	<div class="tab-content yzj-content-two">
    		<div role="tabpanel" class="tab-pane active" id="home2">
    			<div class="yzj-box-tab01">首页</div>
    		</div>
    		<div role="tabpanel" class="tab-pane" id="profile2">
    			<div class="yzj-box-tab01">文件</div>
    		</div>
    	</div>

    </div>
</div>
<br/><br/>
<!--TAB切换三-->
<div class="yzj-box">
    <h3 class="text-danger">TAB切换样式三</h3>
    <div>
    <!-- TAB导航三 -->
    	<ul class="nav nav-tabs yzj-tabs-three" role="tablist">
    		<li role="presentation" class="active"><a href="#home3" aria-controls="home" role="tab" data-toggle="tab">
				<h5>工作进展</h5>
    			<h2>0元</h2>
    		</a></li>
    		<li role="presentation"><a href="#profile3" aria-controls="profile" role="tab" data-toggle="tab">
				<h5>工作进展</h5>
    			<h2>0元</h2>
    		</a></li>
    		<li role="presentation"><a href="#messages3" aria-controls="messages" role="tab" data-toggle="tab">
				<h5>工作进展</h5>
    			<h2>0元</h2>
    		</a></li>
    		<li role="presentation"><a href="#settings3" aria-controls="settings" role="tab" data-toggle="tab">
				<h5>工作进展</h5>
    			<h2>0元</h2>
    		</a></li>
    	</ul>
    	<!-- TAB内容三 -->
    	<div class="tab-content tab-content-three">
    		<div role="tabpanel" class="tab-pane active" id="home3">
    			<div class="yzj-box-tab01">
    				无可奈何花落去
    			</div>
    		</div>
    		<div role="tabpanel" class="tab-pane" id="profile3">
    			<div class="yzj-box-tab01">文件</div>
    		</div>
    		<div role="tabpanel" class="tab-pane" id="messages3">
    			<div class="yzj-box-tab01">文档</div>
    		</div>
    		<div role="tabpanel" class="tab-pane" id="settings3">
    			<div class="yzj-box-tab01">状态</div>
    		</div>
    	</div>
    </div>
</div>
<br/><br/>
<!--下拉菜单-->
	<div class="yzj-box">
		<h3 class="text-danger">下拉菜单</h3>
		<div class="dropdown clearfix">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Dropdown
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>
	</div>
	<br/><br/>
	<!--Accordion example-->
	<div class="yzj-box">
		<h3 class="text-danger">Accordion example</h3>
		<div>
        <div role="tab" id="headingOne" class="yzj-size-14">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
            <span ng-class="yunzujiaIcon-eye"></span>
              你在学校学到了什么技能？
            </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
          <div class="yzj-size-14">
           我在学校学到素描、色彩、国画等等绘画技能。
          </div>
        </div>
      </div>
	</div>


  <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation -->
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/js.cookie.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/common/js/yunwork.js"></script>
<script src="/static/common/js/service.js"></script>
<script src="/static/js/notice.js"></script>
</body>
</html>