<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>开发者-注册</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
	
	<!--头部-->
		<header class="header-navbar">
      <nav class="navbar navbar-default">
      <div class="container">
        {% include "header.html" %}
      </div>
      {% include "header-my.html" %}
      </nav>
    </header>
<div id="layout">
		<div class="container yzj-top-distance70" id="form-sign-free">
			<h3 class="text-center text-muted">欢迎来到云沃客</h3>
			<h5 class="text-center yzj-top-distance15">你向客户提供的主要服务是什么？</h5>
			<div class="col-xs-offset-1 col-xs-10 clear-both yzj-top-distance30">
				<div class="col-xs-3 clear-right">
					<div class="yzj-box yzj-border text-center select-category">
						<p class="yzj-fix-width"><img src="/static/images/select-icon08.png"></p>
						<h5 class="text-muted yzj-top-distance20">法律</h5>
					</div>
					<h5 class="yzj-top-distance20 text-center text-info">你选错了吗</h5>
					<h5 class="yzj-top-distance10 text-center">
					<a href="#" class="text-warning">重新选择</a>
					</h5>
				</div>
				<div class="col-xs-9">
				<div class="text-info yzj-size-16">什么类型的网站，移动软件开发吗？
				</div>
					<div class="yzj-top-distance40">
						<span class="label-default label-large">桌面软件开发</span>
						<span class="label label-default label-large">电子商务的发展</span>
						<span class="label label-default label-large">游戏开发</span>
						<span class="label label-default label-large">移动开发</span>
						<span class="label label-default label-large">产品管理</span>
						<span class="label label-default label-large">QA和测试</span>
						<span class="label label-default label-large">脚本和公用事业</span>
						<span class="label label-default label-large">网络开发</span>
						<span class="label label-default label-large">网络与手机的设计</span>
					</div>
					<div class="yzj-top-distance30 col-xs-4">
						<button class="btn btn-primary btn-block">保存并继续</button>
					</div>
				</div>
			</div>
		</div>
		</div>

    {% include "footer.html" %}
    <script src="/static/bower_libs/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/signup.js"></script>
    <script src="/static/js/editicon-dis.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/common/js/yunwork.js"></script>
    <script src="/static/common/js/service.js"></script>
    <script src="/static/js/notice.js"></script>
	</body>
	</html>
