<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <title>{{_("Create_account", lang)}}</title>
  <link rel="stylesheet" type="text/css" href="/static/bower_libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
	<div id="layout">
   <!--头部-->
   <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/static/images/yzj_logo.png" height="52" width="171"></a>
          </div>

          <div class="Top-center pull-left yzj-size-16">
            <ul>
            <li class="active"><a href="/" class="text-info">浏览</a></li>
            <li><a href="#" class="text-info">介绍</a><li>
            </ul>
          </div>

          <div class="navbar-right navbar-brand yzj-top-distance10">
            <a class="btn btn2 btn-primary btn-sm yzj-size-14" href="/signup-role">开启云工作</a>
          </div>

          <div class="navbar-right navbar-brand Top-right yzj-size-14">
            <div class="pull-left search-box">
              <input class="form-control search-box-text" type="text" placeholder="搜索" id="search_text"/>
              <ul>
                <li class="pull-left search-box-icon dropdown" id="search_box">
                  <img src="/static/images/nav-icon02.png" class="yzj-right-distance10">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="/static/images/nav-down.png">
                  </a>
                  <ul class="dropdown-menu find-down">
                    <span class="active">找项目</span>
                    <span>找高手</span>
                  </ul>
                </li>
              </ul>
            </div>
            <ul class="pull-left yzj-right-distance15 yzj-top-distance5">
              <li>
              <a href="/signin">登录</a>
              </li>
              <li>
                <a href="/signup-role">注册</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

<div class="container yzj-top-distance70" id="form-sign-free">
  <div class="main-form">
    <h3 class="text-center text-muted">{{_("Create_freelancer", lang)}}</h3>
    <h5 class="text-center yzj-top-distance15">{{_("Find_people", lang)}}<a href="/signup-client" class="text-warning">{{_("Signup", lang)}}{{_("Become_demand", lang)}}</a></h5>

    <div class="form-group yzj-top-distance15" v-show="remoteErr">
      <div class="alert alert-danger text-center" role="alert" >
        {[ remoteErr ]}
      </div>
    </div>

    <form class="form-horizontal yzj-top-distance15">
      <div class="form-group">
       <div class="col-xs-12">
        <input type="text" name="name" data-regular="/^[\u4E00-\u9FA5]{2,10}$/" data-msg="请输入2-10个汉字" required required-msg="输入姓名" class="form-control" placeholder="{{_("Name", lang)}}" v-model="name">
      </div>
    </div>

    <div class="form-group error-div" name="error" data-name="name">
      <div class="col-xs-12 text-warning yzj-size-14">
        <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
     	<span class="errorMsg"></span>
      </div>
    </div>

    <div class="form-group">
     <div class="col-xs-12">
      <input type="text" name="phone" required required-msg="请输入手机号" data-regular="/^1[3|4|5|7|8][\d]{9}$/" data-msg="手机格式不正确" class="form-control" placeholder="手机号" v-model="phone">
    </div>
  </div>

  <div class="form-group error-div" name="error" data-name="phone">
    <div class="col-xs-12 text-warning yzj-size-14">
      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
      <span class="errorMsg"></span>
    </div>
  </div>

  <div class="form-group">
   <div class="col-xs-8">
    <input type="text" name="vcode" data-regular="/^[\d]{6}$/" data-msg="6位数字验证码" required required-msg="请输入验证码"   class="form-control" placeholder="验证码" v-model="vcode">
  </div>
  <div class="col-xs-4 clear-left">
    <span class="btn btn-block btn-primary yzj-size-14" vcode="clock-vcode" value="{[ txtVcode ]}" v-on:click="sendvcode">发送验证码</span>
  </div>
</div>

<div class="form-group error-div" name="error" data-name="vcode">
  <div class="col-xs-12 text-warning yzj-size-14">
    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
 	<span class="errorMsg"></span>
  </div>
</div>

<!--div class="form-group">
 <div class="col-xs-12">
  <input type="text" name="username" data-regular="/^[\w]{6,20}$/" data-msg="用户名长度6-20位" required required-msg="请输入用户名"  class="form-control" placeholder="用户名" v-model="username">
</div>
</div-->

<!--div class="form-group">
  <div class="col-xs-12 yzj-size-14">
    用户名为6-20位字母与下划线组合，可用于登录
  </div>
</div-->

<div class="form-group error-div" name="error" data-name="username">
  <div class="col-xs-12 text-warning yzj-size-14">
    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
   <span class="errorMsg"></span>
  </div>
</div>

<div class="form-group">
 <div class="col-xs-12">
  <input type="password" name="password" data-regular="/^[\w]{6,16}$/" data-msg="密码长度6-16位" required required-msg="请输入密码" class="form-control" placeholder="密码" v-model="password">
</div>
</div>

<div class="form-group error-div" name="error" data-name="password">
  <div class="col-xs-12 text-warning yzj-size-14">
    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
	<span class="errorMsg"></span> 
</div>
</div>

<div class="form-group">
 <div class="col-xs-12">
  <input type="password" name="passwordTwo"  equal="password" equal-msg="两次输入密码不一致" data-regular="/^[\w]{6,16}$/" data-msg="密码长度6-16位" required required-msg="请重复输入密码" class="form-control" placeholder="确认密码" v-model="passwordTwo">
</div>
</div>

<div class="form-group error-div" name="error" data-name="passwordTwo">
  <div class="col-xs-12 text-warning yzj-size-14">
    <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
  	<span class="errorMsg"></span> 
  </div>
</div>

<div class="form-group">
 <div class="col-xs-12 yzj-size-14">
  <input type="checkbox" v-model="acceptSms"> 同意接收对我有用的信息
</div>
</div>

<div class="form-group">
 <div class="col-xs-12 yzj-size-14">
  <input id="ipt-legal" type="checkbox" v-model="legal"> 我同意服务条款，包括
  <a href="/legal" class="text-warning">【用户协议】</a>和
  <a href="/legal/privacy" class="text-warning">【隐私政策】</a>
</div>
</div>

<div class="form-group">
 <div class="col-xs-12">
  <input type="button" value="注册" v-on:click="register" class="btn btn-primary btn-block" /> 
</div>
</div>
</form>
</div>
</div>
</div>

{% include "footer.html" %}
<script src="/static/bower_libs/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_libs/vue/dist/vue.min.js"></script>
<script src="/static/bower_libs/js-cookie/src/js.cookie.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/common/js/yunwork.js"></script>
<script src="/static/common/js/service.js"></script>
<script src="/static/js/frontend/signup.js"></script>
<script src="/static/js/notice.js"></script>
<script>
function ct() {
  return document.compatMode == "BackCompat" ? document.body.clientHeight : document.documentElement.clientHeight;
}
var f = document.getElementById('footer');
(window.onresize = function () {
  f.style.position = document.body.scrollHeight > ct() ? '' : 'absolute';
})();
$(function() {
  $("#search_box .dropdown-menu span").each(function () {
    $(this).click(function(){
      $("#search_box .dropdown-menu span").removeClass("active");
      $(this).addClass("active");
    })
  })
  $("#search_text").keydown(function(event){
    var keyword = $(this).val()
    var url = ''
    $('#search_box .dropdown-menu span').each(function (index, item) {
      if ($(item).html() == '找高手' && $(item).hasClass('active')) {
        url = '/browse/freelancers?q=' + keyword
      } else {
        url = '/browse/jobs?q=' + keyword
      }
    })
    if (event.keyCode === 13) {
      window.location.href = url
    }
  });
})
</script>
</body>
</html>
