<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>需求者-注册</title>
  <link rel="stylesheet" type="text/css" href="/static/bower_libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/css/redefine.css">
  <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  <div id="layout">
    <!--头部-->
    <header class="header-navbar">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/static/images/yzj_logo.png" height="52" width="171"></a>
          </div>

          <div class="Top-center pull-left yzj-size-16">
            <ul>
              <li class="active"><a href="/" class="text-info">浏览</a></li>
              <li><a href="#" class="text-info">介绍</a>
                <li>
            </ul>
          </div>

          <div class="navbar-right navbar-brand yzj-top-distance10">
            <a class="btn btn2 btn-primary btn-sm yzj-size-14" href="/signup-role">开启云工作</a>
          </div>

          <div class="navbar-right navbar-brand Top-right yzj-size-14">
            <div class="pull-left search-box">
              <input class="form-control search-box-text" type="text" placeholder="搜索" id="search_text"/>
              <ul>
                <li class="pull-left search-box-icon dropdown" id="search_box">
                  <img src="/static/images/nav-icon02.png" class="yzj-right-distance10">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="/static/images/nav-down.png">
                  </a>
                  <ul class="dropdown-menu find-down">
                    <span class="active">找项目</span>
                    <span>找高手</span>
                  </ul>
                </li>
              </ul>
            </div>
            <ul class="pull-left yzj-right-distance15 yzj-top-distance5">
              <li>
                <a href="/signin">登录</a>
              </li>
              <li>
                <a href="/signup-role">注册</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container yzj-top-distance70">
      <div>
        <h3 class="text-center text-muted">创建一个需求者账户</h3>
        <h5 class="text-center yzj-top-distance15">想找工作吗？ <a href="/signup" class="text-warning">注册成为服务方</a></h5>
        <div class="yzj-width700 yzj-bot-distance70">
          <!-- TAB导航二 -->
          <ul class="nav nav-tabs yzj-tabs-two" role="tablist">
            <li role="presentation" class="active">
              <a href="#home2" aria-controls="home" role="tab" data-toggle="tab">公司注册
     </a>
            </li>
            <li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">个人注册</a></li>
          </ul>
          <!-- TAB内容二 -->
          <div class="tab-content yzj-content-two">
            <div role="tabpanel" class="tab-pane active" id="home2">

              <div class="main-form">
                <form class="form-horizontal yzj-top-distance70" id="form-company">
                  <div class="form-group yzj-top-distance15" v-show="remoteErr">
                    <div class="alert alert-danger text-center" role="alert">
                      {[ remoteErr ]}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <input type="text" name="name" data-regular="/^[\u4E00-\u9FA5]{2,10}$/" data-msg="请输入2-10个汉字" required required-msg="请输入姓名" class="form-control" placeholder="姓名" v-model="name">
                    </div>
                  </div>

                  <div class="form-group error-div" name="error" data-name="name">
                    <div class="col-xs-12 text-warning yzj-size-14">
                      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                      <span class="errorMsg"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <input type="text" name="company" required required-msg="公司名称必填" class="form-control" placeholder="公司名称" v-model="company">
                    </div>
                  </div>

                  <div class="form-group error-div" name="error" data-name="company">
                    <div class="col-xs-12 text-warning yzj-size-14">
                      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[ errCompany ]}
                      <span class="errorMsg"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <input type="text" name="phone" data-regular="/^1\d{10}$/" data-msg="手机号格式不正确" required required-msg="手机号必填" class="form-control" placeholder="手机号" v-model="phone">
                    </div>
                  </div>

                  <div class="form-group error-div" name="error" data-name="phone">
                    <div class="col-xs-12 text-warning yzj-size-14">
                      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[ errPhone ]}
                      <span class="errorMsg"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-8 clear-right yzj-right-distance15">
                      <input type="text" name="vcode" required required-msg="验证码必填" class="form-control" placeholder="输入验证码" v-model="vcode">
                    </div>
                    <div class="col-xs-3 clear-left">
                      <span class="btn btn-code btn-primary yzj-size-14" vcode="clock-vcode" v-on:click="sendvcode">发送验证码</span>
                    </div>
                  </div>

                  <div class="form-group error-div" name="error" data-name="vcode">
                    <div class="col-xs-12 text-warning yzj-size-14">
                      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[ errVcode ]}
                      <span class="errorMsg"></span>
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="col-xs-12">
                      <input type="password" name="password" data-regular="/^[\w]{6,16}$/" data-msg="密码长度6-16位" required required-msg="密码必填" class="form-control" placeholder="密码" v-model="password">
                    </div>
                  </div>

                  <div class="form-group error-div" name="error" data-name="password">
                    <div class="col-xs-12 text-warning yzj-size-14">
                      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[ errPassword ]}
                      <span class="errorMsg"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12 yzj-size-14">
                      <input type="checkbox" v-model="acceptSms"> 同意接收对我有用的信息
                    </div>
                  </div>

                  <div class="form-group error-div" name="error" data-name="username">
                    <div class="col-xs-12 text-warning yzj-size-14">
                      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                      <span class="errorMsg"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12 yzj-size-14">
                      <input type="checkbox" v-model="legal"> 我同意服务条款，包括
                      <a href="/legal" class="text-warning">【用户协议】</a>和
                      <a href="/legal/privacy" class="text-warning">【隐私政策】</a>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <input type="button" value="注册" class="btn btn-primary btn-block" v-on:click="register" />
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile2">
              <div class="main-form">
                <form class="form-horizontal yzj-top-distance70" id="form-person">
                  <div class="form-group yzj-top-distance15" v-show="remoteErr">
                    <div class="alert alert-danger text-center" role="alert">
                      {[ remoteErr ]}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <input type="text" name="name" data-regular="/^[\u4E00-\u9FA5]{2,10}$/" data-msg="请输入2-10个汉字" required required-msg="姓名必填" class="form-control" placeholder="姓名" v-model="name">
                    </div>
                  </div>

                  <div class="form-group error-div" name="error" data-name="name">
                    <div class="col-xs-12 text-warning yzj-size-14">
                      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[ errName ]}
                      <span class="errorMsg"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <input type="text" name="phone" data-regular="/^1\d{10}$/" data-msg="手机号格式不正确" required required-msg="手机号必填" class="form-control" placeholder="手机号" v-model="phone">
                    </div>
                  </div>

                  <div class="form-group error-div" name="error" data-name="phone">
                    <div class="col-xs-12 text-warning yzj-size-14">
                      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>
                      <span class="errorMsg"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-8 clear-right yzj-right-distance15">
                      <input type="text" name="vcode" required required-msg="验证码必填" class="form-control" placeholder="输入验证码" v-model="vcode">
                    </div>
                    <div class="col-xs-3 clear-left">
                      <span vcode="clock-vcode" class="btn btn-code btn-primary yzj-size-14" v-on:click="sendvcode">发送验证码</span>
                    </div>
                  </div>

                  <div class="form-group error-div" name="error" data-name="vcode">
                    <div class="col-xs-12 text-warning yzj-size-14">
                      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[ errVcode ]}
                      <span class="errorMsg"></span>
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="col-xs-12">
                      <input type="password" name="password" data-regular="/^[\w]{6,16}$/" data-msg="密码长度6-16位" required required-msg="密码必填" class="form-control" placeholder="密码" v-model="password">
                    </div>
                  </div>

                  <div class="form-group error-div" name="error" data-name="password">
                    <div class="col-xs-12 text-warning yzj-size-14">
                      <span class="glyphicon glyphicon-exclamation-sign yzj-right-distance10" aria-hidden="true"></span>{[ errPassword ]}
                      <span class="errorMsg"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12 yzj-size-14">
                      <input type="checkbox" v-model="acceptSms"> 同意接收对我有用的信息
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12 yzj-size-14">
                      <input type="checkbox" v-model="legal"> 我同意服务条款，包括
                      <a href="/legal" class="text-warning">【用户协议】</a>和
                      <a href="/legal/privacy" class="text-warning">【隐私政策】</a>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <input type="button" value="注册" class="btn btn-primary btn-block" v-on:click="register" />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "footer.html" %}

  <!--错误框开始-->
  <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-warning" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <h4 class="modal-title text-center text-danger" id="myModalLabel"><strong>注册请同意协议！</strong></h4>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">确定</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/common/js/yunwork.js"></script>
  <script src="/static/common/js/service.js"></script>
  <script src="/static/js/frontend/signup.js"></script>
  <script src="/static/js/notice.js"></script>
  <script>
    function ct() {
      return document.compatMode == "BackCompat" ? document.body.clientHeight : document.documentElement.clientHeight;
    }
    var f = document.getElementById('footer');
    (window.onresize = function() {
      f.style.position = document.body.scrollHeight > ct() ? '' : 'absolute';
    })();
    $(function() {
      $("#search_box .dropdown-menu span").each(function () {
        $(this).click(function(){
          $("#search_box .dropdown-menu span").removeClass("active");
          $(this).addClass("active");
        })
      })
      $("#search_text").keydown(function(event){
        var keyword = $(this).val()
        var url = ''
        $('#search_box .dropdown-menu span').each(function (index, item) {
          if ($(item).html() == '找高手' && $(item).hasClass('active')) {
            url = '/browse/freelancers?q=' + keyword
          } else {
            url = '/browse/jobs?q=' + keyword
          }
        })
        if (event.keyCode === 13) {
          window.location.href = url
        }
      });
    })
  </script>
</body>

</html>