<!DOCTYPE html>
<html ng-app="myApp" lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
  <title>IM</title>
  <link rel="stylesheet" href="/static/webim/vendor/semantic-ui/semantic.min.css"/>
  <link rel="stylesheet" href="/static/webim/css/app.css"/>
  <link rel="stylesheet" href="/static/webim/vendor/jquery.emojiarea/jquery.emojiarea.css"/>
  <link rel="stylesheet" href="/static/webim/vendor/jquery.nanoscroller/nanoscroller.css"/>
</head>
<body>
    <div class="page_wrap" ng-view></div>
</body>
<script type="text/javascript" src="/static/webim/js/lib/polyfill.js"></script>
<script type="text/javascript" src="/static/webim/vendor/jquery/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="/static/webim/vendor/iscroll/iscroll.js"></script>
<script type="text/javascript" src="/static/webim/vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/webim/vendor/angular/angular-route.min.js"></script>
<script type="text/javascript" src="/static/webim/vendor/ng-iScroll/ng-iscroll.js"></script>
<script type="text/javascript" src="/static/webim/vendor/jquery.nanoscroller/nanoscroller.js"></script>
<script type="text/javascript" src="/static/webim/js/init.js"></script>
<script type="text/javascript" src="/static/webim/vendor/semantic-ui/semantic.min.js"></script>
<script type="text/javascript" src="/static/webim/js/lib/utils.js"></script>
<script type="text/javascript" src="/static/webim/js/lib/websocket.js"></script>
<script type="text/javascript" src="/static/webim/js/filters.js"></script>
<script type="text/javascript" src="/static/webim/vendor/jquery.emojiarea/jquery.emojiarea.js"></script>
<script type="text/javascript" src="/static/webim/vendor/jquery.emojiarea/packs/basic/emojis.js"></script>
<script type="text/javascript" src="/static/webim/js/app.js"></script>
<script type="text/javascript" src="/static/webim/js/services.js"></script>
<script type="text/javascript" src="/static/webim/js/controllers.js"></script>
<script type="text/javascript" src="/static/webim/js/directive.js"></script>
<script type="text/javascript" src="/static/webim/js/factorys.js"></script>

<script>
    setInterval(function(){
        $(".nano").nanoScroller();
    },600);
</script>
</html>
